Model/src/xml/schemas/external/HomeFolderService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="http://www.capwebct.fr/capdemat"
  xmlns:capdemat="http://www.capwebct.fr/capdemat"
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  elementFormDefault="qualified" 
  attributeFormDefault="unqualified">

  <xs:element name="GetHomeFoldersRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="LocalAuthority"  type="xs:string">
          <xs:annotation>
            <xs:documentation>
              The local authority for which the home folders list is asked for
            </xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="ShortForm" type="xs:boolean" >
          <xs:annotation>
            <xs:documentation>
              Whether the returned list is short (only individuals names and ids) or full
            </xs:documentation>
          </xs:annotation>        
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="GetHomeFoldersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="HomeFolder"  type="capdemat:HomeFolderType" minOccurs="0" 
          maxOccurs="unbounded" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:complexType name="HomeFolderType">
    <xs:sequence>
      <xs:element name="Id" type="xs:long" />
      <xs:element name="Address" type="xs:string" />
      <xs:element name="Individual" type="capdemat:IndividualType" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="IndividualType">
    <xs:sequence>
      <xs:element name="Id" type="xs:long" />
      <xs:element name="FirstName" type="xs:string" />
      <xs:element name="LastName" type="xs:string" />
      <xs:element name="IsChild" type="xs:boolean" default="false" />
      <xs:element name="IsHomeFolderResponsible" type="xs:boolean" default="false" />
    </xs:sequence>
  </xs:complexType>

</xs:schema>
