Model/src/xml/schemas/external/RequestExternalInformation.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="http://www.capwebct.fr/modules/payment/schema/rei"
  xmlns:rei="http://www.capwebct.fr/modules/payment/schema/rei"
  xmlns:xs="http://www.w3.org/2001/XMLSchema" 
  elementFormDefault="qualified"
  attributeFormDefault="unqualified">

  <xs:element name="getExternalInformationRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="LocalAuthority"  type="xs:string">
          <xs:annotation>
            <xs:documentation>
              The local authority to which the family belongs
            </xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="RequestId" type="xs:long">
          <xs:annotation>
            <xs:documentation>
              The external identifier of the home folder for whom the accounts are requested
            </xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="getExternalInformationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" name="ExternalInformation" type="rei:externalInformationType">
          <xs:annotation>
            <xs:documentation>
              The container for the home folder's deposit accounts list
            </xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:complexType name="externalInformationType">
    <xs:sequence>
      <xs:element name="Key" type="xs:string" />
      <xs:element name="Value" type="xs:string" />
    </xs:sequence>
  </xs:complexType>

</xs:schema>
