Model/src/xml/schemas/external/SendRequest.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="http://www.capwebct.fr/modules/payment/schema/sre"
  xmlns:sre="http://www.capwebct.fr/modules/payment/schema/sre"
  xmlns:cvq="http://www.cg95.fr/cvq/schema/common"
  xmlns:srr="http://www.cg95.fr/cvq/schema/srr" 
  xmlns:scrr="http://www.cg95.fr/cvq/schema/scrr" 
  xmlns:parr="http://www.cg95.fr/cvq/schema/parr" 
  xmlns:rarr="http://www.cg95.fr/cvq/schema/rarr" 
  xmlns:bdr="http://www.cg95.fr/cvq/schema/bdr" 
  xmlns:ddr="http://www.cg95.fr/cvq/schema/ddr" 
  xmlns:mdr="http://www.cg95.fr/cvq/schema/mdr" 
  xmlns:ipsr="http://www.cg95.fr/cvq/schema/ipsr" 
  xmlns:serrr="http://www.cg95.fr/cvq/schema/serrr" 
  xmlns:xs="http://www.w3.org/2001/XMLSchema" 
  elementFormDefault="qualified"
  attributeFormDefault="unqualified">

  <xs:import namespace="http://www.cg95.fr/cvq/schema/common"
    schemaLocation="http://people.zenexity.fr/~bor/capdemat/latest/common/CVQCommonElements.xsd" />
  <xs:import namespace="http://www.cg95.fr/cvq/schema/srr"
    schemaLocation="http://people.zenexity.fr/~bor/capdemat/latest/request/SchoolRegistrationRequest.xsd" />
  <xs:import namespace="http://www.cg95.fr/cvq/schema/scrr"
    schemaLocation="http://people.zenexity.fr/~bor/capdemat/latest/request/SchoolCanteenRegistrationRequest.xsd" />
  <xs:import namespace="http://www.cg95.fr/cvq/schema/parr"
    schemaLocation="http://people.zenexity.fr/~bor/capdemat/latest/request/PerischoolActivityRegistrationRequest.xsd" />
  <xs:import namespace="http://www.cg95.fr/cvq/schema/rarr"
    schemaLocation="http://people.zenexity.fr/~bor/capdemat/latest/request/RecreationActivityRegistrationRequest.xsd" />
  <xs:import namespace="http://www.cg95.fr/cvq/schema/bdr"
    schemaLocation="http://people.zenexity.fr/~bor/capdemat/latest/request/BirthDetailsRequest.xsd" />
  <xs:import namespace="http://www.cg95.fr/cvq/schema/ddr"
    schemaLocation="http://people.zenexity.fr/~bor/capdemat/latest/request/DeathDetailsRequest.xsd" />
  <xs:import namespace="http://www.cg95.fr/cvq/schema/ipsr"
    schemaLocation="http://people.zenexity.fr/~bor/capdemat/latest/request/IconitoPsSubscriptionRequest.xsd" />
  <xs:import namespace="http://www.cg95.fr/cvq/schema/serrr"
    schemaLocation="http://people.zenexity.fr/~bor/capdemat/latest/request/StandardElectoralRollRegistrationRequest.xsd" />

  <xs:element name="SendRequestRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="RequestTypeLabel" type="xs:string">
          <xs:annotation>
            <xs:documentation>
              The label of the request type.
            </xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="Request" type="cvq:RequestType" />
        <xs:element ref="scrr:SchoolCanteenRegistrationRequest" />
        <xs:element ref="srr:SchoolRegistrationRequest" />
        <xs:element ref="parr:PerischoolActivityRegistrationRequest" />
        <xs:element ref="rarr:RecreationActivityRegistrationRequest" />
        <xs:element ref="bdr:BirthDetailsRequest" />
        <xs:element ref="ddr:DeathDetailsRequest" />
        <xs:element ref="mdr:MarriageDetailsRequest" />
        <xs:element ref="ipsr:IconitoPsSubscriptionRequest" />
        <xs:element ref="serrr:StandardElectoralRollRegistrationRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>
