Model/src/xml/schemas/external/SendRequest.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="http://www.capwebct.fr/modules/payment/schema/sre"
  xmlns:srr="http://www.capwebct.fr/modules/payment/schema/sre"
  xmlns:cvq="http://www.cg95.fr/cvq/schema/common"
  xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
  attributeFormDefault="unqualified">

  <xs:import namespace="http://www.cg95.fr/cvq/schema/common"
    schemaLocation="http://capdemat.capwebct.fr/browser/tags/CVQ_4_0/Generator/src/xml/schemas/common/CVQCommonElements.xsd" />

  <xs:element name="SendRequestRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="RequestTypeLabel" type="xs:string">
          <xs:annotation>
            <xs:documentation>
              The label of the request type.
            </xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="Request" type="cvq:RequestType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>