Model/src/xml/schemas/external/wsdl/CheckExternalReferential.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:schema="http://www.capwebct.fr/modules/payment/schema/cer"
                  xmlns:tns="http://www.capwebct.fr/modules/payment/schema/cer"
                  name=""
                  targetNamespace="http://www.capwebct.fr/modules/payment/schema/cer">
   <wsdl:types>
      <xs:schema xmlns:cer="http://www.capwebct.fr/modules/payment/schema/cer"
                 xmlns:cvq="http://www.cg95.fr/cvq/schema/common"
                 xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 targetNamespace="http://www.capwebct.fr/modules/payment/schema/cer"
                 elementFormDefault="qualified"
                 attributeFormDefault="unqualified">

         <xs:import namespace="http://www.cg95.fr/cvq/schema/common"
                    schemaLocation="http://people.zenexity.fr/~bor/capdemat/latest/common/CVQCommonElements.xsd"/>

         <xs:element name="checkExternalReferentialRequest">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="Request" type="cvq:RequestType"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>

         <xs:element name="checkExternalReferentialResponse">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="Message" type="xs:string" maxOccurs="unbounded"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>

      </xs:schema>
   </wsdl:types>
   <wsdl:message name="checkExternalReferentialRequestMessage">
      <wsdl:part name="body" element="schema:checkExternalReferentialRequest"/>
   </wsdl:message>
   <wsdl:message name="checkExternalReferentialResponseMessage">
      <wsdl:part name="body" element="schema:checkExternalReferentialResponse"/>
   </wsdl:message>
   <wsdl:portType name="PortType">
      <wsdl:operation name="checkExternalReferential">
         <wsdl:input name="checkExternalReferentialInput"
                     message="tns:checkExternalReferentialRequestMessage"/>
         <wsdl:output name="checkExternalReferentialOutput"
                      message="tns:checkExternalReferentialResponseMessage"/>
      </wsdl:operation>
   </wsdl:portType>
   <wsdl:binding name="Binding" type="tns:PortType">
      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="checkExternalReferential">
         <wsdlsoap:operation soapAction="http://www.capwebct.fr/modules/payment/schema/cer/checkExternalReferential"/>
         <wsdl:input name="checkExternalReferentialInput">
            <wsdlsoap:body use="literal"/>
         </wsdl:input>
         <wsdl:output name="checkExternalReferentialOutput">
            <wsdlsoap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:service name="Service">
      <wsdl:port name="Port" binding="tns:Binding">
         <wsdlsoap:address location=""/>
      </wsdl:port>
   </wsdl:service>
</wsdl:definitions>