Model/src/xml/schemas/external/wsdl/DocumentService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:schema="http://www.capwebct.fr/capdemat"
                  xmlns:tns="http://www.capwebct.fr/capdemat"
                  name=""
                  targetNamespace="http://www.capwebct.fr/capdemat">
   <wsdl:types>
      <xs:schema xmlns:capdemat="http://www.capwebct.fr/capdemat"
                 xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 xmlns:common="http://www.cg95.fr/cvq/schema/common"
                 targetNamespace="http://www.capwebct.fr/capdemat"
                 elementFormDefault="qualified"
                 attributeFormDefault="unqualified">

         <xs:import namespace="http://www.cg95.fr/cvq/schema/common"
                    schemaLocation="http://people.zenexity.fr/~bor/capdemat/V4_2/common/CVQCommonElements.xsd"/>
    
         <xs:element name="GetDocumentListRequest">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="RequestId" type="xs:long">
                     <xs:annotation>
                        <xs:documentation>
              The request id for wich we want the document list.
            </xs:documentation>
                     </xs:annotation>
                  </xs:element>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
  
         <xs:element name="GetDocumentListResponse">
            <xs:complexType>
               <xs:sequence>
                  <xs:choice>
                     <xs:element name="Error" type="xs:string"/>
                     <xs:element name="Document" type="capdemat:DocumentType" maxOccurs="unbounded">
                        <xs:annotation>
                           <xs:documentation>
                The informations for all documents from the request.
              </xs:documentation>
                        </xs:annotation>
                     </xs:element>
                  </xs:choice>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
  
         <xs:complexType name="DocumentType">
            <xs:sequence>
               <xs:element name="DocumentId" type="xs:long"/>
               <xs:element name="Type" type="xs:string"/>
               <xs:element name="State" type="xs:string" default="Validated"/>
               <xs:element name="EndValidityDate" type="xs:date" minOccurs="0"/>
               <xs:element name="ValidationDate" type="xs:date" minOccurs="0"/>
            </xs:sequence>
         </xs:complexType>
  
         <xs:element name="GetDocumentRequest">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="RequestId" type="xs:long">
                     <xs:annotation>
                        <xs:documentation>
              The request id for wich we want the document.
            </xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="DocumentId" type="xs:long" minOccurs="0">
                     <xs:annotation>
                        <xs:documentation>
              The document id for wich we want the binary.
            </xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="MergeDocument" type="xs:boolean" default="false">
                     <xs:annotation>
                        <xs:documentation>
              True, if we want the document merged in one unique page, false if we want the original document
            </xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="PdfSummary" type="xs:boolean" default="false">
                     <xs:annotation>
                        <xs:documentation>
              True, if we want the request pdf
            </xs:documentation>
                     </xs:annotation>
                  </xs:element>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
  
         <xs:element name="GetDocumentResponse">
            <xs:complexType>
               <xs:sequence>
                  <xs:choice>
                     <xs:element name="Error" type="xs:string"/>
                     <xs:element name="DocumentBinary" type="xs:base64Binary" maxOccurs="unbounded">
                        <xs:annotation>
                           <xs:documentation>
                The binary of the document or pdf.
                </xs:documentation>
                        </xs:annotation>
                     </xs:element>
                  </xs:choice>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
  
      </xs:schema>
   </wsdl:types>
   <wsdl:message name="GetDocumentListRequestMessage">
      <wsdl:part name="body" element="schema:GetDocumentListRequest"/>
   </wsdl:message>
   <wsdl:message name="GetDocumentListResponseMessage">
      <wsdl:part name="body" element="schema:GetDocumentListResponse"/>
   </wsdl:message>
   <wsdl:message name="GetDocumentRequestMessage">
      <wsdl:part name="body" element="schema:GetDocumentRequest"/>
   </wsdl:message>
   <wsdl:message name="GetDocumentResponseMessage">
      <wsdl:part name="body" element="schema:GetDocumentResponse"/>
   </wsdl:message>
   <wsdl:portType name="PortType">
      <wsdl:operation name="GetDocumentList">
         <wsdl:input name="GetDocumentListInput" message="tns:GetDocumentListRequestMessage"/>
         <wsdl:output name="GetDocumentListOutput" message="tns:GetDocumentListResponseMessage"/>
      </wsdl:operation>
      <wsdl:operation name="GetDocument">
         <wsdl:input name="GetDocumentInput" message="tns:GetDocumentRequestMessage"/>
         <wsdl:output name="GetDocumentOutput" message="tns:GetDocumentResponseMessage"/>
      </wsdl:operation>
   </wsdl:portType>
   <wsdl:binding name="Binding" type="tns:PortType">
      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="GetDocumentList">
         <wsdlsoap:operation soapAction="http://www.capwebct.fr/capdemat/GetDocumentList"/>
         <wsdl:input name="GetDocumentListInput">
            <wsdlsoap:body use="literal"/>
         </wsdl:input>
         <wsdl:output name="GetDocumentListOutput">
            <wsdlsoap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetDocument">
         <wsdlsoap:operation soapAction="http://www.capwebct.fr/capdemat/GetDocument"/>
         <wsdl:input name="GetDocumentInput">
            <wsdlsoap:body use="literal"/>
         </wsdl:input>
         <wsdl:output name="GetDocumentOutput">
            <wsdlsoap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:service name="Service">
      <wsdl:port name="Port" binding="tns:Binding">
         <wsdlsoap:address location=""/>
      </wsdl:port>
   </wsdl:service>
</wsdl:definitions>