Model/src/xml/schemas/external/wsdl/HomeFolderService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:schema="http://www.capwebct.fr/capdemat"
                  xmlns:tns="http://www.capwebct.fr/capdemat"
                  name=""
                  targetNamespace="http://www.capwebct.fr/capdemat">
   <wsdl:types>
      <xs:schema xmlns:capdemat="http://www.capwebct.fr/capdemat"
                 xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 targetNamespace="http://www.capwebct.fr/capdemat"
                 elementFormDefault="qualified"
                 attributeFormDefault="unqualified">

         <xs:element name="GetHomeFoldersRequest">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="LocalAuthority" type="xs:string">
                     <xs:annotation>
                        <xs:documentation>
              The local authority for which the home folders list is asked for
            </xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="ShortForm" type="xs:boolean">
                     <xs:annotation>
                        <xs:documentation>
              Whether the returned list is short (only individuals names and ids) or full
            </xs:documentation>
                     </xs:annotation>        
                  </xs:element>
               </xs:sequence>
            </xs:complexType>
         </xs:element>

         <xs:element name="GetHomeFoldersResponse">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="HomeFolder" type="capdemat:HomeFolderType" minOccurs="0"
                              maxOccurs="unbounded"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>

         <xs:complexType name="HomeFolderType">
            <xs:sequence>
               <xs:element name="Id" type="xs:long"/>
               <xs:element name="Address" type="xs:string"/>
               <xs:element name="Individual" type="capdemat:IndividualType" maxOccurs="unbounded"/>
            </xs:sequence>
         </xs:complexType>
  
         <xs:complexType name="IndividualType">
            <xs:sequence>
               <xs:element name="Id" type="xs:long"/>
               <xs:element name="FirstName" type="xs:string"/>
               <xs:element name="LastName" type="xs:string"/>
               <xs:element name="IsChild" type="xs:boolean" default="false"/>
               <xs:element name="IsHomeFolderResponsible" type="xs:boolean" default="false"/>
            </xs:sequence>
         </xs:complexType>

      </xs:schema>
   </wsdl:types>
   <wsdl:message name="GetHomeFoldersRequestMessage">
      <wsdl:part name="body" element="schema:GetHomeFoldersRequest"/>
   </wsdl:message>
   <wsdl:message name="GetHomeFoldersResponseMessage">
      <wsdl:part name="body" element="schema:GetHomeFoldersResponse"/>
   </wsdl:message>
   <wsdl:portType name="PortType">
      <wsdl:operation name="GetHomeFolders">
         <wsdl:input name="GetHomeFoldersInput" message="tns:GetHomeFoldersRequestMessage"/>
         <wsdl:output name="GetHomeFoldersOutput" message="tns:GetHomeFoldersResponseMessage"/>
      </wsdl:operation>
   </wsdl:portType>
   <wsdl:binding name="Binding" type="tns:PortType">
      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="GetHomeFolders">
         <wsdlsoap:operation soapAction="http://www.capwebct.fr/capdemat/GetHomeFolders"/>
         <wsdl:input name="GetHomeFoldersInput">
            <wsdlsoap:body use="literal"/>
         </wsdl:input>
         <wsdl:output name="GetHomeFoldersOutput">
            <wsdlsoap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:service name="Service">
      <wsdl:port name="Port" binding="tns:Binding">
         <wsdlsoap:address location=""/>
      </wsdl:port>
   </wsdl:service>
</wsdl:definitions>