Model/src/xml/schemas/external/wsdl/HomeFolderMappingService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:schema="http://www.capwebct.fr/capdemat"
                  xmlns:tns="http://www.capwebct.fr/capdemat"
                  name=""
                  targetNamespace="http://www.capwebct.fr/capdemat">
   <wsdl:types>
      <xs:schema xmlns:capdemat="http://www.capwebct.fr/capdemat"
                 xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 targetNamespace="http://www.capwebct.fr/capdemat"
                 elementFormDefault="qualified"
                 attributeFormDefault="unqualified">

         <xs:element name="homeFolderMappingRequest">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="LocalAuthority" type="xs:string">
                     <xs:annotation>
                        <xs:documentation>
              The local authority to which the request belongs to
            </xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="HomeFolderMapping" type="capdemat:HomeFolderMappingType"/>
                  <xs:element name="IndividualMapping" type="capdemat:IndividualMappingType" minOccurs="0"
                              maxOccurs="unbounded"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>

         <xs:complexType name="HomeFolderMappingType">
            <xs:sequence>
               <xs:element name="ExternalCapDematId" type="xs:string"/>
               <xs:element name="ExternalId" type="xs:string"/>
            </xs:sequence>
         </xs:complexType>

         <xs:complexType name="IndividualMappingType">
            <xs:sequence>
               <xs:element name="ExternalCapDematId" type="xs:string"/>
               <xs:element name="ExternalId" type="xs:string"/>
            </xs:sequence>
         </xs:complexType>

      </xs:schema>
   </wsdl:types>
   <wsdl:message name="homeFolderMappingRequestMessage">
      <wsdl:part name="body" element="schema:homeFolderMappingRequest"/>
   </wsdl:message>
   <wsdl:portType name="PortType">
      <wsdl:operation name="homeFolderMapping">
         <wsdl:input name="homeFolderMappingInput" message="tns:homeFolderMappingRequestMessage"/>
      </wsdl:operation>
   </wsdl:portType>
   <wsdl:binding name="Binding" type="tns:PortType">
      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="homeFolderMapping">
         <wsdlsoap:operation soapAction="http://www.capwebct.fr/capdemat/homeFolderMapping"/>
         <wsdl:input name="homeFolderMappingInput">
            <wsdlsoap:body use="literal"/>
         </wsdl:input>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:service name="Service">
      <wsdl:port name="Port" binding="tns:Binding">
         <wsdlsoap:address location=""/>
      </wsdl:port>
   </wsdl:service>
</wsdl:definitions>