Model/src/xml/schemas/external/wsdl/requests.wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:schema="http://www.capwebct.fr/capdemat" targetNamespace="http://www.capwebct.fr/capdemat">
  <wsdl:types>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:capdemat="http://www.capwebct.fr/capdemat" xmlns:common="http://www.cg95.fr/cvq/schema/common" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.capwebct.fr/capdemat">

  <xs:import namespace="http://www.cg95.fr/cvq/schema/common" schemaLocation="http://capdemat.capwebct.fr/browser/tags/CVQ_3_2_0/Generator/src/xml/schemas/common/CVQCommonElements.xsd"/>

  <xs:element name="GetRequestsRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="O" name="RequestTypeLabel" type="xs:string">
          <xs:annotation>
            <xs:documentation>
              The label of the request types. If not provided, all authorized 
	      request types will be returned.
            </xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="DateFrom" type="xs:dateTime">
          <xs:annotation>
            <xs:documentation>
              The date to search from. 
            </xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="DateTo" type="xs:dateTime">
          <xs:annotation>
            <xs:documentation>
              The date to search to. Defaults to today (included) if not provided.
            </xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element default="Validated" name="State" type="common:RequestStateType"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="GetRequestsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:choice>
          <xs:element minOccurs="0" name="Error" type="xs:string"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="Request" type="common:RequestType"/>          
        </xs:choice>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="AckRequestsRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="AckElements" type="capdemat:AckRequestType"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="AckRequestsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Accomplished" type="xs:boolean"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  
  <xs:complexType name="AckRequestType">
    <xs:sequence>
      <xs:element name="RequestId" type="xs:long">
        <xs:annotation>
          <xs:documentation>
            Processed request identifier
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Erroneous" type="xs:boolean">
        <xs:annotation>
          <xs:documentation>
            Error flag
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>  

</xs:schema>
  </wsdl:types>
  <wsdl:message name="GetRequestsResponse">
    <wsdl:part element="schema:GetRequestsResponse" name="GetRequestsResponse"/>
  </wsdl:message>
  <wsdl:message name="GetRequestsRequest">
    <wsdl:part element="schema:GetRequestsRequest" name="GetRequestsRequest"/>
  </wsdl:message>
  <wsdl:message name="AckRequestsResponse">
    <wsdl:part element="schema:AckRequestsResponse" name="AckRequestsResponse"/>
  </wsdl:message>
  <wsdl:message name="AckRequestsRequest">
    <wsdl:part element="schema:AckRequestsRequest" name="AckRequestsRequest"/>
  </wsdl:message>
  <wsdl:portType name="requests">
    <wsdl:operation name="GetRequests">
      <wsdl:input message="schema:GetRequestsRequest" name="GetRequestsRequest"/>
      <wsdl:output message="schema:GetRequestsResponse" name="GetRequestsResponse"/>
    </wsdl:operation>
    <wsdl:operation name="AckRequests">
      <wsdl:input message="schema:AckRequestsRequest" name="AckRequestsRequest"/>
      <wsdl:output message="schema:AckRequestsResponse" name="AckRequestsResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="requestsBinding" type="schema:requests">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="GetRequests">
      <soap:operation soapAction=""/>
      <wsdl:input name="GetRequestsRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="GetRequestsResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AckRequests">
      <soap:operation soapAction=""/>
      <wsdl:input name="AckRequestsRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="AckRequestsResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="requestsService">
    <wsdl:port binding="schema:requestsBinding" name="requestsPort">
      <soap:address location="/wsdl"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>