Model/src/xml/schemas/external/wsdl/RequestResponseMessage.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:schema="http://www.capwebct.fr/capdemat"
                  xmlns:tns="http://www.capwebct.fr/capdemat"
                  name=""
                  targetNamespace="http://www.capwebct.fr/capdemat">
   <wsdl:types>
      <xs:schema xmlns:capdemat="http://www.capwebct.fr/capdemat"
                 xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 targetNamespace="http://www.capwebct.fr/capdemat"
                 elementFormDefault="qualified"
                 attributeFormDefault="unqualified">

         <xs:element name="RequestResponseMessage">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="Error" type="capdemat:ErrorType" minOccurs="0">
                     <xs:annotation>
                        <xs:documentation>
              The container type for error responses
            </xs:documentation>
                     </xs:annotation>
                  </xs:element>
               </xs:sequence>
               <xs:attribute name="state" type="xs:string"/>
               <xs:attribute name="timestamp" type="xs:dateTime"/>
            </xs:complexType>
         </xs:element>

         <xs:complexType name="ErrorType">
            <xs:sequence>
               <xs:element name="Message" type="xs:long"/>
            </xs:sequence>
            <xs:attribute name="code" type="xs:integer"/>
         </xs:complexType>

      </xs:schema>
   </wsdl:types>
   <wsdl:message name="RequestResponseMessageMessage">
      <wsdl:part name="body" element="schema:RequestResponseMessage"/>
   </wsdl:message>
   <wsdl:portType name="PortType"/>
   <wsdl:binding name="Binding" type="tns:PortType">
      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
   </wsdl:binding>
   <wsdl:service name="Service">
      <wsdl:port name="Port" binding="tns:Binding">
         <wsdlsoap:address location=""/>
      </wsdl:port>
   </wsdl:service>
</wsdl:definitions>