Model/src/xml/schemas/external/wsdl/RequestService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:schema="http://www.capwebct.fr/capdemat"
                  xmlns:tns="http://www.capwebct.fr/capdemat"
                  name=""
                  targetNamespace="http://www.capwebct.fr/capdemat">
   <wsdl:types>
      <xs:schema xmlns:capdemat="http://www.capwebct.fr/capdemat"
                 xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 xmlns:common="http://www.cg95.fr/cvq/schema/common"
                 targetNamespace="http://www.capwebct.fr/capdemat"
                 elementFormDefault="qualified"
                 attributeFormDefault="unqualified">

         <xs:import namespace="http://www.cg95.fr/cvq/schema/common"
                    schemaLocation="http://people.zenexity.fr/~bor/capdemat/V4_2/common/CVQCommonElements.xsd"/>

         <xs:element name="GetRequestsRequest">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="RequestTypeLabel" type="xs:string" minOccurs="0">
                     <xs:annotation>
                        <xs:documentation>
              The label of the request types. If not provided, all authorized 
	          request types will be returned.
            </xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="Id" type="xs:long" minOccurs="0">
                     <xs:annotation>
                        <xs:documentation>
              To retrieve a specific request by id
            </xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="DateFrom" type="xs:dateTime" minOccurs="0">
                     <xs:annotation>
                        <xs:documentation>
              The date to search from
            </xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="DateTo" type="xs:dateTime" minOccurs="0">
                     <xs:annotation>
                        <xs:documentation>
              The date to search to. Defaults to today (included) if not provided.
            </xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="State" type="common:RequestStateType" default="Validated"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>

         <xs:element name="GetRequestsResponse">
            <xs:complexType>
               <xs:sequence>
                  <xs:choice>
                     <xs:element name="Error" type="xs:string" minOccurs="0"/>
                     <xs:element name="Request" type="common:RequestType" minOccurs="0" maxOccurs="unbounded"/>          
                  </xs:choice>
               </xs:sequence>
            </xs:complexType>
         </xs:element>

         <xs:element name="AckRequestsRequest">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="AckElements" type="capdemat:AckRequestType" maxOccurs="unbounded"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>

         <xs:element name="AckRequestsResponse">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="Accomplished" type="xs:boolean"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
  
         <xs:complexType name="AckRequestType">
            <xs:sequence>
               <xs:element name="RequestId" type="xs:long">
                  <xs:annotation>
                     <xs:documentation>
            Processed request identifier
          </xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="Erroneous" type="xs:boolean">
                  <xs:annotation>
                     <xs:documentation>
            Error flag
          </xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:complexType>  

      </xs:schema>
   </wsdl:types>
   <wsdl:message name="GetRequestsRequestMessage">
      <wsdl:part name="body" element="schema:GetRequestsRequest"/>
   </wsdl:message>
   <wsdl:message name="GetRequestsResponseMessage">
      <wsdl:part name="body" element="schema:GetRequestsResponse"/>
   </wsdl:message>
   <wsdl:message name="AckRequestsRequestMessage">
      <wsdl:part name="body" element="schema:AckRequestsRequest"/>
   </wsdl:message>
   <wsdl:message name="AckRequestsResponseMessage">
      <wsdl:part name="body" element="schema:AckRequestsResponse"/>
   </wsdl:message>
   <wsdl:portType name="PortType">
      <wsdl:operation name="Get">
         <wsdl:input name="GetInput" message="tns:GetRequestsRequestMessage"/>
      </wsdl:operation>
      <wsdl:operation name="Ack">
         <wsdl:input name="AckInput" message="tns:AckRequestsRequestMessage"/>
      </wsdl:operation>
   </wsdl:portType>
   <wsdl:binding name="Binding" type="tns:PortType">
      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="Get">
         <wsdlsoap:operation soapAction="http://www.capwebct.fr/capdemat/Get"/>
         <wsdl:input name="GetInput">
            <wsdlsoap:body use="literal"/>
         </wsdl:input>
      </wsdl:operation>
      <wsdl:operation name="Ack">
         <wsdlsoap:operation soapAction="http://www.capwebct.fr/capdemat/Ack"/>
         <wsdl:input name="AckInput">
            <wsdlsoap:body use="literal"/>
         </wsdl:input>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:service name="Service">
      <wsdl:port name="Port" binding="tns:Binding">
         <wsdlsoap:address location=""/>
      </wsdl:port>
   </wsdl:service>
</wsdl:definitions>