Model/src/xml/schemas/external/wsdl/RequestInstructionNotificationService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:schema="http://www.capwebct.fr/capdemat"
                  xmlns:tns="http://www.capwebct.fr/capdemat"
                  name=""
                  targetNamespace="http://www.capwebct.fr/capdemat">
   <wsdl:types>
      <xs:schema xmlns:capdemat="http://www.capwebct.fr/capdemat"
                 xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 targetNamespace="http://www.capwebct.fr/capdemat"
                 elementFormDefault="qualified"
                 attributeFormDefault="unqualified">

         <xs:element name="RequestInstructionNotification">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="LocalAuthority" type="xs:string">
                     <xs:annotation>
                        <xs:documentation>
              The local authority to which the request belongs to
            </xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="RequestId" type="xs:long">
                     <xs:annotation>
                        <xs:documentation>
              The identifier of the CapDemat request
            </xs:documentation>
                     </xs:annotation>        
                  </xs:element>
                  <xs:element name="HomeFolderMapping" type="capdemat:HomeFolderMappingType"/>
                  <xs:element name="IndividualMapping" type="capdemat:IndividualMappingType" minOccurs="0"
                              maxOccurs="unbounded"/>
                  <xs:element name="RequestActivityMapping" type="capdemat:RequestActivityMappingType"
                              minOccurs="0"
                              maxOccurs="unbounded"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>

         <xs:complexType name="HomeFolderMappingType">
            <xs:sequence>
               <xs:element name="CapDematId" type="xs:long"/>
               <xs:element name="ExternalId" type="xs:string"/>
            </xs:sequence>
         </xs:complexType>

         <xs:complexType name="IndividualMappingType">
            <xs:sequence>
               <xs:element name="CapDematId" type="xs:long"/>
               <xs:element name="ExternalId" type="xs:string"/>
            </xs:sequence>
         </xs:complexType>

         <xs:complexType name="RequestActivityMappingType">
            <xs:sequence>
               <xs:element name="CapDematId" type="xs:long"/>
               <xs:element name="ExternalId" type="xs:string" maxOccurs="unbounded"/>
            </xs:sequence>
         </xs:complexType>

      </xs:schema>
   </wsdl:types>
   <wsdl:message name="RequestInstructionNotificationMessage">
      <wsdl:part name="body" element="schema:RequestInstructionNotification"/>
   </wsdl:message>
   <wsdl:portType name="PortType"/>
   <wsdl:binding name="Binding" type="tns:PortType">
      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
   </wsdl:binding>
   <wsdl:service name="Service">
      <wsdl:port name="Port" binding="tns:Binding">
         <wsdlsoap:address location=""/>
      </wsdl:port>
   </wsdl:service>
</wsdl:definitions>