Model/src/xml/schemas/external/wsdl/SendRequest.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:schema="http://www.capwebct.fr/modules/payment/schema/sre"
                  xmlns:tns="http://www.capwebct.fr/modules/payment/schema/sre"
                  name=""
                  targetNamespace="http://www.capwebct.fr/modules/payment/schema/sre">
   <wsdl:types>
      <xs:schema xmlns:srr="http://www.capwebct.fr/modules/payment/schema/sre"
                 xmlns:cvq="http://www.cg95.fr/cvq/schema/common"
                 xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 targetNamespace="http://www.capwebct.fr/modules/payment/schema/sre"
                 elementFormDefault="qualified"
                 attributeFormDefault="unqualified">

         <xs:import namespace="http://www.cg95.fr/cvq/schema/common"
                    schemaLocation="http://capdemat.capwebct.fr/browser/trunk/Generator/src/xml/schemas/common/CVQCommonElements.xsd"/>

         <xs:element name="SendRequestRequest">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="RequestTypeLabel" type="xs:string">
                     <xs:annotation>
                        <xs:documentation>
              The label of the request type.
            </xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="Request" type="cvq:RequestType"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>

      </xs:schema>
   </wsdl:types>
   <wsdl:message name="SendRequestRequestMessage">
      <wsdl:part name="body" element="schema:SendRequestRequest"/>
   </wsdl:message>
   <wsdl:portType name="PortType">
      <wsdl:operation name="Send">
         <wsdl:input name="SendInput" message="tns:SendRequestRequestMessage"/>
      </wsdl:operation>
   </wsdl:portType>
   <wsdl:binding name="Binding" type="tns:PortType">
      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="Send">
         <wsdlsoap:operation soapAction="http://www.capwebct.fr/modules/payment/schema/sre/Send"/>
         <wsdl:input name="SendInput">
            <wsdlsoap:body use="literal"/>
         </wsdl:input>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:service name="Service">
      <wsdl:port name="Port" binding="tns:Binding">
         <wsdlsoap:address location=""/>
      </wsdl:port>
   </wsdl:service>
</wsdl:definitions>