Model/src/xml/schemas/external/import/HomeFolderImport.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="http://www.cg95.fr/cvq/schema/import"
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns:cvq="http://www.cg95.fr/cvq/schema/common"
  elementFormDefault="qualified"
  attributeFormDefault="unqualified">
  <xs:import namespace="http://www.cg95.fr/cvq/schema/common"
    schemaLocation="https://raw.github.com/bobeal/capdemat/V4_6-RB/Generator/src/xml/schemas/common/CVQCommonElements.xsd" />
  <xs:element name="HomeFolderImport">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="ExternalServiceLabel" type="xs:string" />
        <xs:element name="HomeFolder" type="cvq:HomeFolderType" maxOccurs="unbounded" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
