Generator/src/xml/schemas/request/AlignmentNumberingConnectionRequest.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
<xs:schema targetNamespace="http://www.cg95.fr/cvq/schema/ancr"
  xmlns:ancr="http://www.cg95.fr/cvq/schema/ancr"
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns:cvq="http://www.cg95.fr/cvq/schema/common"
  elementFormDefault="qualified"
  attributeFormDefault="unqualified">

  <xs:import namespace="http://www.cg95.fr/cvq/schema/common"
    schemaLocation="../common/CVQCommonElements.xsd" />

  <xs:element name="AlignmentNumberingConnectionRequest">
    <xs:annotation>
      <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
        Demande d'alignement, numérotage, raccordement
      </xs:documentation>
      <xs:documentation xml:lang="en" source="http://www.cg95.fr/cvq/schema/longdesc">
        Alignment, numbering, connection request
      </xs:documentation>
      <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
        Alignement, numérotage, raccordement
      </xs:documentation>
      <xs:documentation xml:lang="en" source="http://www.cg95.fr/cvq/schema/shortdesc">
        Alignment, numbering, connection
      </xs:documentation>
      <xs:appinfo>
        <model namespace="urbanism" />
        <common>
          <namespace name="urbanism" />
          <steps>
            <step index="0" name="requester">
              <widgets>
                <requester />
              </widgets>
              <conditions>
                <condition name="isSameAddress" />
              </conditions>
            </step>
            <step index="1" name="cadastre">
              <conditions>
                <condition name="isOwner" />
              </conditions>
            </step>
            <step index="2" ref="validation" />
          </steps>
        </common>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="cvq:RequestType">
          <xs:sequence>
            <xs:element name="IsAccountAddress" type="xs:boolean" default="true">
              <xs:annotation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
                  L'adresse est la même que celle du compte
                </xs:documentation>
                <xs:appinfo>
                  <common>
                    <step name="requester" />
                    <conditions>
                      <condition name="isSameAddress" type="trigger" />
                    </conditions>
                  </common>
                  <fo />
                  <bo column="2" />
                  <pdf />
                </xs:appinfo>
              </xs:annotation>
            </xs:element>
            <xs:element name="OtherAddress" type="cvq:AddressType" minOccurs="0">
              <xs:annotation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
                  Adresse de l'immeuble
                </xs:documentation>
                <xs:documentation xml:lang="en" source="http://www.cg95.fr/cvq/schema/longdesc">
                  Building address
                </xs:documentation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
                  Adresse de l'immeuble
                </xs:documentation>
                <xs:documentation xml:lang="en" source="http://www.cg95.fr/cvq/schema/shortdesc">
                  Building address
                </xs:documentation>
                <xs:appinfo>
                  <common>
                    <step name="requester" />
                    <conditions>
                      <condition name="isSameAddress" type="unfilled" required="true" />
                    </conditions>
                  </common>
                  <model namespace="users" isTiedToRequest="true" />
                  <fo />
                  <bo column="2" />
                  <pdf />
                </xs:appinfo>
              </xs:annotation>
            </xs:element>
            <xs:element name="RequesterQuality" type="ancr:AncrRequesterQualityType" default="Owner">
              <xs:annotation>
                <xs:appinfo>
                  <common>
                    <step name="cadastre" />
                    <conditions>
                      <condition name="isOwner" type="trigger" />
                    </conditions>
                  </common>
                  <fo />
                  <bo column="1" />
                  <pdf />
                </xs:appinfo>
              </xs:annotation>
            </xs:element>
            <xs:element name="OwnerLastName" type="cvq:LastNameType" minOccurs="0">
              <xs:annotation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
                  Nom du propriétaire
                </xs:documentation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
                  Nom du propriétaire
                </xs:documentation>
                <xs:appinfo>
                  <common>
                    <step name="cadastre" />
                    <conditions>
                      <condition name="isOwner" type="unfilled" required="true" />
                    </conditions>
                  </common>
                  <fo />
                  <bo column="1" />
                  <pdf />
                </xs:appinfo>
              </xs:annotation>
            </xs:element>
            <xs:element name="OwnerFirstNames" type="xs:string" minOccurs="0">
              <xs:annotation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
                  Prénom(s) du propriétaire
                </xs:documentation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
                  Prénom(s) du propriétaire
                </xs:documentation>
                <xs:appinfo>
                  <common>
                    <step name="cadastre" />
                    <conditions>
                      <condition name="isOwner" type="unfilled" required="true" />
                    </conditions>
                  </common>
                  <fo />
                  <bo column="1" />
                 <pdf />
                </xs:appinfo>
              </xs:annotation>
            </xs:element>
            <xs:element name="OwnerAddress" type="cvq:AddressType" minOccurs="0">
              <xs:annotation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
                  Adresse du propriétaire
                </xs:documentation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
                  Adresse du propriétaire
                </xs:documentation>
                <xs:appinfo>
                  <common>
                    <step name="cadastre" />
                    <conditions>
                      <condition name="isOwner" type="unfilled" required="true" />
                    </conditions>
                  </common>
                  <model namespace="users" isTiedToRequest="true" />
                  <fo />
                  <bo column="1" />
                  <pdf />
                </xs:appinfo>
              </xs:annotation>
            </xs:element>
            <xs:element name="Section" type="xs:string">
              <xs:annotation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
                  Section
                </xs:documentation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
                  Section
                </xs:documentation>
                <xs:appinfo>
                  <common>
                    <step name="cadastre" />
                  </common>
                  <fo />
                  <bo column="2" />
                  <pdf />
                </xs:appinfo>
              </xs:annotation>
            </xs:element>
            <xs:element name="Number" type="xs:positiveInteger">
              <xs:annotation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
                  Numéro
                </xs:documentation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
                  Numéro
                </xs:documentation>
                <xs:appinfo>
                  <common>
                    <step name="cadastre" />
                  </common>
                  <fo />
                  <bo column="2" />
                  <pdf />
                </xs:appinfo>
              </xs:annotation>
            </xs:element>
            <xs:element name="Locality" type="xs:string" minOccurs="0">
              <xs:annotation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
                  Lieu-dit
                </xs:documentation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
                  Lieu-dit
                </xs:documentation>
                <xs:appinfo>
                  <common>
                    <step name="cadastre" />
                  </common>
                  <fo />
                  <bo column="2" />
                 <pdf />
                </xs:appinfo>
              </xs:annotation>
            </xs:element>
            <xs:element name="TransportationRoute" type="xs:string" minOccurs="0">
              <xs:annotation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
                  Voie de communication
                </xs:documentation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
                  Voie de communication
                </xs:documentation>
                <xs:appinfo>
                  <common>
                    <step name="cadastre" />
                  </common>
                  <fo />
                  <bo column="2" />
                 <pdf />
                </xs:appinfo>
              </xs:annotation>
            </xs:element>
            <xs:element name="MoreThanTwoYears" type="xs:boolean">
              <xs:annotation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
                  Immeuble de plus de 2 ans
                </xs:documentation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
                  Immeuble de plus de 2 ans
                </xs:documentation>
                <xs:appinfo>
                  <common>
                    <step name="cadastre" />
                  </common>
                  <fo />
                  <bo column="2" />
                  <pdf />
                </xs:appinfo>
              </xs:annotation>
            </xs:element>
            <xs:element name="Area" type="xs:positiveInteger" minOccurs="0">
              <xs:annotation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
                  Superficie en m²
                </xs:documentation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
                  Superficie en m²
                </xs:documentation>
                <xs:appinfo>
                  <common>
                    <step name="cadastre" />
                  </common>
                  <fo />
                  <bo column="2" />
                  <pdf />
                </xs:appinfo>
              </xs:annotation>
            </xs:element>
            <xs:element name="IsAlignment" type="xs:boolean">
              <xs:annotation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
                  Alignement souhaité
                </xs:documentation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
                  Alignement
                </xs:documentation>
                <xs:appinfo>
                  <common>
                    <step name="cadastre" />
                  </common>
                  <fo />
                  <bo column="1" />
                  <pdf />
                </xs:appinfo>
              </xs:annotation>
            </xs:element>
            <xs:element name="IsNumbering" type="xs:boolean">
              <xs:annotation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
                  Numérotage souhaité
                </xs:documentation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
                  Numérotage
                </xs:documentation>
                <xs:appinfo>
                  <common>
                    <step name="cadastre" />
                  </common>
                  <fo />
                  <bo column="1" />
                  <pdf />
                </xs:appinfo>
              </xs:annotation>
            </xs:element>
            <xs:element name="IsConnection" type="xs:boolean">
              <xs:annotation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
                  Raccordement souhaité
                </xs:documentation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
                  Raccordement
                </xs:documentation>
                <xs:appinfo>
                  <common>
                    <step name="cadastre" />
                  </common>
                  <fo />
                  <bo column="1" />
                  <pdf />
                </xs:appinfo>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>

  <xs:simpleType name="AncrRequesterQualityType">
    <xs:annotation>
      <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
        Informations relatives aux relations entre le demandeur et la propri&#x00E9;t&#x00E9;
      </xs:documentation>
      <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
        Agissant en qualit&#x00E9; de
      </xs:documentation>
      <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/translation/enum">
        <enum key="Owner" value="Propri&#x00E9;taire"/>
        <enum key="Tenant" value="Locataire"/>
        <enum key="Cabinet" value="Cabinet"/>
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="Owner"/>
      <xs:enumeration value="Tenant"/>
      <xs:enumeration value="Cabinet"/>
    </xs:restriction>
  </xs:simpleType>

</xs:schema>
