Generator/src/xml/schemas/request/BirthDetailsRequestNG.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="http://www.cg95.fr/cvq/schema/bdr"
  xmlns:bdr="http://www.cg95.fr/cvq/schema/bdr" 
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns:cvq="http://www.cg95.fr/cvq/schema/common" 
  elementFormDefault="qualified" attributeFormDefault="unqualified">

  <xs:import namespace="http://www.cg95.fr/cvq/schema/common" 
    schemaLocation="../common/CVQCommonElements.xsd" />

  <xs:element name="BirthDetailsRequest">
    <xs:annotation>
      <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
        Demande d'acte de naissance
      </xs:documentation>
      <xs:documentation xml:lang="en" source="http://www.cg95.fr/cvq/schema/longdesc">
        Birth details request
      </xs:documentation>
      <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
        Acte de naissance
      </xs:documentation>
      <xs:documentation xml:lang="en" source="http://www.cg95.fr/cvq/schema/shortdesc">
        Birth details request
      </xs:documentation>
      <xs:appinfo>
        <common>
          <namespace name="civil" />
          <steps>
            <step index="0" name="requester" />
            <step index="1" name="nature" />
            <step index="2" name="type" />
            <step index="3" ref="document" />
            <step index="4" ref="validation" />
          </steps>
          <conditions>
            <condition name="isWithRelationship" />
          </conditions>
        </common>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="cvq:RequestType">
          <xs:sequence>
          
            <xs:element name="Format" type="bdr:BirthCertificateFormatType">
              <xs:annotation>
                <xs:appinfo>
                  <common>
                    <step name="type" />
                    <condition name="isWithRelationship" type="trigger" />
                  </common>
                  <fo>
                    <radio />
                  </fo>
                  <bo column="1" after="Motive" />
                </xs:appinfo>
              </xs:annotation>
            </xs:element>
            
            <xs:element name="Copies" type="xs:positiveInteger" default="1">
              <xs:annotation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
                  Nombre d'actes souhaité
                </xs:documentation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
                  Nombre d'actes
                </xs:documentation>
                <xs:appinfo>
                  <common>
                    <step name="type" />
                  </common>
                  <fo />
                  <bo column="1" />
                </xs:appinfo>
              </xs:annotation>
            </xs:element>
            
            <xs:element name="Comment" type="xs:token" minOccurs="0">
              <xs:annotation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
                  Commentaire
                </xs:documentation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
                  Commentaire
                </xs:documentation>
                <xs:appinfo>
                  <common>
                    <step name="type" />
                  </common>
                  <fo>
                    <textarea rows="3" />
                  </fo>
                  <bo column="1"/>
                </xs:appinfo>
              </xs:annotation>
            </xs:element>
            
            <xs:element name="Motive" type="bdr:BirthCertificateMotiveType" minOccurs="0">
              <xs:annotation>
                <xs:appinfo>
                  <common>
                    <step name="type"  />
                    <condition name="isWithRelationship" type="filled" />
                  </common>
                  <fo>
                    <select />
                  </fo>
                  <bo column="1" />
                </xs:appinfo>
              </xs:annotation>
            </xs:element>
            
            <xs:element name="RequesterQuality" type="bdr:BirthRequesterQualityType" minOccurs="0">
              <xs:annotation>
                <xs:appinfo>
                  <common>
                    <step name="nature" /> 
                  </common>
                  <fo>
                    <radio />
                  </fo>
                  <bo column="1" />
                </xs:appinfo>
              </xs:annotation>
            </xs:element>
            
            <xs:element name="RequesterQualityPrecision" type="xs:string" minOccurs="0">
              <xs:annotation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
                  Précisions sur la qualité du demandeur
                </xs:documentation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
                  Précisions
                </xs:documentation>
                <xs:appinfo>
                  <common>
                    <step name="nature" />
                  </common>
                  <fo />
                  <bo column="1" />
                </xs:appinfo>
              </xs:annotation>
            </xs:element>
            
            <xs:element name="BirthLastName" type="cvq:LastNameType">
              <xs:annotation>
                <xs:appinfo>
                  <common>
                    <step name="nature" />
                  </common>
                  <fo />
                  <bo column="1" />
                </xs:appinfo>
              </xs:annotation>
            </xs:element>
            
            <xs:element name="BirthFirstNames" type="xs:string">
              <xs:annotation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
                  Prénom(s)
                </xs:documentation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
                  Prénom(s)
                </xs:documentation>
                <xs:appinfo>
                  <common>
                    <step name="nature" />
                  </common>
                  <fo />
                  <bo column="1" />
                </xs:appinfo>
              </xs:annotation>
            </xs:element>

            <xs:element name="BirthDate" type="xs:date">
              <xs:annotation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
                  Date de naissance
                </xs:documentation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
                  Date de naissance
                </xs:documentation>
                <xs:appinfo>
                  <common>
                    <step name="nature" />
                  </common>
                  <fo />
                  <bo column="2" jsregexp="[a-z0-9]{3,10}"/>
                </xs:appinfo>
              </xs:annotation>
            </xs:element>

            <xs:element name="BirthCity" type="cvq:CityType">
              <xs:annotation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
                  Ville de naissance
                </xs:documentation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
                  Ville de naissance
                </xs:documentation>
                <xs:appinfo>
                  <common>
                    <step name="nature" />
                  </common>
                  <fo />
                  <bo column="2" />
                </xs:appinfo>
              </xs:annotation>
            </xs:element>

            <xs:element name="BirthPostalCode" type="cvq:DepartmentCodeType">
              <xs:annotation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
                  Département de naissance
                </xs:documentation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
                  Département de naissance
                </xs:documentation>
                <xs:appinfo>
                  <common>
                    <step name="nature" />
                  </common>
                  <fo />
                  <bo column="1" />
                </xs:appinfo>
              </xs:annotation>
            </xs:element>

            <xs:element name="FatherInformation" type="bdr:FatherInformationType" minOccurs="0">
              <xs:annotation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
                  Informations sur le père
                </xs:documentation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
                  Informations sur le père
                </xs:documentation>
                <xs:appinfo>
                  <common>
                    <step name="type" />
                    <condition name="isWithRelationship" type="filled" />
                  </common>
                  <fo>
                    <label />
                  </fo>
                  <bo column="2" />
                </xs:appinfo>
              </xs:annotation>
            </xs:element>
            
            <xs:element name="MotherInformation" type="bdr:MotherInformationType" minOccurs="0">
              <xs:annotation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
                  Informations sur la mère
                </xs:documentation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
                  Informations sur la mère
                </xs:documentation>
                <xs:appinfo>
                  <common>
                    <step name="type" />
                    <condition name="isWithRelationship" type="filled" />
                  </common>
                  <fo>
                    <label />
                  </fo>
                  <bo column="2" />
                </xs:appinfo>
              </xs:annotation>
            </xs:element>
                       
          </xs:sequence>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>

  <xs:simpleType name="BirthCertificateFormatType">
    <xs:annotation>
      <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
        Informations relatives au type de l'acte
      </xs:documentation>
      <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
        Type de l'acte
      </xs:documentation>
      <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/translation/enum">
        <enum key="FullCopy" value="Copie intégrale" />
        <enum key="ExtractWithRelationship" value="Extrait avec filiation" />
        <enum key="ExtractWithoutRelationship" value="Extrait sans filiation" />
        <enum key="MultilingualExtract" value="Extrait plurilingue" />
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="FullCopy" />
      <xs:enumeration value="ExtractWithRelationship" />
      <xs:enumeration value="ExtractWithoutRelationship" />
      <xs:enumeration value="MultilingualExtract" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="BirthRequesterQualityType">
    <xs:annotation>
      <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
        Qualité du demandeur (lien de parenté avec la personne dont vous demandez
        l'acte)
      </xs:documentation>
      <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
        Qualité du demandeur
      </xs:documentation>
      <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/translation/enum">
        <enum key="Requester" value="Titulaire de l'acte" />
        <enum key="Spouse" value="Son conjoint" />
        <enum key="Parent" value="Son père / sa mère" />
        <enum key="GrandParent" value="Son grand-père / sa grand-mère" />
        <enum key="Child" value="Son fils / sa fille" />
        <enum key="LegalRepresentant" value="Son représentant légal" />
        <enum key="Agent" value="Son mandataire" />
        <enum key="HeirFamily" value="Son héritier et aussi son frère ou sa soeur" />
        <enum key="Heir" value="Son héritier sans être son frère ou sa soeur" />
        <enum key="Authorized" value="Autorisé par le procureur de la République" />
        <enum key="LawyerNotary" value="Avocat, notaire" />
        <enum key="Other" value="Autre" />
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="Requester" />
      <xs:enumeration value="Spouse" />
      <xs:enumeration value="Parent" />
      <xs:enumeration value="GrandParent" />
      <xs:enumeration value="Child" />
      <xs:enumeration value="LegalRepresentant" />
      <xs:enumeration value="Agent" />
      <xs:enumeration value="HeirFamily" />
      <xs:enumeration value="Heir" />
      <xs:enumeration value="Authorized" />
      <xs:enumeration value="LawyerNotary" />
      <xs:enumeration value="Other" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="BirthCertificateMotiveType">
    <xs:annotation>
      <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
        Informations relatives au motif de la demande
      </xs:documentation>
      <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
        Motif
      </xs:documentation>
      <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/translation/enum">
        <enum key="NotaryAct" value="Acte de notaire" />
        <enum key="NationalIdentityCard" value="Carte nationale d'identité" />
        <enum key="FrenchNationalityCertificate" value="Certificat de nationalité française" />
        <enum key="Marriage" value="Mariage" />
        <enum key="Pacs" value="Pacte civil de solidarité" />
        <enum key="Passport" value="Passeport" />
        <enum key="Pension" value="Pension" />
        <enum key="LegalProceedings" value="Procédure judiciaire" />
        <enum key="Other" value="Autre" />
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="NotaryAct" />
      <xs:enumeration value="NationalIdentityCard" />
      <xs:enumeration value="FrenchNationalityCertificate" />
      <xs:enumeration value="Marriage" />
      <xs:enumeration value="Pacs" />
      <xs:enumeration value="Passport" />
      <xs:enumeration value="Pension" />
      <xs:enumeration value="LegalProceedings" />
      <xs:enumeration value="Other" />
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="FatherInformationType">
    <xs:sequence>
      <xs:element name="FatherLastName" type="cvq:LastNameType">
        <xs:annotation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
            Nom du père
          </xs:documentation>
          <xs:appinfo>
            <common>
              <step name="type" />
            </common>
            <fo />
            <bo />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="FatherFirstNames" type="xs:string">
        <xs:annotation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
            Prénom(s) du père
          </xs:documentation>
          <xs:appinfo>
            <common>
              <step name="type" />
            </common>
            <fo />
            <bo />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="MotherInformationType">
    <xs:sequence>
      <xs:element name="MotherMaidenName" type="cvq:LastNameType">
        <xs:annotation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
            Nom de jeune fille de la mère
          </xs:documentation>
          <xs:appinfo>
            <common>
              <step name="type" />
            </common>
            <fo />
            <bo />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="MotherFirstNames" type="xs:string">
        <xs:annotation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
            Prénom(s) de la mère
          </xs:documentation>
          <xs:appinfo>
            <common>
              <step name="type" />
            </common>
            <fo />
            <bo />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
