Generator/src/xml/schemas/request/DeathDetailsRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="http://www.cg95.fr/cvq/schema/ddr"
  xmlns:ddr="http://www.cg95.fr/cvq/schema/ddr"
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns:cvq="http://www.cg95.fr/cvq/schema/common"
  elementFormDefault="qualified"
  attributeFormDefault="unqualified">

  <xs:import namespace="http://www.cg95.fr/cvq/schema/common"
    schemaLocation="../common/CVQCommonElements.xsd" />

  <xs:element name="DeathDetailsRequest">
    <xs:annotation>
      <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
        Demande d'acte de décès
      </xs:documentation>
      <xs:documentation xml:lang="en" source="http://www.cg95.fr/cvq/schema/longdesc">
        Death details request
      </xs:documentation>
      <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
        Acte de décès
      </xs:documentation>
      <xs:documentation xml:lang="en" source="http://www.cg95.fr/cvq/schema/shortdesc">
        Death details
      </xs:documentation>
      <xs:appinfo>
        <model namespace="civil" />
        <common>
          <namespace name="civil" />
          <steps>
            <step index="0" name="nature" />
            <step index="1" name="type" />
            <step index="2" ref="document" />
            <step index="3" ref="validation" />
          </steps>
        </common>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="cvq:RequestType">
          <xs:sequence>
            <xs:element name="DeathLastName" type="cvq:LastNameType" minOccurs="1">
              <xs:annotation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
                  Nom de l'individu
                </xs:documentation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
                  Nom
                </xs:documentation>
                <xs:appinfo>
                  <common>
                    <step name="nature" />
                  </common>
                  <fo />
                  <bo column="1" />
                  <pdf />
                </xs:appinfo>
              </xs:annotation>
            </xs:element>

            <xs:element name="DeathFirstNames" type="xs:string" minOccurs="1">
              <xs:annotation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
                  Prénom(s) de l'individu
                </xs:documentation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
                  Prénom(s)
                </xs:documentation>
                <xs:appinfo>
                  <common>
                    <step name="nature" />
                  </common>
                  <fo />
                  <bo column="1" />
                  <pdf />
                </xs:appinfo>
              </xs:annotation>
            </xs:element>

            <xs:element name="DeathDate" type="xs:date">
              <xs:annotation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
                  Date de décès de l'individu
                </xs:documentation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
                  Date de décès
                </xs:documentation>
                <xs:appinfo>
                  <common>
                    <step name="nature" />
                  </common>
                  <fo />
                  <bo column="1" />
                  <pdf />
                </xs:appinfo>
              </xs:annotation>
            </xs:element>

            <xs:element name="DeathCity" type="cvq:CityType" minOccurs="1">
              <xs:annotation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
                  Ville de décès de l'individu
                </xs:documentation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
                  Ville de décès
                </xs:documentation>
                <xs:appinfo>
                  <common>
                    <step name="nature" />
                  </common>
                  <fo />
                  <bo column="1" />
                  <pdf />
                </xs:appinfo>
              </xs:annotation>
            </xs:element>

            <xs:element name="DeathPostalCode" type="cvq:DepartmentCodeType" minOccurs="1">
              <xs:annotation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
                  Département de décès de l'individu
                </xs:documentation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
                  Département de décès
                </xs:documentation>
                <xs:appinfo>
                  <common>
                    <step name="nature" />
                  </common>
                  <fo />
                  <bo column="1" />
                  <pdf />
                </xs:appinfo>
              </xs:annotation>
            </xs:element>

            <xs:element name="Format" type="ddr:DeathCertificateFormatType" default="FullCopy">
              <xs:annotation>
                <xs:appinfo>
                  <common>
                    <step name="type" />
                  </common>
                  <fo>
                    <radio />
                  </fo>
                  <bo column="1" />
                  <pdf />
                </xs:appinfo>
              </xs:annotation>
            </xs:element>

            <xs:element name="Copies" type="xs:positiveInteger" default="1">
              <xs:annotation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
                  Nombre d'actes souhaité
                </xs:documentation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
                  Nombre d'actes souhaité
                </xs:documentation>
                <xs:appinfo>
                  <common>
                    <step name="type" />
                  </common>
                  <fo />
                  <bo column="1" />
                  <pdf />
                </xs:appinfo>
              </xs:annotation>
            </xs:element>

            <xs:element name="Motive" type="ddr:DeathCertificateMotiveType" minOccurs="0">
              <xs:annotation>
                <xs:appinfo>
                  <common>
                    <step name="type" />
                  </common>
                  <fo />
                  <bo column="1" />
                  <pdf />
                </xs:appinfo>
              </xs:annotation>
            </xs:element>
            
            <xs:element name="Comment" minOccurs="0">
              <xs:annotation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
                  Commentaire
                </xs:documentation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
                  Commentaire
                </xs:documentation>
                <xs:appinfo>
                  <common>
                    <step name="type" />
                    <validation jsregexp="^[\w\W]{0,255}$" />
                  </common>
                  <fo>
                    <textarea rows="3" />
                  </fo>
                  <bo column="1">
                    <textarea rows="3" />
                  </bo>
                  <pdf />
                </xs:appinfo>
              </xs:annotation>
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:pattern value="^[\w\W]{0,255}$" />
                  <xs:maxLength value="255" />
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
          </xs:sequence>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>

  <xs:simpleType name="DeathCertificateFormatType">
    <xs:annotation>
      <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
        Informations relatives au type de l'acte d'état civil
      </xs:documentation>
      <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
        Type de l'acte
      </xs:documentation>
      <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/translation/enum">
        <enum key="FullCopy" value="Copie intégrale" />
        <enum key="MultilingualExtract" value="Extrait plurilingue" />
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="FullCopy" />
      <xs:enumeration value="MultilingualExtract" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="DeathCertificateMotiveType">
    <xs:annotation>
      <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
        Informations relatives au motif de la demande
      </xs:documentation>
      <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
        Motif
      </xs:documentation>
      <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/translation/enum">
        <enum key="NotaryAct" value="Acte de notaire" />
        <enum key="Marriage" value="Mariage" />
        <enum key="Passport" value="Passeport" />
        <enum key="Pension" value="Pension" />
        <enum key="Other" value="Autre" />
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="NotaryAct" />
      <xs:enumeration value="Marriage" />
      <xs:enumeration value="Passport" />
      <xs:enumeration value="Pension" />
      <xs:enumeration value="Other" />
    </xs:restriction>
  </xs:simpleType>

</xs:schema>
