Generator/src/xml/schemas/request/DomesticHelpRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="http://www.cg95.fr/cvq/schema/dhr"
  xmlns:dhr="http://www.cg95.fr/cvq/schema/dhr" 
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns:cvq="http://www.cg95.fr/cvq/schema/common" 
  elementFormDefault="qualified"
  attributeFormDefault="unqualified">

  <xs:import namespace="http://www.cg95.fr/cvq/schema/common"
    schemaLocation="../common/CVQCommonElements.xsd" />

  <xs:element name="DomesticHelpRequest">
    <xs:annotation>
      <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
        Informations concernant la demande d'aide ménagère
      </xs:documentation>
      <xs:documentation xml:lang="en" source="http://www.cg95.fr/cvq/schema/longdesc">
        Domestic help request
      </xs:documentation>
      <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
        Demande d'aide ménagère
      </xs:documentation>
      <xs:documentation xml:lang="en" source="http://www.cg95.fr/cvq/schema/shortdesc">
        Domestic help request
      </xs:documentation>
      <xs:appinfo>
        <model namespace="social"/>
        <common>
          <namespace name="social"/>
          <steps>
            <step index="0" name="subject"/>
            <step index="1" name="familyReferent"/>
            <step index="2" name="spouse"/>
            <step index="3" name="dwelling"/>
            <step index="4" name="resources"/>
            <step index="5" name="taxes"/>
            <step index="6" ref="document"/>
            <step index="7" ref="validation"/>
          </steps>
          <conditions>
            <condition name="isCoupleRequest"/>
            <condition name="haveFamilyReferent"/>
            <condition name="isMadam"/>
            <condition name="isNonEuropean"/>
            <condition name="isOtherPensionPlan"/>
            <condition name="haveGuardian"/>
            <condition name="isSpouseMadam"/>
            <condition name="isSpouseNonEuropean"/>
            <condition name="isSpouseRetired"/>
            <condition name="isSpouseOtherPensionPlan"/>
            <condition name="isCurrentDwellingPlaceOfResidence"/>
            <condition name="isPreviousDwellingPlaceOfResidence"/>
            <condition name="isRealEstate"/>
           <!-- <condition name="isCoupleRequestSpouseIncomes"/> --> 
            
          </conditions>
        </common>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="cvq:RequestType">
          <xs:sequence>

            <xs:element name="DhrRequester" type="dhr:DhrRequesterType">
              <xs:annotation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
                  Sujet
                </xs:documentation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
                  Sujet
                </xs:documentation>
                <xs:appinfo>
                  <common>
                    <step name="subject"/>
                  </common>
                  <fo>
                    <label/>
                  </fo>
                  <bo column="1" />
                </xs:appinfo>
              </xs:annotation>
            </xs:element>

            <xs:element name="DhrRequesterPensionPlan" type="dhr:DhrRequesterPensionPlanType">
              <xs:annotation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
                  Régime de retraite
                </xs:documentation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
                  Régime de retraite
                </xs:documentation>
                <xs:appinfo>
                  <common>
                    <step name="subject"/>
                  </common>
                  <fo>
                    <label/>
                  </fo>
                  <bo column="1" />
                </xs:appinfo>
              </xs:annotation>
            </xs:element>

            <xs:element name="DhrRequesterGuardian" type="dhr:DhrRequesterGuardianType">
              <xs:annotation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
                  Tuteur
                </xs:documentation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
                  Tuteur
                </xs:documentation>
                <xs:appinfo>
                  <common>
                    <step name="subject"/>
                  </common>
                  <fo>
                    <label/>
                  </fo>
                  <bo column="2" />
                </xs:appinfo>
              </xs:annotation>
            </xs:element>

            <xs:element name="DhrFamilyReferent" type="dhr:DhrFamilyReferentType">
              <xs:annotation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
                  Référent familial
                </xs:documentation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
                  Référent familial
                </xs:documentation>
                <xs:appinfo>
                  <common>
                    <step name="familyReferent"/>
                  </common>
                  <fo>
                    <label/>
                  </fo>
                  <bo column="1" />
                </xs:appinfo>
              </xs:annotation>
            </xs:element>

            <xs:element name="DhrSpouse" type="dhr:DhrSpouseType">
              <xs:annotation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
                  Conjoint
                </xs:documentation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
                  Conjoint
                </xs:documentation>
                <xs:appinfo>
                  <common>
                    <step name="spouse"/>
                  </common>
                  <fo>
                    <label/>
                  </fo>
                  <bo column="2" />
                </xs:appinfo>
              </xs:annotation>
            </xs:element>

            <xs:element name="DhrSpouseStatus" type="dhr:DhrSpouseStatusType">
              <xs:annotation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
                  Statut du conjoint
                </xs:documentation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
                  Statut du conjoint 
                </xs:documentation>
                <xs:appinfo>
                  <common>
                    <step name="spouse"/>
                    <conditions>
                      <condition name="isCoupleRequest" type="filled"/>
                    </conditions>
                  </common>
                  <fo>
                    <label/>
                  </fo>
                  <bo column="2" />
                </xs:appinfo>
              </xs:annotation>
            </xs:element>

            <xs:element name="DhrSpouseIncomes" type="dhr:DhrIncomesType" minOccurs="0">
              <xs:annotation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
                  Ressources du conjoint
                </xs:documentation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
                  Ressources du conjoint
                </xs:documentation>
                <xs:appinfo>
                  <common>
                    <step name="spouse"/>
                    <conditions>
                      <condition name="isCoupleRequest" type="filled"/>
                    </conditions>
                    <!--  
                    <conditions>
                      <condition name="isCoupleRequestSpouseIncomes" type="filled" required="true"/>
                    </conditions> 
                    -->
                  </common>
                  <fo>
                    <label/>
                  </fo>
                  <bo column="1" />
                </xs:appinfo>
              </xs:annotation>
            </xs:element>

            <xs:element name="DhrCurrentDwelling" type="dhr:DhrCurrentDwellingType">
              <xs:annotation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
                  Habitation actuelle
                </xs:documentation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
                  Habitation actuelle
                </xs:documentation>
                <xs:appinfo>
                  <common>
                    <step name="dwelling"/>
                  </common>
                  <fo>
                    <label/>
                  </fo>
                  <bo column="1" />
                </xs:appinfo>
              </xs:annotation>
            </xs:element>

            <xs:element name="DhrPreviousDwelling" type="dhr:DhrPreviousDwellingType" maxOccurs="unbounded">
              <xs:annotation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
                  Habitations antérieures
                </xs:documentation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
                  Habitations antérieures
                </xs:documentation>
                <xs:appinfo>
                  <common>
                    <step name="dwelling"/>
                  </common>
                  <fo>
                    <oneToMany/>
                  </fo>
                  <bo column="2" />
                </xs:appinfo>
              </xs:annotation>
            </xs:element>

            <xs:element name="DhrRequesterIncomes" type="dhr:DhrIncomesType">
              <xs:annotation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
                  Ressources du sujet
                </xs:documentation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
                  Ressources du sujet
                </xs:documentation>
                <xs:appinfo>
                  <common>
                    <step name="resources"/>
                  </common>
                  <fo>
                    <label/>
                  </fo>
                  <bo column="1" />
                </xs:appinfo>
              </xs:annotation>
            </xs:element>

            <xs:element name="DhrRealAsset" type="dhr:DhrRealAssetType" maxOccurs="unbounded">
              <xs:annotation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
                  Biens immobiliers
                </xs:documentation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
                  Biens immobiliers
                </xs:documentation>
                <xs:appinfo>
                  <common>
                    <step name="resources"/>
                  </common>
                  <fo>
                    <oneToMany/>
                  </fo>
                  <bo column="2" />
                </xs:appinfo>
              </xs:annotation>
            </xs:element>

            <xs:element name="DhrNotRealAsset" type="dhr:DhrNotRealAssetType" maxOccurs="unbounded">
              <xs:annotation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
                  Biens Partage, Donation ou Vente
                </xs:documentation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
                  Biens Partage, Donation ou Vente
                </xs:documentation>
                <xs:appinfo>
                  <common>
                    <step name="resources"/>
                  </common>
                  <fo>
                    <oneToMany/>
                  </fo>
                  <bo column="2" />
                </xs:appinfo>
              </xs:annotation>
            </xs:element>

            <xs:element name="DhrTaxesAmount" type="dhr:DhrTaxesAmountType">
              <xs:annotation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
                  Montant d'imposition
                </xs:documentation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
                  Montant d'imposition
                </xs:documentation>
                <xs:appinfo>
                  <common>
                    <step name="taxes"/>
                  </common>
                  <fo>
                    <label/>
                  </fo>
                  <bo column="1" />
                </xs:appinfo>
              </xs:annotation>
            </xs:element>

          </xs:sequence>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>

  <xs:complexType name="DhrRequesterType">
    <xs:annotation>
      <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
        Sujet
      </xs:documentation>
      <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
        Sujet
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>

<!-- 
      <xs:element name="DhrRequesterTitle" type="cvq:TitleType">
        <xs:annotation>
          <xs:appinfo>
            <model namespace="users"/>
            <common>
              <step name="subject"/>
              <conditions>
                <condition name="isMadam" type="trigger"/>
              </conditions>
            </common>
            <fo>
              <select/>
            </fo>
            <bo />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>

      <xs:element name="DhrRequesterFamilyStatus" type="cvq:FamilyStatusType">
        <xs:annotation>
          <xs:appinfo>
            <model namespace="users"/>
            <common>
              <step name="subject"/>
            </common>
            <fo>
              <select/>
            </fo>
            <bo />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>

      <xs:element name="DhrRequesterName" type="cvq:LastNameType">
        <xs:annotation>
          <xs:appinfo>
            <model namespace="users"/>
            <common>
              <step name="subject"/>
            </common>
            <fo/>
            <bo />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>

      <xs:element name="DhrRequesterFirstName" type="cvq:FirstNameType">
        <xs:annotation>
          <xs:appinfo>
            <model namespace="users"/>
            <common>
              <step name="subject"/>
            </common>
            <fo/>
            <bo />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>

      <xs:element name="DhrRequesterMaidenName" type="cvq:LastNameType" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
            Nom de jeune fille
          </xs:documentation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
            Nom de jeune fille
          </xs:documentation>
          <xs:appinfo>
            <model namespace="users"/>
            <common>
              <step name="subject"/>
              <conditions>
                <condition name="isMadam" type="filled" required="true"/>
              </conditions>
            </common>
            <fo/>
            <bo />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
-->

      <xs:element name="DhrRequesterBirthDate" type="xs:date">
        <xs:annotation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
            Date de naissance
          </xs:documentation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
            Date de naissance
          </xs:documentation>
          <xs:appinfo>
            <common>
              <step name="subject"/>
            </common>
            <fo/>
            <bo />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>

      <xs:element name="DhrRequesterBirthPlace" type="xs:string">
        <xs:annotation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
            Lieu de naissance
          </xs:documentation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
            Lieu de naissance
          </xs:documentation>
          <xs:appinfo>
            <model namespace="users"/>
            <common>
              <step name="subject"/>
            </common>
            <fo/>
            <bo />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>

      <xs:element name="DhrRequesterNationality" type="cvq:NationalityType">
        <xs:annotation>
          <xs:appinfo>
            <model namespace="users"/>
            <common>
              <step name="subject"/>
              <conditions>
                <condition name="isNonEuropean" type="trigger"/>
              </conditions>
            </common>
            <fo>
              <select/>
            </fo>
            <bo />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>

      <xs:element name="DhrRequesterFranceArrivalDate" type="xs:date" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
            Date d'arrivée en France
          </xs:documentation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
            Date d'arrivée en France
          </xs:documentation>
          <xs:appinfo>
            <common>
              <step name="subject"/>
              <conditions>
                <condition name="isNonEuropean" type="filled" required="true"/>
              </conditions>
            </common>
            <fo/>
            <bo />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>

      <xs:element name="DhrRequesterIsFrenchResident" type="xs:boolean" default="false" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
            Je réside en France depuis plus de 15 ans de manière continue
          </xs:documentation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
            Je réside en France depuis plus de 15 ans de manière continue
          </xs:documentation>
          <xs:appinfo>
            <common>
              <step name="subject"/>
              <conditions>
                <condition name="isNonEuropean" type="filled" required="true"/>
              </conditions>
            </common>
            <fo/>
            <bo />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>

    </xs:sequence>
  </xs:complexType>


  <xs:complexType name="DhrRequesterPensionPlanType">
    <xs:annotation>
      <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
        Régime de retraite
      </xs:documentation>
      <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
        Régime de retraite
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>

      <xs:element name="DhrPrincipalPensionPlan" type="dhr:DhrPrincipalPensionPlanType">
        <xs:annotation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
            Régime de retraite principal
          </xs:documentation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
            Régime de retraite principal
          </xs:documentation>
          <xs:appinfo>
            <common>
              <step name="subject"/>
              <conditions>
                <condition name="isOtherPensionPlan" type="trigger"/>
              </conditions>
            </common>
            <fo>
              <select/>
            </fo>
            <bo />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>

      <xs:element name="DhrPensionPlanDetail" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
            Préciser
          </xs:documentation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
            Préciser
          </xs:documentation>
          <xs:appinfo>
            <common>
              <step name="subject"/>
              <conditions>
                <condition name="isOtherPensionPlan" type="filled" required="true"/>
              </conditions>
            </common>
            <fo/>
            <bo />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>

      <xs:element name="DhrComplementaryPensionPlan" type="xs:string">
        <xs:annotation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
            Indiquer le ou les régimes de retraite complémentaires
          </xs:documentation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
            Régime de retraite complémentaire
          </xs:documentation>
          <xs:appinfo>
            <common>
              <step name="subject"/>
            </common>
            <fo/>
            <bo />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>

    </xs:sequence>
  </xs:complexType>

  <xs:simpleType name="DhrPrincipalPensionPlanType">
    <xs:annotation>
      <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
        Régime de retraite principal
      </xs:documentation>
      <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
        Régime de retraite principal
      </xs:documentation>
      <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/translation/enum">
        <enum key="CNAV" value="CNAV"/>
        <enum key="MSA" value="MSA"/>
        <enum key="CRAM" value="CRAM"/>
        <enum key="MGEN" value="MGEN"/>
        <enum key="SNCF" value="SNCF"/>
        <enum key="Other" value="Autre"/>
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="CNAV"/>
      <xs:enumeration value="MSA"/>
      <xs:enumeration value="CRAM"/>
      <xs:enumeration value="MGEN"/>
      <xs:enumeration value="SNCF"/>
      <xs:enumeration value="Other"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="DhrRequesterGuardianType">
    <xs:annotation>
      <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
        Tuteur
      </xs:documentation>
      <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
        Tuteur
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>

      <xs:element name="DhrRequesterHaveGuardian" type="xs:boolean" default="false">
        <xs:annotation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
            Le sujet est-il sous tutelle ?
          </xs:documentation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
            Présence tuteur
          </xs:documentation>
          <xs:appinfo>
            <common>
              <step name="subject"/>
              <conditions>
                <condition name="haveGuardian" type="trigger"/>
              </conditions>
            </common>
            <fo/>
            <bo />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>

      <xs:element name="DhrGuardianMeasure" type="dhr:DhrGuardianMeasureType" minOccurs="0">
        <xs:annotation>
          <xs:appinfo>
            <common>
              <step name="subject"/>
              <conditions>
                <condition name="haveGuardian" type="filled" required="true"/>
              </conditions>
            </common>
            <fo>
              <select/>
            </fo>
            <bo />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>

      <xs:element name="DhrGuardianName" type="cvq:LastNameType" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
            Nom du tuteur ou de l'association
          </xs:documentation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
            Nom du tuteur ou de l'association
          </xs:documentation>
          <xs:appinfo>
            <model namespace="users"/>
            <common>
              <step name="subject"/>
              <conditions>
                <condition name="haveGuardian" type="filled" required="true"/>
              </conditions>
            </common>
            <fo/>
            <bo />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>

      <xs:element name="DhrGuardianAddress" type="cvq:AddressType" minOccurs="0">
        <xs:annotation>
          <xs:appinfo>
            <model namespace="users" isTiedToRequest="true" />
            <common>
              <step name="subject"/>
              <conditions>
                <condition name="haveGuardian" type="filled" required="true"/>
              </conditions>
            </common>
            <fo />
            <bo />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>

    </xs:sequence>
  </xs:complexType>

  <xs:simpleType name="DhrGuardianMeasureType">
    <xs:annotation>
      <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
        Mesure tuteur
      </xs:documentation>
      <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
        Mesure tuteur
      </xs:documentation>
      <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/translation/enum">
        <enum key="safeguardingJustice" value="Sauvegarde de justice"/>
        <enum key="guardianship" value="Tutelle"/>
        <enum key="curatorship" value="Curatelle"/>
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="safeguardingJustice"/>
      <xs:enumeration value="guardianship"/>
      <xs:enumeration value="curatorship"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="DhrRequestKindType">
    <xs:annotation>
      <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
        Type de la demande
      </xs:documentation>
      <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
        Type de la demande
      </xs:documentation>
      <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/translation/enum">
        <enum key="Individual" value="Individuelle"/>
        <enum key="Couple" value="Couple"/>
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="Individual"/>
      <xs:enumeration value="Couple"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="DhrFamilyReferentType">
    <xs:annotation>
      <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
        Référent familial
      </xs:documentation>
      <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
        Référent familial
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>

      <xs:element name="DhrHaveFamilyReferent" type="xs:boolean" default="false">
        <xs:annotation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
            Référent familial
          </xs:documentation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
            Référent familial
          </xs:documentation>
          <xs:appinfo>
            <common>
              <step name="familyReferent"/>
              <conditions>
                <condition name="haveFamilyReferent" type="trigger"/>
              </conditions>
            </common>
            <fo/>
            <bo />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>

      <xs:element name="DhrReferentName" type="cvq:LastNameType" minOccurs="0">
        <xs:annotation>
          <xs:appinfo>
            <model namespace="users"/>
            <common>
              <step name="familyReferent"/>
              <conditions>
                <condition name="haveFamilyReferent" type="filled" required="true"/>
              </conditions>
            </common>
            <fo/>
            <bo />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>

      <xs:element name="DhrReferentFirstName" type="cvq:FirstNameType" minOccurs="0">
        <xs:annotation>
          <xs:appinfo>
            <model namespace="users"/>
            <common>
              <step name="familyReferent"/>
              <conditions>
                <condition name="haveFamilyReferent" type="filled" required="true"/>
              </conditions>
            </common>
            <fo/>
            <bo />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>

      <xs:element name="DhrReferentAddress" type="cvq:AddressType" minOccurs="0">
        <xs:annotation>
          <xs:appinfo>
            <model namespace="users" isTiedToRequest="true" />
            <common>
              <step name="familyReferent"/>
              <conditions>
                <condition name="haveFamilyReferent" type="filled" required="true"/>
              </conditions>
            </common>
            <fo />
            <bo />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>

    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="DhrSpouseType">
    <xs:annotation>
      <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
        Conjoint
      </xs:documentation>
      <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
        Conjoint
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>

      <xs:element name="DhrRequestKind" type="dhr:DhrRequestKindType" default="Individual">
        <xs:annotation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
            Type de la demande
          </xs:documentation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
            Type de la demande
          </xs:documentation>
          <xs:appinfo>
            <common>
              <step name="spouse"/>
              <conditions>
                <condition name="isCoupleRequest" type="trigger"/>
              </conditions>
            </common>
            <fo>
              <radio/>
            </fo>
            <bo column="1" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>

      <xs:element name="DhrSpouseTitle" type="cvq:TitleType">
        <xs:annotation>
          <xs:appinfo>
            <model namespace="users"/>
            <common>
              <step name="spouse"/>
              <conditions>
                <condition name="isCoupleRequest" type="filled"/>
                <condition name="isSpouseMadam" type="trigger"/>
              </conditions>
            </common>
            <fo>
              <select/>
            </fo>
            <bo />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>

      <xs:element name="DhrSpouseFamilyStatus" type="cvq:FamilyStatusType">
        <xs:annotation>
          <xs:appinfo>
            <model namespace="users"/>
            <common>
              <step name="spouse"/>
              <conditions>
                <condition name="isCoupleRequest" type="filled"/>
              </conditions>
            </common>
            <fo>
              <select/>
            </fo>
            <bo />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>

      <xs:element name="DhrSpouseName" type="cvq:LastNameType">
        <xs:annotation>
          <xs:appinfo>
            <model namespace="users"/>
            <common>
              <step name="spouse"/>
              <conditions>
                <condition name="isCoupleRequest" type="filled"/>
              </conditions>
            </common>
            <fo/>
            <bo />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>

      <xs:element name="DhrSpouseFirstName" type="cvq:FirstNameType">
        <xs:annotation>
          <xs:appinfo>
            <model namespace="users"/>
            <common>
              <step name="spouse"/>
              <conditions>
                <condition name="isCoupleRequest" type="filled"/>
              </conditions>
            </common>
            <fo/>
            <bo />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>

      <xs:element name="DhrSpouseMaidenName" type="cvq:LastNameType" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
            Nom de jeune fille
          </xs:documentation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
            Nom de jeune fille
          </xs:documentation>
          <xs:appinfo>
            <model namespace="users"/>
            <common>
              <step name="spouse"/>
              <conditions>
                <condition name="isSpouseMadam" type="filled" required="true"/>
              </conditions>
            </common>
            <fo/>
            <bo />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>

      <xs:element name="DhrSpouseBirthDate" type="xs:date">
        <xs:annotation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
            Date de naissance
          </xs:documentation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
            Date de naissance
          </xs:documentation>
          <xs:appinfo>
            <common>
              <step name="spouse"/>
              <conditions>
                <condition name="isCoupleRequest" type="filled"/>
              </conditions>
            </common>
            <fo/>
            <bo />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>

      <xs:element name="DhrSpouseBirthPlace" type="xs:string">
        <xs:annotation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
            Lieu de naissance
          </xs:documentation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
            Lieu de naissance
          </xs:documentation>
          <xs:appinfo>
            <common>
              <step name="spouse"/>
              <conditions>
                <condition name="isCoupleRequest" type="filled"/>
              </conditions>
            </common>
            <fo/>
            <bo />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>

      <xs:element name="DhrSpouseNationality" type="cvq:NationalityType">
        <xs:annotation>
          <xs:appinfo>
            <model namespace="users"/>
            <common>
              <step name="spouse"/>
              <conditions>
                <condition name="isCoupleRequest" type="filled"/>
                <condition name="isSpouseNonEuropean" type="trigger"/>
              </conditions>
            </common>
            <fo>
              <select/>
            </fo>
            <bo />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>

      <xs:element name="DhrSpouseFranceArrivalDate" type="xs:date" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
            Date d'arrivée en France
          </xs:documentation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
            Date d'arrivée en France
          </xs:documentation>
          <xs:appinfo>
            <common>
              <step name="spouse"/>
              <conditions>
                <condition name="isSpouseNonEuropean" type="filled" required="true"/>
              </conditions>
            </common>
            <fo/>
            <bo />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>

      <xs:element name="DhrSpouseIsFrenchResident" type="xs:boolean" default="false" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
            Je réside en France depuis plus de 15 ans de manière continue
          </xs:documentation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
            Je réside en France depuis plus de 15 ans de manière continue
          </xs:documentation>
          <xs:appinfo>
            <common>
              <step name="spouse"/>
              <conditions>
                <condition name="isSpouseNonEuropean" type="filled" required="true"/>
              </conditions>
            </common>
            <fo/>
            <bo />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>

    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="DhrSpouseStatusType">
    <xs:annotation>
      <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
        Statut
      </xs:documentation>
      <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
        Statut
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>

      <xs:element name="DhrIsSpouseRetired" type="xs:boolean" default="false">
        <xs:annotation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
            Retraité
          </xs:documentation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
            Retraité
          </xs:documentation>
          <xs:appinfo>
            <common>
              <step name="spouse"/>
              <conditions>
                <condition name="isSpouseRetired" type="trigger"/>
              </conditions>
            </common>
            <fo/>
            <bo />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>

      <xs:element name="DhrSpousePrincipalPensionPlan" type="dhr:DhrPrincipalPensionPlanType" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
            Régime de retraite principal
          </xs:documentation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
            Régime de retraite principal
          </xs:documentation>
          <xs:appinfo>
            <common>
              <step name="spouse"/>
              <conditions>
                <condition name="isSpouseRetired" type="filled" required="true"/>
                <condition name="isSpouseOtherPensionPlan" type="trigger"/>
              </conditions>
            </common>
            <fo>
              <select/>
            </fo>
            <bo />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>

      <xs:element name="DhrSpousePensionPlanDetail" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
            Préciser
          </xs:documentation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
            Préciser
          </xs:documentation>
          <xs:appinfo>
            <common>
              <step name="spouse"/>
              <conditions>
                <condition name="isSpouseOtherPensionPlan" type="filled" required="true"/>
              </conditions>
            </common>
            <fo/>
            <bo />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>

      <xs:element name="DhrSpouseComplementaryPensionPlan" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
            Indiquer le ou les régimes de retraite complémentaires
          </xs:documentation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
            Régime de retraite complémentaire
          </xs:documentation>
          <xs:appinfo>
            <common>
              <step name="spouse"/>
              <conditions>
                <condition name="isSpouseRetired" type="filled" required="true"/>
              </conditions>
            </common>
            <fo/>
            <bo />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>

      <xs:element name="DhrSpouseProfession" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
            Profession
          </xs:documentation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
            Profession
          </xs:documentation>
          <xs:appinfo>
            <common>
              <step name="spouse"/>
              <conditions>
                <condition name="isSpouseRetired" type="unfilled" required="true"/>
              </conditions>
            </common>
            <fo/>
            <bo />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>

      <xs:element name="DhrSpouseEmployer" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
            Employeur
          </xs:documentation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
            Employeur
          </xs:documentation>
          <xs:appinfo>
            <common>
              <step name="spouse"/>
              <conditions>
                <condition name="isSpouseRetired" type="unfilled" required="true"/>
              </conditions>
            </common>
            <fo/>
            <bo />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>

      <xs:element name="DhrSpouseAddress" type="cvq:AddressType" minOccurs="0">
        <xs:annotation>
          <xs:appinfo>
            <model namespace="users" isTiedToRequest="true" />
            <common>
              <step name="spouse"/>
              <conditions>
                <condition name="isSpouseRetired" type="unfilled" required="true"/>
              </conditions>
            </common>
            <fo />
            <bo />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>

    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="DhrCurrentDwellingType">
    <xs:annotation>
      <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
        Habitation actuelle
      </xs:documentation>
      <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
        Habitation actuelle
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>

      <xs:element name="DhrCurrentDwellingAddress" type="cvq:AddressType">
        <xs:annotation>
          <xs:appinfo>
            <model namespace="users" isTiedToRequest="true" />
            <common>
              <step name="dwelling"/>
            </common>
            <fo />
            <bo />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>

      <xs:element name="DhrCurrentDwellingPhone" type="cvq:PhoneType" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
            Téléphone personnel
          </xs:documentation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
            Téléphone personnel
          </xs:documentation>
          <xs:appinfo>
            <model namespace="users"/>
            <common>
              <step name="dwelling"/>
            </common>
            <fo/>
            <bo />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>

      <xs:element name="DhrCurrentDwellingKind" type="dhr:DhrDwellingKindType">
        <xs:annotation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
            Nature de l'habitation
          </xs:documentation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
            Nature de l'habitation
          </xs:documentation>
          <xs:appinfo>
            <common>
              <step name="dwelling"/>
              <conditions>
                <condition name="isCurrentDwellingPlaceOfResidence" type="trigger"/>
              </conditions>
            </common>
            <fo>
              <select/>
            </fo>
            <bo />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>

      <xs:element name="DhrCurrentDwellingArrivalDate" type="xs:date" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
            Date d'arrivée
          </xs:documentation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
            Date d'arrivée
          </xs:documentation>
          <xs:appinfo>
            <common>
              <step name="dwelling"/>
              <conditions>
                <condition name="isCurrentDwellingPlaceOfResidence" type="filled" required="true"/>
              </conditions>
            </common>
            <fo/>
            <bo />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>

      <xs:element name="DhrCurrentDwellingStatus" type="dhr:DhrDwellingStatusType" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
            Statut de l'habitation
          </xs:documentation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
            Statut de l'habitation
          </xs:documentation>
          <xs:appinfo>
            <common>
              <step name="dwelling"/>
              <conditions>
                <condition name="isCurrentDwellingPlaceOfResidence" type="filled" required="true"/>
              </conditions>
            </common>
            <fo>
              <radio/>
            </fo>
            <bo />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>

      <xs:element name="DhrCurrentDwellingNumberOfRoom" type="dhr:DhrDwellingNumberOfRoom" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
            Nombre de pièces (hors cuisine et salle de bains)
          </xs:documentation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
            Nombre de pièces
          </xs:documentation>
          <xs:appinfo>
            <common>
              <step name="dwelling"/>
              <conditions>
                <condition name="isCurrentDwellingPlaceOfResidence" type="filled" required="true"/>
              </conditions>
            </common>
            <fo/>
            <bo />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>

      <xs:element name="DhrCurrentDwellingNetArea" type="dhr:DhrDwellingNetArea" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
            Surface habitable (en m²)
          </xs:documentation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
            Surface habitable
          </xs:documentation>
          <xs:appinfo>
            <common>
              <step name="dwelling"/>
              <conditions>
                <condition name="isCurrentDwellingPlaceOfResidence" type="filled" required="true"/>
              </conditions>
            </common>
            <fo/>
            <bo />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>

    </xs:sequence>
  </xs:complexType>

  <xs:simpleType name="DhrDwellingKindType">
    <xs:annotation>
      <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
        Nature de l'habitation
      </xs:documentation>
      <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
        Nature de l'habitation
      </xs:documentation>
      <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/translation/enum">
        <enum key="placeOfResidence" value="Domicile"/>
        <enum key="retirementHome" value="Etablissement PA"/>
        <enum key="other" value="Accueil particulier à titre onéreux"/>
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="placeOfResidence"/>
      <xs:enumeration value="retirementHome"/>
      <xs:enumeration value="other"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="DhrDwellingStatusType">
    <xs:annotation>
      <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
        Statut de l'habitation
      </xs:documentation>
      <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
        Statut de l'habitation
      </xs:documentation>
      <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/translation/enum">
        <enum key="owner" value="Propriétaire"/>
        <enum key="tenant" value="Locataire"/>
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="owner"/>
      <xs:enumeration value="tenant"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="DhrDwellingNumberOfRoom">
    <xs:annotation>
      <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
        Nombre de pièces (hors cuisine et salle de bains)
      </xs:documentation>
      <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
        Nombre de pièces
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:decimal">
      <xs:minInclusive value="1"/>
      <xs:maxInclusive value="10"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="DhrDwellingNetArea">
    <xs:annotation>
      <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
        Surface habitable (en m²)
      </xs:documentation>
      <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
        Surface habitable
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:decimal">
      <xs:minInclusive value="1"/>
      <xs:maxInclusive value="500"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="DhrPreviousDwellingType">
    <xs:annotation>
      <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
        Habitation antérieure
      </xs:documentation>
      <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
        Habitation antérieure
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>

      <xs:element name="DhrPreviousDwellingAddress" type="cvq:AddressType">
        <xs:annotation>
          <xs:appinfo>
            <model namespace="users" isTiedToRequest="true" />
            <common>
              <step name="dwelling"/>
            </common>
            <fo />
            <bo />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>

      <xs:element name="DhrPreviousDwellingKind" type="dhr:DhrDwellingKindType">
        <xs:annotation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
            Nature de l'habitation
          </xs:documentation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
            Nature de l'habitation
          </xs:documentation>
          <xs:appinfo>
            <common>
              <step name="dwelling"/>
              <conditions>
                <condition name="isPreviousDwellingPlaceOfResidence" type="trigger"/>
              </conditions>
            </common>
            <fo>
              <select/>
            </fo>
            <bo />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>

      <xs:element name="DhrPreviousDwellingStatus" type="dhr:DhrDwellingStatusType" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
            Statut de l'habitation
          </xs:documentation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
            Statut de l'habitation
          </xs:documentation>
          <xs:appinfo>
            <common>
              <step name="dwelling"/>
              <conditions>
                <condition name="isPreviousDwellingPlaceOfResidence" type="filled" required="true"/>
              </conditions>
            </common>
            <fo>
              <radio/>
            </fo>
            <bo />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>

      <xs:element name="DhrPreviousDwellingArrivalDate" type="xs:date">
        <xs:annotation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
            Date d'arrivée
          </xs:documentation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
            Date d'arrivée
          </xs:documentation>
          <xs:appinfo>
            <common>
              <step name="dwelling"/>
            </common>
            <fo/>
            <bo />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>

      <xs:element name="DhrPreviousDwellingDepartureDate" type="xs:date">
        <xs:annotation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
            Date de départ
          </xs:documentation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
            Date de départ
          </xs:documentation>
          <xs:appinfo>
            <common>
              <step name="dwelling"/>
            </common>
            <fo/>
            <bo />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>

      <xs:element name="DhrPreviousDwellingComment" type="xs:string">
        <xs:annotation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
            Commentaire
          </xs:documentation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
            Commentaire
          </xs:documentation>
          <xs:appinfo>
            <common>
              <step name="dwelling"/>
            </common>
            <fo/>
            <bo />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>

    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="DhrIncomesType">
    <xs:annotation>
      <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
        Ressources
      </xs:documentation>
      <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
        Ressources
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>

      <xs:element name="Pensions" type="xs:positiveInteger" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
            Pensions et retraites
          </xs:documentation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
            Pensions et retraites
          </xs:documentation>
          <xs:appinfo>
            <common>
              <step name="resources"/>
            </common>
            <fo/>
            <bo />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>

      <xs:element name="DhrAllowances" type="xs:positiveInteger" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
            Allocations diverses
          </xs:documentation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
            Allocations diverses
          </xs:documentation>
          <xs:appinfo>
            <common>
              <step name="resources"/>
            </common>
            <fo/>
            <bo />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      
      <xs:element name="DhrFurnitureInvestmentIncome" type="xs:positiveInteger" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
            Revenus du capital mobilier
          </xs:documentation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
            Revenus du capital mobilier
          </xs:documentation>
          <xs:appinfo>
            <common>
              <step name="resources"/>
            </common>
            <fo/>
            <bo />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      
      <xs:element name="DhrRealEstateInvestmentIncome" type="xs:positiveInteger" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
            Revenus du capital immobilier
          </xs:documentation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
            Revenus du capital immobilier
          </xs:documentation>
          <xs:appinfo>
            <common>
              <step name="resources"/>
            </common>
            <fo/>
            <bo />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>

      <xs:element name="DhrNetIncome" type="xs:positiveInteger" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
            Salaire ou bénéfice déclaré
          </xs:documentation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
            Salaire ou bénéfice déclaré
          </xs:documentation>
          <xs:appinfo>
            <common>
              <step name="resources"/>
            </common>
            <fo/>
            <bo />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>

      <xs:element name="DhrIncomesAnnualTotal" type="xs:positiveInteger">
        <xs:annotation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
            Total annuel des revenus
          </xs:documentation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
            Total annuel
          </xs:documentation>
          <xs:appinfo>
            <common>
              <step name="resources"/>
            </common>
            <bo />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>

    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="DhrRealAssetType">
    <xs:annotation>
      <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
        Bien immobilier
      </xs:documentation>
      <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
        Bien immobilier
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>

      <xs:element name="DhrRealAssetAddress" type="cvq:AddressType">
        <xs:annotation>
          <xs:appinfo>
            <model namespace="users" isTiedToRequest="true" />
            <common>
              <step name="resources"/>
            </common>
            <fo />
            <bo />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>

      <xs:element name="DhrRealAssetValue" type="xs:positiveInteger">
        <xs:annotation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
            Valeur estimée
          </xs:documentation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
            Valeur estimée
          </xs:documentation>
          <xs:appinfo>
            <common>
              <step name="resources"/>
            </common>
            <fo/>
            <bo />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>

      <xs:element name="RealAssetNetFloorArea" type="xs:positiveInteger">
        <xs:annotation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
            Surface habitable (en m²)
          </xs:documentation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
            Superficie
          </xs:documentation>
          <xs:appinfo>
            <common>
              <step name="resources"/>
            </common>
            <fo/>
            <bo />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>

    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="DhrNotRealAssetType">
    <xs:annotation>
      <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
        Bien immobilier
      </xs:documentation>
      <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
        Bien immobilier
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>

      <xs:element name="DhrNotRealAssetType" type="dhr:DhrAssetTypeType" >
        <xs:annotation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
            Type
          </xs:documentation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
            Type
          </xs:documentation>
          <xs:appinfo>
            <common>
              <step name="resources"/>
            </common>
            <fo>
              <radio/>
            </fo>
            <bo />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>

      <xs:element name="DhrNotRealAssetKind" type="dhr:DhrAssetKindType" >
        <xs:annotation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
            Nature du bien
          </xs:documentation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
            Nature du bien
          </xs:documentation>
          <xs:appinfo>
            <common>
              <step name="resources"/>
              <conditions>
                <condition name="isRealEstate" type="trigger"/>
              </conditions>
            </common>
            <fo>
              <radio/>
            </fo>
            <bo />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>

      <xs:element name="DhrNotRealAssetAddress" type="cvq:AddressType" minOccurs="0">
        <xs:annotation>
          <xs:appinfo>
            <model namespace="users" isTiedToRequest="true" />
            <common>
              <step name="resources"/>
              <conditions>
                <condition name="isRealEstate" type="filled" required="true"/>
              </conditions>
            </common>
            <fo />
            <bo />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    
      <xs:element name="DhrNotRealAssetBeneficiaryName" type="cvq:LastNameType">
        <xs:annotation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
            Nom du bénéficiaire 
          </xs:documentation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
            Nom du bénéficiaire
          </xs:documentation>
          <xs:appinfo>
            <model namespace="users"/>
            <common>
              <step name="resources"/>
            </common>
            <fo/>
            <bo />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>

      <xs:element name="DhrNotRealAssetBeneficiaryFirstName" type="cvq:FirstNameType">
        <xs:annotation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
            Prénom du bénéficiaire 
          </xs:documentation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
            Prénom du bénéficiaire
          </xs:documentation>
          <xs:appinfo>
            <model namespace="users"/>
            <common>
              <step name="resources"/>
            </common>
            <fo/>
            <bo />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      
      <xs:element name="DhrNotRealAssetBeneficiaryAddress" type="cvq:AddressType">
        <xs:annotation>
          <xs:appinfo>
            <model namespace="users" isTiedToRequest="true" />
            <common>
              <step name="resources"/>
            </common>
            <fo />
            <bo />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>

      <xs:element name="DhrNotRealAssetValue" type="xs:positiveInteger">
        <xs:annotation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
            Valeur déclarée
          </xs:documentation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
            Valeur déclarée
          </xs:documentation>
          <xs:appinfo>
            <common>
              <step name="resources"/>
            </common>
            <fo/>
            <bo />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>

      <xs:element name="DhrNotRealAssetDate" type="xs:date" >
        <xs:annotation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
            Date partage, donation ou vente
          </xs:documentation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
            Date partage, donation ou vente
          </xs:documentation>
          <xs:appinfo>
            <common>
              <step name="resources"/>
            </common>
            <fo/>
            <bo />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>

      <xs:element name="DhrNotRealAssetNotaryName" type="cvq:LastNameType">
        <xs:annotation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
            Nom du notaire 
          </xs:documentation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
            Nom du notaire
          </xs:documentation>
          <xs:appinfo>
            <model namespace="users"/>
            <common>
              <step name="resources"/>
            </common>
            <fo/>
            <bo />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      
      <xs:element name="DhrNotRealAssetNotaryAddress" type="cvq:AddressType">
        <xs:annotation>
          <xs:appinfo>
            <model namespace="users" isTiedToRequest="true" />
            <common>
              <step name="resources"/>
            </common>
            <fo />
            <bo />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>

    </xs:sequence>
  </xs:complexType>

  <xs:simpleType name="DhrAssetTypeType">
    <xs:annotation>
      <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
        Type de bien
      </xs:documentation>
      <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
        Type
      </xs:documentation>
      <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/translation/enum">
        <enum key="Share" value="Partage" />
        <enum key="Gift" value="Donation" />
        <enum key="Sale" value="Vente" />
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="Share" />
      <xs:enumeration value="Gift" />
      <xs:enumeration value="Sale" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="DhrAssetKindType">
    <xs:annotation>
      <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
        Nature du bien 
      </xs:documentation>
      <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
        Nature du bien 
      </xs:documentation>
      <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/translation/enum">
        <enum key="RealEstate" value="Immobilier" />
        <enum key="Other" value="Autre" />
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="RealEstate" />
      <xs:enumeration value="Other" />
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="DhrTaxesAmountType">
    <xs:sequence>

      <xs:element name="DhrIncomeTax" type="xs:positiveInteger" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
            Impôt sur le revenu
          </xs:documentation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
            Impôt sur le revenu
          </xs:documentation>
          <xs:appinfo>
            <common>
              <step name="taxes"/>
            </common>
            <fo/>
            <bo />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>

      <xs:element name="LocalRate" type="xs:positiveInteger" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
            Taxes d'habitation
          </xs:documentation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
            Taxes d'habitation
          </xs:documentation>
          <xs:appinfo>
            <common>
              <step name="taxes"/>
            </common>
            <fo/>
            <bo />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>

      <xs:element name="PropertyTaxes" type="xs:positiveInteger" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
            Taxes foncières
          </xs:documentation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
            Taxes foncières
          </xs:documentation>
          <xs:appinfo>
            <common>
              <step name="taxes"/>
            </common>
            <fo/>
            <bo />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>

      <xs:element name="ProfessionalTaxes" type="xs:positiveInteger" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
            Taxes professionnelles
          </xs:documentation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
            Taxes professionnelles
          </xs:documentation>
          <xs:appinfo>
            <common>
              <step name="taxes"/>
            </common>
            <fo/>
            <bo />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>

    </xs:sequence>
  </xs:complexType>

</xs:schema>
