Generator/src/xml/schemas/request/ElectoralRollRegistrationRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="http://www.cg95.fr/cvq/schema/errr" xmlns:errr="http://www.cg95.fr/cvq/schema/errr"
  xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:cvq="http://www.cg95.fr/cvq/schema/common"
  elementFormDefault="qualified" attributeFormDefault="unqualified">

  <xs:import namespace="http://www.cg95.fr/cvq/schema/common" schemaLocation="../common/CVQCommonElements.xsd"></xs:import>

  <xs:element name="ElectoralRollRegistrationRequest">
    <xs:annotation>
      <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
        Demande d'inscription sur les listes électorales
      </xs:documentation>
      <xs:documentation xml:lang="en" source="http://www.cg95.fr/cvq/schema/longdesc">
        Electoral roll registration request
      </xs:documentation>
      <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
        Inscription sur les listes électorales
      </xs:documentation>
      <xs:documentation xml:lang="en" source="http://www.cg95.fr/cvq/schema/shortdesc">
        Electoral Roll Registration
      </xs:documentation>
      <xs:appinfo>
        <model namespace="election" />
        <fo namespace="election">
          <display field="Subject.Adult.LastName" stage="subject" page="subject" line="1"
            mode="static" />
          <display field="Subject.Adult.FirstName" stage="subject" page="subject" line="2"
            label="Prénom" mode="static" />
          <display field="Subject.Adult.FirstName2" stage="subject" page="subject" line="3"
            label="2ème prénom" mode="static" />
          <display field="Subject.Adult.FirstName3" stage="subject" page="subject" line="4"
            label="3ème prénom" mode="static" />
          <display field="Subject.Adult.BirthDate" stage="subject" page="subject" line="5"
            mode="static" />
          <display field="Subject.Adult.Address" stage="subject" page="subject" line="6"
            mode="static" />
          <display field="Subject.Adult.Sex" stage="subject" page="subject" line="9" mode="static" />

          <display field="Subject.Adult.LastName" stage="subject" page="display" line="1"
            mode="static" />
          <display field="Subject.Adult.FirstName" stage="subject" page="display" line="2"
            label="Prénom" mode="static" />
          <display field="Subject.Adult.FirstName2" stage="subject" page="display" line="3"
            label="2ème prénom" mode="static" />
          <display field="Subject.Adult.FirstName3" stage="subject" page="display" line="4"
            label="3ème prénom" mode="static" />
          <display field="Subject.Adult.BirthDate" stage="subject" page="display" line="5"
            mode="static" />
          <display field="Subject.Adult.Address" stage="subject" page="display" line="6"
            mode="static" />
          <display field="Subject.Adult.Sex" stage="subject" page="display" line="9" mode="static" />

          <display mode="labelonly" type="stagetitle" label="Subject" stage="validation"
            page="summary" line="0" />
          <display field="Subject.Adult.LastName" stage="validation" page="summary" line="1"
            mode="static" />
          <display field="Subject.Adult.FirstName" stage="validation" page="summary" line="2"
            label="Prénom" mode="static" />
          <display field="Subject.Adult.FirstName2" stage="validation" page="summary" line="3"
            label="2ème prénom" mode="static" />
          <display field="Subject.Adult.FirstName3" stage="validation" page="summary" line="4"
            label="3ème prénom" mode="static" />
          <display field="Subject.Adult.BirthDate" stage="validation" page="summary" line="5"
            mode="static" />
          <display field="Subject.Adult.Address" stage="validation" page="summary" line="6"
            mode="static" />
          <display field="Subject.Adult.Sex" stage="validation" page="summary" line="9"
            mode="static" />
        </fo>
        <bo namespace="election">
          <display field="Subject.Individual.LastName" page="displayelection" line="11"
            mode="static" />
          <display field="Subject.Individual.FirstName" page="displayelection" line="12"
            label="Prénom" mode="static" />
          <display field="Subject.Individual.FirstName2" page="displayelection" line="13"
            label="2ème prénom" mode="static" />
          <display field="Subject.Individual.FirstName3" page="displayelection" line="14"
            label="3ème prénom" mode="static" />
          <display field="Subject.Individual.BirthDate" page="displayelection" line="21"
            mode="static" />
          <display field="Subject.Individual.Sex" page="displayelection" line="22" mode="static" />
          <display field="Subject.Individual.Address" page="displayelection" line="31" mode="static" />

          <display field="Subject.Individual.LastName" page="checkelection" line="1" mode="static" />
          <display field="Subject.Individual.FirstName" page="checkelection" line="2" mode="static"
            label="Prénom" />
          <display field="Subject.Individual.BirthDate" page="checkelection" line="3" mode="static" />

          <display field="Subject.Individual.LastName" page="printelection" line="1" mode="static" />
          <display field="Subject.Individual.FirstName" page="printelection" line="2" mode="static"
            label="Prénom" />
          <display field="Subject.Individual.BirthDate" page="printelection" line="3" mode="static" />
        </bo>
        <xslfo>
          <blocks-def>
            <block id="0" label="Personne &#x00E0; inscrire*" column="2" />
            <block id="1" label="Raison de la demande*" />
            <block id="2" label="Adresse en dehors de la ville*" displayCondition="//errr:Motive/text() = 'DirectCityContribution'" />
            <block id="3" label="Moyen de contact*" />
            <block id="4" label="Informations sur l'inscription (&#x00E0; remplir par l'administration)"
              column="2" />
          </blocks-def>
          <element blockId="3" line="0" column="0" link="MeansOfContact"
            prefixLabel="Comment souhaitez-vous &#x00EA;tre informé ?">
            <complexTemplate />
          </element>
          <element blockId="0" line="0" column="0" columnSpan="2" link="Subject">
            <complexTemplate />
          </element>
        </xslfo>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="cvq:RequestType">
          <xs:sequence>
            <xs:element name="SubjectNationality" type="xs:string">
              <xs:annotation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
                  Nationalité de la personne à inscrire
		</xs:documentation>
                <xs:documentation xml:lang="fr"
                  source="http://www.cg95.fr/cvq/schema/shortdesc">
                  Nationalité
		</xs:documentation>
                <xs:appinfo>
                  <fo repository="Nationality">
                    <display field="" stage="subject" page="subject" line="10"
                      help="Choisissez une nationalité" />
                    <display field="" stage="subject" page="display" line="10" mode="static" />
                    <display field="" stage="validation" page="summary" line="10" mode="static" />
                  </fo>
                  <bo repository="Nationality">
                    <display field="" page="displayelection" line="51" />
                  </bo>
                  <xslfo>
                    <element blockId="0" line="1" column="0">
                      <string />
                    </element>
                  </xslfo>
                </xs:appinfo>
              </xs:annotation>
            </xs:element>
            <xs:element name="Motive" type="errr:ElectoralMotiveType">
              <xs:annotation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
                  Raison de la demande d'inscription sur les listes électorales
		</xs:documentation>
                <xs:documentation xml:lang="fr"
                  source="http://www.cg95.fr/cvq/schema/shortdesc">
                  Raison de la demande
		</xs:documentation>
                <xs:appinfo>
                  <fo>
                    <display field="" type="radiolist" stage="reason" page="reason" line="1"
                      mode="static" label=" " />
                    <display field="" type="radiolist" stage="reason" page="contributor"
                      line="1" mode="static" label=" " />
                    <display mode="labelonly" type="stagetitle" label="Reason" stage="validation"
                      page="summary" line="20" />
                    <display field="" type="radiolist" stage="validation" page="summary"
                      line="21" mode="static" />
                  </fo>
                  <bo>
                    <display field="" page="displayelection" line="52" />
                  </bo>
                  <xslfo>
                    <element blockId="1" line="0" column="0" usePrefixLabel="false">
                      <varargCheckbox displayModulo="2" />
                    </element>
                  </xslfo>
                </xs:appinfo>
              </xs:annotation>
            </xs:element>
            <xs:element name="SubjectOldCity" type="cvq:CityType" minOccurs="0">
              <xs:annotation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
                  Ancienne commune de résidence de la personne à inscrire
		</xs:documentation>
                <xs:documentation xml:lang="fr"
                  source="http://www.cg95.fr/cvq/schema/shortdesc">
                  Ancienne commune
		</xs:documentation>
                <xs:appinfo>
                  <fo>
                    <display field="" stage="reason" page="reason" line="2" />
                    <display field="" stage="validation" page="summaryreason" line="16"
                      mode="static" />
                  </fo>
                  <bo>
                    <display field="" page="displayelection" line="61" />
                  </bo>
                  <xslfo>
                    <element blockId="0" line="2" column="0"
                      displayCondition="//errr:Motive/text() = 'NewCityResident'">
                      <string />
                    </element>
                  </xslfo>
                </xs:appinfo>
              </xs:annotation>
            </xs:element>
            <xs:element name="SubjectAddressOutsideCity" type="cvq:AddressType"
              minOccurs="0">
              <xs:annotation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
                  Adresse en dehors de la commune
		</xs:documentation>
                <xs:documentation xml:lang="fr"
                  source="http://www.cg95.fr/cvq/schema/shortdesc">
                  Adresse en dehors de la commune
		</xs:documentation>
                <xs:appinfo>
                  <model namespace="users" isTiedToRequest="true" />
                  <fo>
                    <display field="" stage="reason" page="contributor" line="2"
                      condition="motive == DirectCityContribution" />
                    <display field="" stage="validation" page="summarycontributor" line="21"
                      mode="static" />
                  </fo>
                  <bo>
                    <display field="" page="displayelection" line="62" />
                  </bo>
                  <xslfo>
                    <element blockId="2" line="0" column="0">
                      <complexTemplate />
                    </element>
                  </xslfo>
                </xs:appinfo>
              </xs:annotation>
            </xs:element>
            <xs:element name="ElectoralNumber" type="xs:long" minOccurs="0">
              <xs:annotation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
                  Numéro d'ordre sur les listes électorales
		</xs:documentation>
                <xs:documentation xml:lang="fr"
                  source="http://www.cg95.fr/cvq/schema/shortdesc">
                  Numéro d'ordre
		</xs:documentation>
                <xs:appinfo>
                  <bo>
                    <display field="" page="checkelection" line="4" mode="input" />
                    <display field="" page="printelection" line="4" mode="static" />
                  </bo>
                  <xslfo>
                    <element blockId="4" line="0" column="0">
                      <string restrictToChar="true" />
                    </element>
                  </xslfo>
                </xs:appinfo>
              </xs:annotation>
            </xs:element>
            <xs:element name="PollingStation" type="xs:long" minOccurs="0">
              <xs:annotation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
                  Numéro de bureau
		</xs:documentation>
                <xs:documentation xml:lang="fr"
                  source="http://www.cg95.fr/cvq/schema/shortdesc">
                  Numéro de bureau
		</xs:documentation>
                <xs:appinfo>
                  <bo>
                    <display field="" page="checkelection" line="5" mode="input" />
                    <display field="" page="printelection" line="5" mode="static" />
                  </bo>
                  <xslfo>
                    <element blockId="4" line="1" column="0">
                      <string restrictToChar="true" />
                    </element>
                  </xslfo>
                </xs:appinfo>
              </xs:annotation>
            </xs:element>
            <xs:element name="PollingSchoolName" type="xs:string" minOccurs="0">
              <xs:annotation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
                  Nom du groupe scolaire
		</xs:documentation>
                <xs:documentation xml:lang="fr"
                  source="http://www.cg95.fr/cvq/schema/shortdesc">
                  Nom du groupe scolaire
		</xs:documentation>
                <xs:appinfo>
                  <bo>
                    <display field="" page="checkelection" line="6" mode="input" />
                    <display field="" page="printelection" line="6" mode="static" />
                  </bo>
                  <xslfo>
                    <element blockId="4" line="0" column="1">
                      <string />
                    </element>
                  </xslfo>
                </xs:appinfo>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>

  <xs:simpleType name="ElectoralMotiveType">
    <xs:annotation>
      <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
        Informations relatives &#x00E0; la raison de la demande d'inscription sur les listes
	électorales 
      </xs:documentation>
      <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
	Raison de la demande
      </xs:documentation>
      <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/translation/enum">
	<enum key="NewCityResident" value="Domicilié dans la commune ou y habitant depuis six mois au moins"/>
	<enum key="DirectCityContribution" value="Participe aux contributions directes communales pour la cinquième fois sans interruption"/>
	<enum key="CivilServantObligatoryResident" value="Fonctionnaire public assujetti à résidence obligatoire dans la commune"/>
	<enum key="FutureAuthorizedCitizen" value="Ne remplit pas actuellement les conditions d'âge et de résidence mais les remplira d'ici la clôture définitive des listes"/>
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="NewCityResident"/>
      <xs:enumeration value="DirectCityContribution"/>
      <xs:enumeration value="CivilServantObligatoryResident"/>
      <xs:enumeration value="FutureAuthorizedCitizen"/>
    </xs:restriction>
  </xs:simpleType>

</xs:schema>
