Generator/src/xml/schemas/request/ElectoralRollRegistrationRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="http://www.cg95.fr/cvq/schema/errr" 
  xmlns:errr="http://www.cg95.fr/cvq/schema/errr"
  xmlns:xs="http://www.w3.org/2001/XMLSchema" 
  xmlns:cvq="http://www.cg95.fr/cvq/schema/common"
  elementFormDefault="qualified" 
  attributeFormDefault="unqualified">

  <xs:import namespace="http://www.cg95.fr/cvq/schema/common" 
    schemaLocation="../common/CVQCommonElements.xsd" />

  <xs:element name="ElectoralRollRegistrationRequest">
    <xs:annotation>
      <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
        Demande d'inscription sur les listes électorales
      </xs:documentation>
      <xs:documentation xml:lang="en" source="http://www.cg95.fr/cvq/schema/longdesc">
        Electoral roll registration request
      </xs:documentation>
      <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
        Inscription sur les listes électorales
      </xs:documentation>
      <xs:documentation xml:lang="en" source="http://www.cg95.fr/cvq/schema/shortdesc">
        Electoral Roll Registration
      </xs:documentation>
      <xs:appinfo>
        <model namespace="election" />
        <common>
	        <namespace name="election" />
          <steps>
            <step index="0" name="subject" >
              <widgets>
                <subject />
              </widgets>
              <conditions>
                <condition name="isDirect" />
              </conditions>
            </step>
            <step index="1" ref="document" />
	          <step index="2" ref="validation" />
	        </steps>
	      </common>  
        <xslfo>
          <blocks-def>
            <block id="0" label="Personne à inscrire*" column="2" />
            <block id="1" label="Raison de la demande*" />
            <block id="2" label="Adresse en dehors de la ville*" displayCondition="//errr:Motive/text() = 'DirectCityContribution'" />
            <block id="3" label="Moyen de contact*" />
            <block id="4" label="Informations sur l'inscription (à remplir par l'administration)"
              column="2" />
          </blocks-def>
          <element blockId="3" line="0" column="0" link="MeansOfContact"
            prefixLabel="Comment souhaitez-vous être informé ?">
            <complexTemplate />
          </element>
          <element blockId="0" line="0" column="0" columnSpan="2" link="Subject">
            <complexTemplate />
          </element>
        </xslfo>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="cvq:RequestType">
          <xs:sequence>
            <xs:element name="SubjectNationality" type="cvq:NationalityType">
              <xs:annotation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
                  Nationalité de la personne à inscrire
                </xs:documentation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
                  Nationalité
                </xs:documentation>
                <xs:appinfo>
                  <model namespace="users" /> 
                  <common>
                    <step name="subject" />
                  </common>
                  <fo />
                  <bo column="1" />
                  <xslfo>
                    <element blockId="0" line="1" column="0">
                      <string />
                    </element>
                  </xslfo>
                </xs:appinfo>
              </xs:annotation>
            </xs:element>
            <xs:element name="Motive" type="errr:ElectoralMotiveType" default="NewCityResident">
              <xs:annotation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
                  Raison de la demande d'inscription sur les listes électorales
                </xs:documentation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
                  Raison de la demande
                </xs:documentation>
                <xs:appinfo>
                  <common>
                    <step name="subject" />
                    <conditions>
                      <condition name="isDirect" type="trigger" />
                    </conditions>
                  </common>
                  <fo>
                    <radio />
                  </fo>
                  <bo column="1" />
                  <xslfo>
                    <element blockId="1" line="0" column="0" usePrefixLabel="false">
                      <varargCheckbox displayModulo="2" />
                    </element>
                  </xslfo>
                </xs:appinfo>
              </xs:annotation>
            </xs:element>
            <xs:element name="SubjectOldCity" type="cvq:CityType" minOccurs="0">
              <xs:annotation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
                  Ancienne commune de résidence de la personne à inscrire
                </xs:documentation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
                  Ancienne commune
                </xs:documentation>
                <xs:appinfo>
                  <common>
                    <step name="subject" />
                    <conditions>
                      <condition name="isDirect" type="unfilled" required="true" />
                    </conditions>
                  </common>
                  <fo />
                  <bo column="1" />
                  <xslfo>
                    <element blockId="0" line="2" column="0"
                      displayCondition="//errr:Motive/text() = 'NewCityResident'">
                      <string />
                    </element>
                  </xslfo>
                </xs:appinfo>
              </xs:annotation>
            </xs:element>
            <xs:element name="SubjectAddressOutsideCity" type="cvq:AddressType"
              minOccurs="0">
              <xs:annotation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
                  Adresse en dehors de la commune
                </xs:documentation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
                  Adresse en dehors de la commune
                </xs:documentation>
                <xs:appinfo>
                  <model namespace="users" isTiedToRequest="true" />
                  <common>
                    <step name="subject" />
                    <conditions>
                      <condition name="isDirect" type="filled" required="true" />
                    </conditions>
                  </common>
                  <fo />
                  <bo column="1" />
                  <xslfo>
                    <element blockId="2" line="0" column="0">
                      <complexTemplate />
                    </element>
                  </xslfo>
                </xs:appinfo>
              </xs:annotation>
            </xs:element>
            <xs:element name="ElectoralNumber" type="xs:long" minOccurs="0">
              <xs:annotation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
                  Numéro d'ordre sur les listes électorales
                </xs:documentation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
                  Numéro d'ordre
                </xs:documentation>
                <xs:appinfo>
                  <common>
                    <step name="subject" />
                  </common>
                  <bo column="2" />
                  <xslfo>
                    <element blockId="4" line="0" column="0">
                      <string restrictToChar="true" />
                    </element>
                  </xslfo>
                </xs:appinfo>
              </xs:annotation>
            </xs:element>
            <xs:element name="PollingStation" type="xs:long" minOccurs="0">
              <xs:annotation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
                  Numéro de bureau
                </xs:documentation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
                  Numéro de bureau
                </xs:documentation>
                <xs:appinfo>
                  <common>
                    <step name="subject" />
                  </common>
                  <bo column="2" />
                  <xslfo>
                    <element blockId="4" line="1" column="0">
                      <string restrictToChar="true" />
                    </element>
                  </xslfo>
                </xs:appinfo>
              </xs:annotation>
            </xs:element>
            <xs:element name="PollingSchoolName" type="xs:string" minOccurs="0">
              <xs:annotation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
                  Nom du groupe scolaire
                </xs:documentation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
                  Nom du groupe scolaire
                </xs:documentation>
                <xs:appinfo>
                  <common>
                    <step name="subject" />
                  </common>
                  <bo column="2" />
                  <xslfo>
                    <element blockId="4" line="0" column="1">
                      <string />
                    </element>
                  </xslfo>
                </xs:appinfo>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>

  <xs:simpleType name="ElectoralMotiveType">
    <xs:annotation>
      <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
        Informations relatives à la raison de la demande d'inscription sur les listes électorales 
      </xs:documentation>
      <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
        Raison de la demande
      </xs:documentation>
      <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/translation/enum">
        <enum key="NewCityResident" value="Domicilié dans la commune ou y habitant depuis six mois au moins"/>
        <enum key="DirectCityContribution" value="Participe aux contributions directes communales pour la cinquième fois sans interruption"/>
        <enum key="CivilServantObligatoryResident" value="Fonctionnaire public assujetti à résidence obligatoire dans la commune"/>
        <enum key="FutureAuthorizedCitizen" value="Ne remplit pas actuellement les conditions d'âge et de résidence mais les remplira d'ici la clôture définitive des listes"/>
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="NewCityResident"/>
      <xs:enumeration value="DirectCityContribution"/>
      <xs:enumeration value="CivilServantObligatoryResident"/>
      <xs:enumeration value="FutureAuthorizedCitizen"/>
    </xs:restriction>
  </xs:simpleType>

</xs:schema>
