Generator/src/xml/schemas/request/MarriageDetailsRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="http://www.cg95.fr/cvq/schema/mdr"
  xmlns:mdr="http://www.cg95.fr/cvq/schema/mdr"
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns:cvq="http://www.cg95.fr/cvq/schema/common"
  elementFormDefault="qualified"
  attributeFormDefault="unqualified">

  <xs:import namespace="http://www.cg95.fr/cvq/schema/common"
    schemaLocation="../common/CVQCommonElements.xsd" />

  <xs:element name="MarriageDetailsRequest">
    <xs:annotation>
      <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
        Demande d'acte de mariage
      </xs:documentation>
      <xs:documentation xml:lang="en" source="http://www.cg95.fr/cvq/schema/longdesc">
        Marriage details request
      </xs:documentation>
      <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
        Acte de mariage
      </xs:documentation>
      <xs:documentation xml:lang="en" source="http://www.cg95.fr/cvq/schema/shortdesc">
        Marriage details
      </xs:documentation>
      <xs:appinfo>
        <model namespace="civil" />
        <common>
          <namespace name="civil" />
          <steps>
            <step index="0" name="requester">
              <widgets>
                <requester />
              </widgets>
            </step>
            <step index="1" name="nature">
              <conditions>
                <condition name="isOtherRequesterQuality" />
              </conditions>
            </step>
            <step index="2" name="type">
              <conditions>
                <condition name="isWithRelationship" />
              </conditions>
            </step>
            <step index="3" ref="document" />
            <step index="4" ref="validation" />
          </steps>
        </common>
        <xslfo>
          <blocks-def>
            <block id="0" label="Renseignements concernant l'acte d'état civil" column="3" />
            <block id="1" label="Renseignements concernant le demandeur" column="2" />
            <block id="2"
              label="Qualité du demandeur (lien de parenté avec la personne dont vous demandez l'acte)" />
            <block id="3" label="Etat civil de la personne dont vous demandez l'acte de mariage"
              column="2" />
            <block id="4" label="Informations de filiation de la personne dont vous demandez l'acte"
              displayCondition="//mdr:Format/text() = 'ExtractWithRelationship' or //mdr:Format/text() = 'FullCopy'" />
          </blocks-def>
          <element blockId="1" line="0" column="0" link="Requester">
            <complexTemplate />
          </element>
        </xslfo>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="cvq:RequestType">
          <xs:sequence>

            <xs:element name="RequesterQuality" type="mdr:MarriageRequesterQualityType"
              minOccurs="0">
              <xs:annotation>
                <xs:appinfo>
                  <common>
                    <step name="nature" />
                    <conditions>
                      <condition name="isOtherRequesterQuality" type="trigger" />
                    </conditions>
                  </common>
                  <fo />
                  <bo column="1" />
                  <xslfo>
                    <element blockId="2" line="0" column="0" usePrefixLabel="false">
                      <varargCheckbox displayModulo="2"/>
                    </element>
                  </xslfo>
                </xs:appinfo>
              </xs:annotation>
            </xs:element>

            <xs:element name="RequesterQualityPrecision" type="xs:string" minOccurs="0">
              <xs:annotation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
                  Précisions sur la qualité du demandeur
                </xs:documentation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
                  Précisions
                </xs:documentation>
                <xs:appinfo>
                  <common>
                    <step name="nature" />
                    <conditions>
                      <condition name="isOtherRequesterQuality" type="filled" />
                    </conditions>
                  </common>
                  <fo />
                  <bo column="1" />
                  <xslfo>
                    <element blockId="2" line="1" column="0" prefixLabel="Précisez (votre lien si autre, votre qualité (art. 197-5 de l'IGREC) si avocat ou notaire)">
                      <string valueWeight="3" />
                    </element>
                  </xslfo>
                </xs:appinfo>
              </xs:annotation>
            </xs:element>

            <xs:element name="MarriageHusband" type="mdr:MarriageHusbandInformationType">
              <xs:annotation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
                  Informations sur l'époux
                </xs:documentation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
                  L'époux
                </xs:documentation>
                <xs:appinfo>
                  <common>
                    <step name="nature" />
                  </common>
                  <fo />
                  <bo column="1" />
                  <xslfo>
                    <element blockId="3" line="0" column="0">
                      <localComplexElement />
                    </element>
                  </xslfo>
                </xs:appinfo>
              </xs:annotation>
            </xs:element>

            <xs:element name="MarriageWife" type="mdr:MarriageWifeInformationType">
              <xs:annotation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
                  Informations sur l'épouse
                </xs:documentation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
                  L'épouse
                </xs:documentation>
                <xs:appinfo>
                  <common>
                    <step name="nature" />
                  </common>
                  <fo />
                  <bo column="1" />
                  <xslfo>
                    <element blockId="3" line="2" column="0">
                      <localComplexElement />
                    </element>
                  </xslfo>
                </xs:appinfo>
              </xs:annotation>
            </xs:element>

            <xs:element name="Marriage" type="mdr:MarriageInformationType">
              <xs:annotation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
                  Informations sur le mariage
                </xs:documentation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
                  Le mariage
                </xs:documentation>
                <xs:appinfo>
                  <common>
                    <step name="nature" />
                  </common>
                  <fo />
                  <bo column="2" />
                  <xslfo>
                    <element blockId="3" line="4" column="0">
                      <localComplexElement />
                    </element>
                  </xslfo>
                </xs:appinfo>
              </xs:annotation>
            </xs:element>

            <xs:element name="Format" type="mdr:MarriageCertificateFormatType" default="FullCopy">
              <xs:annotation>
                <xs:appinfo>
                  <common>
                    <step name="type" />
                    <conditions>
                      <condition name="isWithRelationship" type="trigger" />
                    </conditions>
                  </common>
                  <fo>
                    <radio />
                  </fo>
                  <bo column="1" />
                  <xslfo>
                    <element blockId="0" line="1" column="0">
                      <varargCheckbox displayModulo="4" />
                    </element>
                  </xslfo>
                </xs:appinfo>
              </xs:annotation>
            </xs:element>

            <xs:element name="Copies" type="xs:positiveInteger" default="1">
              <xs:annotation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
                  Nombre d'actes souhaité
                </xs:documentation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
                  Nombre d'actes souhaité
                </xs:documentation>
                <xs:appinfo>
                  <common>
                    <step name="type" />
                  </common>
                  <fo />
                  <bo column="1" />
                  <xslfo>
                    <element blockId="0" line="2" column="0" columnSpan="1" useLongDesc="true">
                      <string restrictToChar="true" />
                    </element>
                  </xslfo>
                </xs:appinfo>
              </xs:annotation>
            </xs:element>

            <xs:element name="Comment" type="xs:token" minOccurs="0">
              <xs:annotation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
                  Commentaire
                </xs:documentation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
                  Commentaire
                </xs:documentation>
                <xs:appinfo>
                  <common>
                    <step name="type" />
                    <validation jsregexp="^.{0,255}$" />
                  </common>
                  <fo>
                    <textarea rows="3" />
                  </fo>
                  <bo column="1">
                    <textarea rows="3" />
                  </bo>
                  <xslfo>
                    <element blockId="0" line="2" column="1" columnSpan="2" useLongDesc="true">
                      <string valueWeight="3"/>
                    </element>
                  </xslfo>
                </xs:appinfo>
              </xs:annotation>
            </xs:element>

            <xs:element name="Motive" type="mdr:MarriageCertificateMotiveType" minOccurs="0">
              <xs:annotation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
                  Motif de la demande
                </xs:documentation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
                  Motif
                </xs:documentation>
                <xs:appinfo>
                  <common>
                    <step name="type" />
                  </common>
                  <fo />
                  <bo column="1" />
                  <xslfo>
                    <element blockId="0" line="3" column="0">
                      <varargCheckbox displayModulo="4" />
                    </element>
                  </xslfo>
                </xs:appinfo>
              </xs:annotation>
            </xs:element>

            <xs:element name="Relationship" type="mdr:MarriageRelationshipType">
              <xs:annotation>
                <xs:appinfo>
                  <common>
                    <step name="type" />
                    <conditions>
                      <condition name="isWithRelationship" type="filled" />
                    </conditions>
                  </common>
                  <fo />
                  <bo column="1" />
                  <xslfo>
                    <element blockId="4" line="0" column="0">
                      <varargCheckbox displayModulo="2" />
                    </element>
                  </xslfo>
                </xs:appinfo>
              </xs:annotation>
            </xs:element>

            <xs:element name="FatherInformation" type="mdr:MarriageFatherInformationType" minOccurs="0">
              <xs:annotation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
                  Informations sur le père
                </xs:documentation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
                  Le père
                </xs:documentation>
                <xs:appinfo>
                  <common>
                    <step name="type" />
                    <conditions>
                      <condition name="isWithRelationship" type="filled" />
                    </conditions>
                  </common>
                  <fo>
                    <label />
                  </fo>
                  <bo column="2" />
                  <xslfo>
                    <element blockId="4" line="1" column="0">
                      <localComplexElement />
                    </element>
                  </xslfo>
                </xs:appinfo>
              </xs:annotation>
            </xs:element>

            <xs:element name="MotherInformation" type="mdr:MarriageMotherInformationType" minOccurs="0">
              <xs:annotation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
                  Informations sur la mère
                </xs:documentation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
                  La mère
                </xs:documentation>
                <xs:appinfo>
                  <common>
                    <step name="type" />
                    <conditions>
                      <condition name="isWithRelationship" type="filled" />
                    </conditions>
                  </common>
                  <fo>
                    <label />
                  </fo>
                  <bo column="2" />
                  <xslfo>
                    <element blockId="4" line="3" column="0">
                      <localComplexElement />
                    </element>
                  </xslfo>
                </xs:appinfo>
              </xs:annotation>
            </xs:element>

          </xs:sequence>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>

  <xs:simpleType name="MarriageRequesterQualityType">
    <xs:annotation>
      <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
        Qualité du demandeur (lien de parenté avec la personne dont vous demandez
        l'acte)
      </xs:documentation>
      <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
        Qualité du demandeur
      </xs:documentation>
      <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/translation/enum">
        <enum key="Requester" value="Titulaire de l'acte" />
        <enum key="Spouse" value="Son conjoint" />
        <enum key="Parent" value="Son père / sa mère" />
        <enum key="GrandParent" value="Son grand-père / sa grand-mère" />
        <enum key="Child" value="Son fils / sa fille" />
        <enum key="LegalRepresentant" value="Son représentant légal" />
        <enum key="Agent" value="Son mandataire" />
        <enum key="HeirFamily" value="Son héritier et aussi son frère ou sa soeur" />
        <enum key="Heir" value="Son héritier sans être son frère ou sa soeur" />
        <enum key="Authorized" value="Autorisé par le procureur de la République" />
        <enum key="LawyerNotary" value="Avocat, notaire" />
        <enum key="Other" value="Autre" />
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="Requester" />
      <xs:enumeration value="Spouse" />
      <xs:enumeration value="Parent" />
      <xs:enumeration value="GrandParent" />
      <xs:enumeration value="Child" />
      <xs:enumeration value="LegalRepresentant" />
      <xs:enumeration value="Agent" />
      <xs:enumeration value="HeirFamily" />
      <xs:enumeration value="Heir" />
      <xs:enumeration value="Authorized" />
      <xs:enumeration value="LawyerNotary" />
      <xs:enumeration value="Other" />
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="MarriageHusbandInformationType">
    <xs:sequence>
      <xs:element name="MarriageHusbandLastName" type="cvq:LastNameType" minOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
            Nom de l'époux
          </xs:documentation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
            Nom
          </xs:documentation>
          <xs:appinfo>
            <common>
              <step name="nature" />
            </common>
            <fo />
            <bo />
            <xslfo>
              <element blockId="3" line="0" column="0" columnSpan="2">
                <string valueWeight="3" />
              </element>
            </xslfo>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="MarriageHusbandFirstNames" type="xs:string" minOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
            Prénom(s) de l'époux
          </xs:documentation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
            Prénom(s)
          </xs:documentation>
          <xs:appinfo>
            <common>
              <step name="nature" />
            </common>
            <fo />
            <bo />
            <xslfo>
              <element blockId="3" line="1" column="0" columnSpan="2">
                <string valueWeight="3" />
              </element>
            </xslfo>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="MarriageWifeInformationType">
    <xs:sequence>
      <xs:element name="MarriageWifeLastName" type="cvq:LastNameType" minOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
            Nom de l'épouse
          </xs:documentation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
            Nom
          </xs:documentation>
          <xs:appinfo>
            <common>
              <step name="nature" />
            </common>
            <fo />
            <bo />
            <xslfo>
              <element blockId="3" line="2" column="0" columnSpan="2">
                <string valueWeight="3" />
              </element>
            </xslfo>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="MarriageWifeFirstNames" type="xs:string" minOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
            Prénom(s) de l'épouse
          </xs:documentation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
            Prénom(s)
          </xs:documentation>
          <xs:appinfo>
            <common>
              <step name="nature" />
            </common>
            <fo />
            <bo />
            <xslfo>
              <element blockId="3" line="3" column="0" columnSpan="2">
                <string valueWeight="3" />
              </element>
            </xslfo>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="MarriageInformationType">
    <xs:sequence>
      <xs:element name="MarriageDate" type="xs:date">
        <xs:annotation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
            Date de mariage de l'individu
          </xs:documentation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
            Date de mariage
          </xs:documentation>
          <xs:appinfo>
            <common>
              <step name="nature" />
            </common>
            <fo />
            <bo />
            <xslfo>
              <element blockId="3" line="4" column="0">
                <simpleTemplate templateName="cvq:DisplayDate" templateParam="DateToDisplay" />
              </element>
            </xslfo>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="MarriageCity" type="cvq:CityType" minOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
            Ville de mariage de l'individu
          </xs:documentation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
            Ville de mariage
          </xs:documentation>
          <xs:appinfo>
            <common>
              <step name="nature" />
            </common>
            <fo />
            <bo />
            <xslfo>
              <element blockId="3" line="5" column="0">
                <string />
              </element>
            </xslfo>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="MarriagePostalCode" type="cvq:DepartmentCodeType" minOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
            Département de mariage de l'individu
          </xs:documentation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
            Département de mariage
          </xs:documentation>
          <xs:appinfo>
            <common>
              <step name="nature" />
            </common>
            <fo />
            <bo />
            <xslfo>
              <element blockId="3" line="6" column="1">
                <string />
              </element>
            </xslfo>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:simpleType name="MarriageCertificateFormatType">
    <xs:annotation>
      <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
        Informations relatives au type de l'acte d'état civil
      </xs:documentation>
      <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
        Type de l'acte
      </xs:documentation>
      <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/translation/enum">
        <enum key="FullCopy" value="Copie intégrale" />
        <enum key="ExtractWithRelationship" value="Extrait avec filiation" />
        <enum key="ExtractWithoutRelationship" value="Extrait sans filiation" />
        <enum key="MultilingualExtract" value="Extrait plurilingue" />
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="FullCopy" />
      <xs:enumeration value="ExtractWithRelationship" />
      <xs:enumeration value="ExtractWithoutRelationship" />
      <xs:enumeration value="MultilingualExtract" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="MarriageCertificateMotiveType">
    <xs:annotation>
      <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
        Informations relatives au motif de la demande
      </xs:documentation>
      <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
        Motif
      </xs:documentation>
      <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/translation/enum">
        <enum key="NotaryAct" value="Acte de notaire" />
        <enum key="FrenchNationalityCertificate" value="Certificat de nationalité française" />
        <enum key="MaritalRegimeChange" value="Changement de régime matrimonial" />
        <enum key="FrenchNationalityAcquisitionDeclaration"
        	value="Déclaration d'acquisition de la nationalité française" />
        <enum key="DivorceSeparation" value="Divorce, séparation" />
        <enum key="Passport" value="Passeport" />
        <enum key="Pension" value="Pension" />
        <enum key="Other" value="Autre" />
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="NotaryAct" />
      <xs:enumeration value="FrenchNationalityCertificate" />
      <xs:enumeration value="MaritalRegimeChange" />
      <xs:enumeration value="FrenchNationalityAcquisitionDeclaration" />
      <xs:enumeration value="DivorceSeparation" />
      <xs:enumeration value="Passport" />
      <xs:enumeration value="Pension" />
      <xs:enumeration value="Other" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="MarriageRelationshipType">
    <xs:annotation>
      <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
        Information de filiation de la personne dont vous demandez l'acte
      </xs:documentation>
      <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
        Filiation de
      </xs:documentation>
      <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/translation/enum">
        <enum key="Husband" value="L'époux" />
        <enum key="Wife" value="L'épouse" />
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="Husband" />
      <xs:enumeration value="Wife" />
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="MarriageFatherInformationType">
    <xs:sequence>
      <xs:element name="FatherLastName" type="cvq:LastNameType" minOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
            Nom du père
          </xs:documentation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
            Nom
          </xs:documentation>
          <xs:appinfo>
            <common>
              <step name="type" />
            </common>
            <fo />
            <bo />
            <xslfo>
              <element blockId="4" line="1" column="0">
                <string valueWeight="3" />
              </element>
            </xslfo>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="FatherFirstNames" type="xs:string" minOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
            Prénom(s) du père
          </xs:documentation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
            Prénom(s)
          </xs:documentation>
          <xs:appinfo>
            <common>
              <step name="type" />
            </common>
            <fo />
            <bo />
            <xslfo>
              <element blockId="4" line="2" column="0">
                <string valueWeight="3" />
              </element>
            </xslfo>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="MarriageMotherInformationType">
    <xs:sequence>
      <xs:element name="MotherMaidenName" type="cvq:LastNameType" minOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
            Nom de jeune fille de la mère
          </xs:documentation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
            Nom de jeune fille
          </xs:documentation>
          <xs:appinfo>
            <common>
              <step name="type" />
            </common>
            <fo />
            <bo />
            <xslfo>
              <element blockId="4" line="3" column="0">
                <string valueWeight="3" />
              </element>
            </xslfo>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="MotherFirstNames" type="xs:string" minOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
            Prénom(s) de la mère
          </xs:documentation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
            Prénom(s)
          </xs:documentation>
          <xs:appinfo>
            <common>
              <step name="type" />
            </common>
            <fo />
            <bo />
            <xslfo>
              <element blockId="4" line="4" column="0">
                <string valueWeight="3" />
              </element>
            </xslfo>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
