Generator/src/xml/schemas/request/ParkingSpaceReservationRequest.xsd

<xs:schema targetNamespace="http://www.cg95.fr/cvq/schema/psrr"
    xmlns:psrr="http://www.cg95.fr/cvq/schema/psrr"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns:cvq="http://www.cg95.fr/cvq/schema/common"
    elementFormDefault="qualified" attributeFormDefault="unqualified">

  <xs:import namespace="http://www.cg95.fr/cvq/schema/common" 
    schemaLocation="../common/CVQCommonElements.xsd" />

  <xs:element name="ParkingSpaceReservationRequest">
    <xs:annotation>
      <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
        Réservation Déménagement, Emménagement</xs:documentation>
      <xs:documentation xml:lang="en" source="http://www.cg95.fr/cvq/schema/longdesc">
        Parking space reservation request</xs:documentation>
      <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
        Réservation Déménagement, Emménagement</xs:documentation>
      <xs:documentation xml:lang="en" source="http://www.cg95.fr/cvq/schema/shortdesc">
        Parking space reservation</xs:documentation>
      <xs:appinfo>
        <model namespace="urbanism" />
        <fo namespace="urban.psrr">
        </fo>
        <bo namespace="urban">
        </bo>
        <xslfo>
          <blocks-def>
            <block id="0" label="Civilit&#x00E9; Demandeur*" column="2" />
            <block id="1" label="Adresses Demandeur*" column="2" 
                displayCondition="//psrr:IsWithAccount/text() = 'withAccount'"/>
            <block id="2" label="Adresses Demandeur*" column="2" 
                displayCondition="//psrr:IsWithAccount/text() = 'withoutAccount'"/>
            <block id="3" label="R&#x00E9;servation*" column="2" />
            <block id="4" label="Moyen de contact*" />
          </blocks-def>
          <element blockId="4" line="0" column="0" link="MeansOfContact" 
            prefixLabel="Comment souhaitez-vous &#x00EA;tre inform&#x00E9; ?">
            <complexTemplate />
          </element>
        </xslfo>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="cvq:RequestType">
          <xs:sequence>
            
            <xs:element name="IsWithAccount" type="xs:string">
              <xs:annotation>
                <xs:appinfo>
                  <fo>
                    <display field="" type="hidden" stage="requesterinfo" page="requesterinfo" line="0" />
                    <display field="" type="hidden" stage="requesterinfo" page="display" mode="static" line="0" />
                    <display field="" type="hidden" stage="validation" page="summary" mode="static" line="0" />
                  </fo>
                </xs:appinfo>
              </xs:annotation>
            </xs:element>

            <!-- ********** WITHOUT ACCOUNT BLOCK ********** -->

            <xs:element name="RequesterLastName" type="cvq:LastNameType">
              <xs:annotation>
                <xs:appinfo> 
                  <fo>
                    <display field="" type="" stage="requesterinfo" page="requesterinfo" line="1" 
                        block="withAccount" condition="isWithAccount == withoutAccount" />
                    <display field="" type="" stage="requesterinfo" page="display" line="1" mode="static"/>
                    <display mode="labelonly" type="stagetitle" label="Requesterinfo" stage="validation" 
                        page="summary" line="20"/>
                    <display field="" type="" stage="validation" page="summary" line="20" mode="static"/>
                  </fo>
                  <bo>
                    <display field="" page="displayreservation" line="19" />
                  </bo>
                  <xslfo>
                    <element blockId="0" line="0" column="0">
                      <string />
                    </element>
                  </xslfo>
                </xs:appinfo> 
              </xs:annotation>
            </xs:element>
            
            <xs:element name="RequesterFirstName" type="cvq:FirstNameType">
              <xs:annotation>
                <xs:appinfo> 
                  <fo>
                    <display field="" type="" stage="requesterinfo" page="requesterinfo" line="2" 
                        block="withAccount" condition="isWithAccount == withoutAccount" />
                    <display field="" type="" stage="requesterinfo" page="display" line="2" mode="static"/>
                    <display field="" type="" stage="validation" page="summary" line="21" mode="static"/>
                  </fo>
                  <bo>
                    <display field="" page="displayreservation" line="20" />
                  </bo>
                  <xslfo>
                    <element blockId="0" line="0" column="1">
                      <string />
                    </element>
                  </xslfo>
                </xs:appinfo> 
              </xs:annotation>
            </xs:element>

            <xs:element name="RequesterPhone" type="cvq:PhoneType">
              <xs:annotation>
                <xs:appinfo> 
                  <fo>
                    <display field="" type="" stage="requesterinfo" page="requesterinfo" line="3" 
                        block="withAccount" condition="isWithAccount == withoutAccount" />
                    <display field="" type="" stage="requesterinfo" page="display" line="3" mode="static"/>
                    <display field="" type="" stage="validation" page="summary" line="22" mode="static"/>
                  </fo>
                  <bo>
                    <display field="" page="displayreservation" line="21" />
                  </bo>
                  <xslfo>
                    <element blockId="0" line="1" column="0">
                      <string />
                    </element>
                  </xslfo>
                </xs:appinfo> 
              </xs:annotation>
            </xs:element>

            <xs:element name="RequesterEmail" type="cvq:EmailType">
              <xs:annotation>
                <xs:appinfo> 
                  <fo>
                    <display field="" type="" stage="requesterinfo" page="requesterinfo" line="4" 
                        block="withAccount" condition="isWithAccount == withoutAccount" />
                    <display field="" type="" stage="requesterinfo" page="display" line="4" mode="static"/>
                    <display field="" type="" stage="validation" page="summary" line="23" mode="static"/>
                  </fo>
                  <bo>
                    <display field="" page="displayreservation" line="22" />
                  </bo>
                  <xslfo>
                    <element blockId="0" line="1" column="1">
                      <string />
                    </element>
                  </xslfo>
                </xs:appinfo> 
              </xs:annotation>
            </xs:element>

            <xs:element name="RequesterCurrentAddress" type="cvq:AddressType">
              <xs:annotation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
                  Adresse de d&#x00E9;part
                </xs:documentation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
                  Adresse de d&#x00E9;part
                </xs:documentation>
                <xs:documentation xml:lang="en" source="http://www.cg95.fr/cvq/schema/longdesc">
                  Current address
                </xs:documentation>
                <xs:documentation xml:lang="en" source="http://www.cg95.fr/cvq/schema/shortdesc">
                  Current address
                </xs:documentation>
                <xs:appinfo>
                  <model namespace="users" isTiedToRequest="true" />
                  <fo>
                    <display field="" type="" stage="requesterinfo" page="requesterinfo" line="5" 
                        block="withAccount" condition="isWithAccount == withoutAccount" 
                        help="Adresse de départ" />
                    <display field="" type="" stage="requesterinfo" page="display" line="5" mode="static"
                        help="Adresse de départ"
                        block="withAccount" condition="isWithAccount == withoutAccount"/>
                    <display field="" type="" stage="validation" page="summary" line="24" mode="static"
                        help="Adresse de départ"
                        block="withAccount" condition="isWithAccount == withoutAccount"/>
                  </fo>
                  <bo>
                    <display field="" page="displayreservation" line="23" />
                  </bo>
                  <xslfo>
                    <element blockId="2" line="0" column="0" columnSpan="2">
                      <complexTemplate />
                    </element>
                  </xslfo>
                </xs:appinfo> 
              </xs:annotation>
            </xs:element>

            <xs:element name="RequesterFutureAddress" type="cvq:AddressType">
              <xs:annotation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
                  Adresse d'arriv&#x00E9;e
                </xs:documentation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
                  Adresse d'arriv&#x00E9;e
                </xs:documentation>
                <xs:documentation xml:lang="en" source="http://www.cg95.fr/cvq/schema/longdesc">
                  Future address
                </xs:documentation>
                <xs:documentation xml:lang="en" source="http://www.cg95.fr/cvq/schema/shortdesc">
                  Future address
                </xs:documentation>
                <xs:appinfo> 
                  <model namespace="users" isTiedToRequest="true" />
                  <fo>
                    <display field="" type="" stage="requesterinfo" page="requesterinfo" line="7" 
                        block="withAccount" condition="isWithAccount == withoutAccount"
                        help="Adresse d'arrivée" />
                    <display field="" type="" stage="requesterinfo" page="display" line="7" mode="static"
                        help="Adresse d'arrivée"
                        block="withAccount" condition="isWithAccount == withoutAccount"/>
                    <display field="" type="" stage="validation" page="summary" line="25" mode="static"
                        help="Adresse d'arrivée"
                        block="withAccount" condition="isWithAccount == withoutAccount"/>
                  </fo>
                  <bo>
                    <display field="" page="displayreservation" line="24" />
                  </bo>
                  <xslfo>
                    <element blockId="2" line="1" column="0" columnSpan="2">
                      <complexTemplate />
                    </element>
                  </xslfo>
                </xs:appinfo> 
              </xs:annotation>
            </xs:element>

            <!-- ********** WITH ACCOUNT BLOCK ********** -->
            
            <xs:element name="RequesterFirstAddressKind" type="psrr:AccountAddressKindType"
                default="Current">
              <xs:annotation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
                  Nature de l'adresse du compte
                </xs:documentation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
                  Nature de l'adresse du compte
                </xs:documentation>
                <xs:documentation xml:lang="en" source="http://www.cg95.fr/cvq/schema/longdesc">
                  Account's address kind
                </xs:documentation>
                <xs:documentation xml:lang="en" source="http://www.cg95.fr/cvq/schema/shortdesc">
                  Account's address kind
                </xs:documentation>
                <xs:appinfo> 
                  <fo>
                    <display field="" type="radiolist" mode="inline" label="Nature" 
                        help="Adresse du compte"
                        stage="requesterinfo" page="requesterinfo" line="9"
                        block="withoutAccount" condition="isWithAccount == withAccount" />
                    <display field="" type="radiolist" mode="static" label="Nature"
                        stage="requesterinfo" page="display" line="8" help="Adresse du compte"
                        block="withoutAccount" condition="isWithAccount == withAccount"/>
                    <display field="" type="radiolist" mode="static" label="Nature"
                        stage="validation" page="summary" line="26" help="Adresse du compte"
                        block="withoutAccount" condition="isWithAccount == withAccount"/>
                  </fo>
                  <bo>
                    <display field="" page="displayreservation" line="25" />
                  </bo>
                  <xslfo>
                    <element blockId="1" line="0" column="0">
                      <varargCheckbox displayModulo="2" />
                    </element>
                  </xslfo>
                </xs:appinfo> 
              </xs:annotation>
            </xs:element>

            <xs:element name="RequesterFirstAddress" type="cvq:AddressType">
              <xs:annotation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
                  Première adresse
                </xs:documentation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
                  Première adresse
                </xs:documentation>
                <xs:documentation xml:lang="en" source="http://www.cg95.fr/cvq/schema/longdesc">
                  Future or current address
                </xs:documentation>
                <xs:documentation xml:lang="en" source="http://www.cg95.fr/cvq/schema/shortdesc">
                  Future or current address
                </xs:documentation>
                <xs:appinfo> 
                  <model namespace="users" isTiedToRequest="true" />
                  <fo>
                    <display field="" type="" stage="requesterinfo" page="requesterinfo" line="11" 
                        block="withoutAccount" condition="isWithAccount == withAccount" 
                        mode="static" />
                    <display field="" type="" stage="requesterinfo" page="display" line="9" mode="static"
                        block="withoutAccount" />
                    <display field="" type="" stage="validation" page="summary" line="27" mode="static"
                        block="withoutAccount" />
                  </fo>
                  <bo>
                    <display field="" page="displayreservation" line="26" />
                  </bo>
                  <xslfo>
                    <element blockId="1" line="1" column="0" columnSpan="2">
                      <complexTemplate />
                    </element>
                  </xslfo>
                </xs:appinfo> 
              </xs:annotation>
            </xs:element>

            <xs:element name="RequesterOtherAddressKind" type="psrr:AccountAddressKindType"
                default="Future">
              <xs:annotation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
                  Nature de l'adresse
                </xs:documentation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
                  Nature de l'adresse
                </xs:documentation>
                <xs:documentation xml:lang="en" source="http://www.cg95.fr/cvq/schema/longdesc">
                  Account's address kind
                </xs:documentation>
                <xs:documentation xml:lang="en" source="http://www.cg95.fr/cvq/schema/shortdesc">
                  Account's address kind
                </xs:documentation>
                <xs:appinfo> 
                  <fo>
                    <display field="" type="radiolist"  mode="inline" label="Nature" 
                        help="Autre adresse"
                        stage="requesterinfo" page="requesterinfo" line="13"
                        block="withoutAccount" condition="isWithAccount == withAccount" />                        
                    <display field="" type="radiolist" mode="static" label="Nature"
                        stage="requesterinfo" page="display" line="10" help="Autre adresse"
                        block="withoutAccount" condition="isWithAccount == withAccount"/>
                        
                    <display field="" type="radiolist" mode="static" label="Nature" 
                        stage="validation" page="summary" line="28" help="Autre adresse"
                        block="withoutAccount" condition="isWithAccount == withAccount"/>
                  </fo>
                  <bo>
                    <display field="" page="displayreservation" line="27" />
                  </bo>
                  <xslfo>
                    <element blockId="1" line="2" column="0">
                      <varargCheckbox displayModulo="2" />
                    </element>
                  </xslfo>
                </xs:appinfo> 
              </xs:annotation>
            </xs:element>

            <xs:element name="RequesterOtherAddress" type="cvq:AddressType">
              <xs:annotation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
                  Seconde adresse
                </xs:documentation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
                  Seconde adresse
                </xs:documentation>
                <xs:documentation xml:lang="en" source="http://www.cg95.fr/cvq/schema/longdesc">
                  Future or current address
                </xs:documentation>
                <xs:documentation xml:lang="en" source="http://www.cg95.fr/cvq/schema/shortdesc">
                  Future or current address
                </xs:documentation>
                <xs:appinfo> 
                  <model namespace="users" isTiedToRequest="true" />
                  <fo>
                    <display field="" type="" stage="requesterinfo" page="requesterinfo" line="14" 
                        block="withoutAccount" condition="isWithAccount == withAccount" />
                    <display field="" type="" stage="requesterinfo" page="display" line="11" mode="static"
                        block="withoutAccount" />
                    <display field="" type="" stage="validation" page="summary" line="29" mode="static"
                        block="withoutAccount" />
                  </fo>
                  <bo>
                    <display field="" page="displayreservation" line="28" />
                  </bo>
                  <xslfo>
                    <element blockId="1" line="3" column="0" columnSpan="2">
                      <complexTemplate />
                    </element>
                  </xslfo>
                </xs:appinfo> 
              </xs:annotation>
            </xs:element>

            <xs:element name="FurnitureLift" type="xs:boolean">
              <xs:annotation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
                  Pr&#x00E9;sence d'un monte meuble ? 
                </xs:documentation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
                  Pr&#x00E9;sence d'un monte meuble ?
                </xs:documentation>
                <xs:documentation xml:lang="en" source="http://www.cg95.fr/cvq/schema/longdesc">
                  Presence of a furniture elevator ?
                </xs:documentation>
                <xs:documentation xml:lang="en" source="http://www.cg95.fr/cvq/schema/shortdesc">
                  Presence of a furniture elevator ?
                </xs:documentation>
                <xs:appinfo>        
                  <fo>
                    <display field="" type="yesno" stage="reservation" page="reservation" line="3" mode="inline"/>
                    <display field="" type="yesno" stage="reservation" page="display" line="3" mode="static"/>
                    <display mode="labelonly" type="stagetitle" label="Reservation" stage="validation" 
                        page="summary" line="30"/>
                    <display field="" type="yesno" stage="validation" page="summary" line="33" mode="static"/>
                  </fo>
                  <bo>
                    <display field="" type="yesno" page="displayreservation" line="31"/>
                  </bo>
                  <xslfo>
                    <element blockId="3" line="1" column="0">
                      <yesnoCheckbox/>
                    </element>
                  </xslfo>                
                </xs:appinfo>               
              </xs:annotation>                
            </xs:element>
          
            <xs:element name="StartDate" type="xs:date">
              <xs:annotation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
                  Date de début
                </xs:documentation>
                <xs:documentation xml:lang="en" source="http://www.cg95.fr/cvq/schema/shortdesc">
                  Start date
                </xs:documentation>
                <xs:appinfo>
                  <fo>
                    <display field="" stage="reservation" page="reservation" line="5" help="ex: 21/06/1956" />
                    <display field="" stage="reservation" page="display" line="5" mode="static" />
                    <display field="" stage="validation" page="summary" line="35" mode="static" />
                  </fo>
                  <bo>
                    <display field="" page="displayreservation" line="32" />
                  </bo>
                  <xslfo>
                    <element blockId="3" line="2" column="0">
                      <simpleTemplate templateName="cvq:DisplayDate" templateParam="DateToDisplay" />
                    </element>
                  </xslfo>
                </xs:appinfo>
              </xs:annotation>
            </xs:element>
          
            <xs:element name="Duration" type="cvq:LocalReferentialDataType" maxOccurs="unbounded">
              <xs:annotation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
                  Durée de la réservation
                </xs:documentation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
                  Durée
                </xs:documentation>
                <xs:documentation xml:lang="en" source="http://www.cg95.fr/cvq/schema/longdesc">
                  Reservation duration
                </xs:documentation>
                <xs:documentation xml:lang="en" source="http://www.cg95.fr/cvq/schema/shortdesc">
                  Duration
                </xs:documentation>
                <xs:appinfo> 
                  <model namespace="users" isTiedToRequest="true" />
                  <fo repository="Duration">
                    <display field="" type="select" stage="reservation" page="reservation" line="7" 
                        help="Choisissez une durée" />
                    <display field="" type="select" stage="reservation" page="display" line="7" mode="static"/>
                    <display field="" type="select" stage="validation" page="summary" line="38" mode="static"/>
                  </fo>
                  <bo repository="Duration">
                    <display field="" page="displayreservation" line="33" />
                  </bo>
                  <xslfo>
                    <element blockId="3" line="3" column="0">
                      <localReferential />
                    </element>
                  </xslfo>
                </xs:appinfo> 
              </xs:annotation>
            </xs:element>

          </xs:sequence>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  
  <xs:simpleType name="AccountAddressKindType">
    <xs:annotation>
      <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
        Nature de l'adresse
      </xs:documentation>
      <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
        Nature de l'adresse
      </xs:documentation>
      <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/translation/enum">
        <enum key="Current" value="Adresse de départ" />
        <enum key="Future" value="Adresse d'arrivée" />
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="Current" />
      <xs:enumeration value="Future" />
    </xs:restriction>
  </xs:simpleType>
  
</xs:schema>
