Generator/src/xml/schemas/request/PerischoolActivityRegistrationRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="http://www.cg95.fr/cvq/schema/parr" 
  xmlns:parr="http://www.cg95.fr/cvq/schema/parr"
  xmlns:xs="http://www.w3.org/2001/XMLSchema" 
  xmlns:cvq="http://www.cg95.fr/cvq/schema/common"
  elementFormDefault="qualified" 
  attributeFormDefault="unqualified">

  <xs:import namespace="http://www.cg95.fr/cvq/schema/common" 
    schemaLocation="../common/CVQCommonElements.xsd" />

  <xs:element name="PerischoolActivityRegistrationRequest">
    <xs:annotation>
      <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
        Demande d'inscription aux activités périscolaires
      </xs:documentation>
      <xs:documentation xml:lang="en" source="http://www.cg95.fr/cvq/schema/longdesc">
        Perischool Activity Registration
      </xs:documentation>
      <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
        Inscription aux activités périscolaires
      </xs:documentation>
      <xs:documentation xml:lang="en" source="http://www.cg95.fr/cvq/schema/shortdesc">
        Perischool Activity Registration
      </xs:documentation>
      <xs:appinfo>
        <model namespace="school" />
        <common>
          <namespace name="school" />
          <steps>
            <step index="0" name="registration" >
              <widgets>
                <subject />
              </widgets>
           	</step>
            <step index="1" name="contact" required="false" />
            <step index="2" name="authorization" required="false" />
            <step index="3" name="rules" />
            <step index="4" ref="document" />
            <step index="5" ref="validation" />
          </steps>
        </common>  
        <xslfo>
          <blocks-def>
            <block id="0" label="Enfant*" column="2" />
            <block id="1" label="Activités périscolaires*" />
            <block id="2" label="Moyen de contact*" />
            <block id="3" label="Personnes à contacter" />
            <block id="4" label="Personnes autorisées" />
            <block id="5" label="Autorisation de participation aux sorties" />
            <block id="6" label="Autorisation d'hospitalisation" />
            <block id="7" label="Règlement intérieur" />
            <block id="8" label="Autorisation d'exploitation de la photo de l'enfant" />
          </blocks-def>
          <element blockId="2" line="0" column="0" link="MeansOfContact"
            prefixLabel="Comment souhaitez-vous être informé ?">
            <complexTemplate />
          </element>
          <element blockId="0" line="0" column="0" columnSpan="2" link="Subject">
            <complexTemplate />
          </element>
        </xslfo>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="cvq:RequestType">
          <xs:sequence>
            <xs:element name="PerischoolActivity" type="cvq:LocalReferentialDataType"
              maxOccurs="unbounded">
              <xs:annotation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
                  Informations relatives aux activités périscolaires de l'enfant
                </xs:documentation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
                  Activités périscolaires
                </xs:documentation>
                <xs:appinfo>
                  <model namespace="users" isTiedToRequest="true" />
                  <common>
                    <step name="registration" />
                  </common>
                  <fo />
                  <bo column="1" />
                  <xslfo>
                    <element blockId="1" line="0" column="0" usePrefixLabel="false">
                      <localReferential />
                    </element>
                  </xslfo>
                </xs:appinfo>
              </xs:annotation>
            </xs:element>
            <xs:element name="UrgencyPhone" type="cvq:PhoneType">
              <xs:annotation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
                  Téléphone en cas d'urgence
                </xs:documentation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
                  Téléphone en cas d'urgence
                </xs:documentation>
                <xs:appinfo>
                  <common>
                    <step name="registration" />
                  </common>
                  <fo />
                  <bo column="1" />
                  <xslfo>
                    <element blockId="0" line="1" column="0" columnSpan="1">
                      <string />
                    </element>
                  </xslfo>
                </xs:appinfo>
              </xs:annotation>
            </xs:element>
            <xs:element name="School" type="cvq:SchoolType" minOccurs="0" maxOccurs="1">
              <xs:annotation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
                  L'école dans laquelle est inscrit l'enfant
                </xs:documentation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
                  Ecole
                </xs:documentation>
                <xs:documentation xml:lang="en" source="http://www.cg95.fr/cvq/schema/longdesc">
                  The school in which the child is registered
                </xs:documentation>
                <xs:appinfo>
                  <model namespace="authority" />
                  <common>
                    <step name="registration" />
                  </common>
                  <bo column="1" />
                  <xslfo>
                    <element blockId="0" line="2" column="0">
                      <string selectXPath="cvq:Name" />
                    </element>
                  </xslfo>
                </xs:appinfo>
              </xs:annotation>
            </xs:element>
            <xs:element name="Section" type="cvq:SectionType" default="Unknown">
              <xs:annotation>
                <xs:appinfo>
                  <model namespace="users" />
                  <common>
                    <step name="registration" />
                  </common>
                  <bo column="1" />
                  <xslfo>
                    <element blockId="0" line="3" column="1">
                      <string referential="true" />
                    </element>
                  </xslfo>
                </xs:appinfo>
              </xs:annotation>
            </xs:element>
            <xs:element name="ContactIndividuals" type="parr:PerischoolContactIndividualType" minOccurs="0"
              maxOccurs="unbounded">
              <xs:annotation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
                  Liste des personne à contacter en cas de problème
                </xs:documentation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
                  Personne à contacter
                </xs:documentation>
                <xs:appinfo>
                  <common>
                    <step name="contact" />
                  </common>
                  <fo />
                  <bo column="1" />
                  <xslfo>
                    <element blockId="3" line="0" column="0">
                      <localComplexElement />
                    </element>
                  </xslfo>
                </xs:appinfo>
              </xs:annotation>
            </xs:element>
            <xs:element name="AuthorizedIndividuals" type="parr:PerischoolAuthorizedIndividualType" minOccurs="0"
              maxOccurs="unbounded">
              <xs:annotation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
                  Liste des personnes autorisées à venir chercher l'enfant
                </xs:documentation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
                  Personnes autorisées
                </xs:documentation>
                <xs:appinfo>
                  <common>
                    <step name="authorization" />
                  </common>
                  <fo />
                  <bo column="1" />
                  <xslfo>
                    <element blockId="4" line="0" column="0">
                      <localComplexElement />
                    </element>
                  </xslfo>
                </xs:appinfo>
              </xs:annotation>
            </xs:element>
            <xs:element name="RulesAndRegulationsAcceptance" type="cvq:AcceptanceType"
              default="false">
              <xs:annotation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
                  Prise en compte et acceptation du règlement intérieur
                </xs:documentation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
                  J'accepte et je m'engage à respecter le règlement
                </xs:documentation>
                <xs:appinfo>
                  <common>
                    <step name="rules" />
                  </common>
                  <fo />
                  <bo column="1" />
                  <xslfo>
                    <element blockId="7" line="0" column="0">
                      <signature>
                        <acceptMessage index="0">
                          J'ai pris parfaite connaissance du règlement intérieur de la
                          restauration scolaire qui accompagne cette fiche.
                        </acceptMessage>
                        <rejectMessage index="0">
                          Vous n'avez pas accepté le règlement intérieur
                        </rejectMessage>
                      </signature>
                    </element>
                  </xslfo>
                </xs:appinfo>
              </xs:annotation>
            </xs:element>
            <xs:element name="ClassTripPermission" type="cvq:AcceptanceType" default="false">
              <xs:annotation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
                  Autorisation de l'enfant à participer aux sorties organisées
                </xs:documentation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
                  J'autorise les sorties à mon enfant
                </xs:documentation>
                <xs:appinfo>
                  <common>
                    <step name="rules" />
                  </common>
                  <fo />
                  <bo column="1" />
                  <xslfo>
                    <element blockId="5" line="0" column="0">
                      <signature>
                        <acceptMessage index="0">
                          J'autorise la participation de mon enfant
                          aux sorties organisées
                        </acceptMessage>
                        <rejectMessage index="0">
                          Vous n'avez pas autorisé votre enfant à
                          participer aux sorties organisées
                        </rejectMessage>
                      </signature>
                    </element>
                  </xslfo>
                </xs:appinfo>
              </xs:annotation>
            </xs:element>
            <xs:element name="ChildPhotoExploitationPermission" type="cvq:AcceptanceType"
              default="false">
              <xs:annotation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
                  Autorisation accordée à l'école concernant l'exposition et 
                  la diffusion des photographies de l'enfant 
                </xs:documentation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
                  J'autorise l'exposition et la diffusion des photographies de mon enfant
                </xs:documentation>
                <xs:appinfo>
                  <common>
                    <step name="rules" />
                  </common>
                  <fo />
                  <bo column="1" />
                  <xslfo>
                    <element blockId="8" line="0" column="0">
                      <signature>
                        <acceptMessage index="0">
                          J'autorise l'exposition et la diffusion des photographies de mon enfant.
                        </acceptMessage>
                        <rejectMessage index="0">
                          Vous n'avez pas autorisé l'exposition et la diffusion des photographies de
                          votre enfant.
                        </rejectMessage>
                      </signature>
                    </element>
                  </xslfo>
                </xs:appinfo>
              </xs:annotation>
            </xs:element>
            <xs:element name="HospitalizationPermission" type="cvq:AcceptanceType" default="false">
              <xs:annotation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
                  Autorisation de l'enfant à être soigné, hospitalisé et opéré si nécessaire
                </xs:documentation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
                  J'autorise l'hospitalisation de mon enfant
                </xs:documentation>
                <xs:appinfo>
                  <common>
                    <step name="rules" />
                  </common>
                  <fo />
                  <bo column="1" />
                  <xslfo>
                    <element blockId="6" line="0" column="0">
                      <signature>
                        <acceptMessage index="0">
                          En inscrivant mon enfant (ci-dessus désigné) aux activités
                          périscolaires, j'autorise les responsables à prendre toutes les
                          mesures pour le faire soigner, hospitaliser, opérer si
                          nécessaire.
                        </acceptMessage>
                        <acceptMessage index="1">
                          JE CERTIFIE que tous les renseignements portés sur la présente
                          fiche sont exacts, je m'engage à signaler sans retard tous les
                          changements qui interviendraient.
                        </acceptMessage>
                        <rejectMessage index="0">
                          Vous n'avez pas accepté l'autorisation d'hospitalisation
                        </rejectMessage>
                      </signature>
                    </element>
                  </xslfo>
                </xs:appinfo>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>

  <xs:complexType name="PerischoolContactIndividualType">
    <xs:sequence>
      <xs:element name="LastName" type="cvq:LastNameType">
        <xs:annotation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
            Nom de la personne à contacter
          </xs:documentation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
            Nom
          </xs:documentation>
          <xs:appinfo>
            <common>
              <step name="contact" />
            </common>
            <fo />
            <bo />
            <xslfo>
              <element blockId="3" line="0" column="0">
                <string valueWeight="3" />
              </element>
            </xslfo>
          </xs:appinfo>
        </xs:annotation>      
      </xs:element>
      <xs:element name="FirstName" type="cvq:FirstNameType">
        <xs:annotation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
            Prénom de la personne à contacter
          </xs:documentation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
            Prénom
          </xs:documentation>
          <xs:appinfo>
            <common>
              <step name="contact" />
            </common>
            <fo />
            <bo />
            <xslfo>
              <element blockId="3" line="1" column="0">
                <string valueWeight="3" />
              </element>
            </xslfo>
          </xs:appinfo>
        </xs:annotation>       
      </xs:element>
      <xs:element name="Address" type="cvq:AddressType">
        <xs:annotation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
            Adresse de la personne à contacter
          </xs:documentation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
            Adresse
          </xs:documentation>
          <xs:appinfo>
            <model namespace="users" isTiedToRequest="true" />          
            <common>
              <step name="contact" />
            </common>
            <fo />
            <bo />
            <xslfo>
              <element blockId="3" line="2" column="0">
                <complexTemplate />
              </element>
            </xslfo>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="HomePhone" type="cvq:PhoneType" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
            Téléphone du domicile de la personne à contacter
          </xs:documentation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
            Téléphone domicile
          </xs:documentation>
          <xs:appinfo>
            <common>
              <step name="contact" />
            </common>
            <fo />
            <bo />
            <xslfo>
              <element blockId="3" line="3" column="0">
                <string valueWeight="3" />
              </element>
            </xslfo>
          </xs:appinfo>
        </xs:annotation>          
      </xs:element>
      <xs:element name="OfficePhone" type="cvq:PhoneType" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
            Téléphone du bureau de la personne à contacter
          </xs:documentation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
            Téléphone bureau
          </xs:documentation>
          <xs:appinfo>
            <common>
              <step name="contact" />
            </common>
            <fo />
            <bo />
            <xslfo>
              <element blockId="3" line="4" column="0">
                <string valueWeight="3" />
              </element>
            </xslfo>
          </xs:appinfo>
        </xs:annotation>       
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="PerischoolAuthorizedIndividualType">
    <xs:sequence>
      <xs:element name="LastName" type="cvq:LastNameType">
        <xs:annotation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
            Nom de la personne autorisée
          </xs:documentation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
            Nom
          </xs:documentation>
          <xs:appinfo>
            <common>
              <step name="authorization" />
            </common>
            <fo />
            <bo />
            <xslfo>
              <element blockId="4" line="0" column="0">
                <string valueWeight="3" />
              </element>
            </xslfo>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="FirstName" type="cvq:FirstNameType">
        <xs:annotation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
            Prénom de la personne autorisée
          </xs:documentation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
            Prénom
          </xs:documentation>
          <xs:appinfo>
            <common>
              <step name="authorization" />
            </common>
            <fo />
            <bo />
            <xslfo>
              <element blockId="4" line="1" column="0">
                <string valueWeight="3" />
              </element>
            </xslfo>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="Address" type="cvq:AddressType">
        <xs:annotation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
            Adresse de la personne autorisée
          </xs:documentation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
            Adresse
          </xs:documentation>
          <xs:appinfo>
            <model namespace="users" isTiedToRequest="true" />
            <common>
              <step name="authorization" />
            </common>
            <fo />
            <bo />
            <xslfo>
              <element blockId="4" line="2" column="0">
                <complexTemplate />
              </element>
            </xslfo>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="HomePhone" type="cvq:PhoneType" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
            Téléphone du domicile de la personne autorisée
          </xs:documentation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
            Téléphone domicile
          </xs:documentation>
          <xs:appinfo>
            <common>
              <step name="authorization" />
            </common>
            <fo />
            <bo />
            <xslfo>
              <element blockId="4" line="3" column="0">
                <string valueWeight="3" />
              </element>
            </xslfo>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="OfficePhone" type="cvq:PhoneType" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
            Téléphone du bureau de la personne autorisée
          </xs:documentation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
            Téléphone bureau
          </xs:documentation>
          <xs:appinfo>
            <common>
              <step name="authorization" />
            </common>
            <fo />
            <bo />
            <xslfo>
              <element blockId="4" line="4" column="0">
                <string valueWeight="3" />
              </element>
            </xslfo>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
