Generator/src/xml/schemas/request/RecreationActivityRegistrationRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="http://www.cg95.fr/cvq/schema/rarr"
  xmlns:rarr="http://www.cg95.fr/cvq/schema/rarr"
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns:cvq="http://www.cg95.fr/cvq/schema/common" 
  xmlns:cse="http://www.cg95.fr/cvq/schema/cse"
  elementFormDefault="qualified" 
  attributeFormDefault="unqualified">

  <xs:import namespace="http://www.cg95.fr/cvq/schema/common"
    schemaLocation="../common/CVQCommonElements.xsd" />

  <xs:import namespace="http://www.cg95.fr/cvq/schema/cse"
    schemaLocation="./CommonSchoolElements.xsd" />

  <xs:element name="RecreationActivityRegistrationRequest">
    <xs:annotation>
      <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
        Demande d'inscription au centre de loisirs
      </xs:documentation>
      <xs:documentation xml:lang="en" source="http://www.cg95.fr/cvq/schema/longdesc">
        Recreation activity registration request
      </xs:documentation>
      <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
        Inscription au centre de loisirs
      </xs:documentation>
      <xs:documentation xml:lang="en" source="http://www.cg95.fr/cvq/schema/shortdesc">
        Recreation activity registration
      </xs:documentation>
      <xs:appinfo>
        <model namespace="school" />
        <common>
          <namespace name="school" />
          <steps>
            <step index="0" name="subject" >
              <widgets>
                <subject />
              </widgets>
           	</step>
            <step index="1" name="contact" required="false" />
            <step index="2" name="authorization" required="false" />
            <step index="3" name="rules" />
            <step index="4" ref="document" />
            <step index="5" ref="validation" />
          </steps>
        </common>
        <xslfo>
          <blocks-def>
            <block id="0" label="Enfant*" column="2" />
            <block id="1" label="Activités au centre" />
            <block id="2" label="Moyen de contact*" />
            <block id="3" label="Personnes à contacter ou à prévenir en cas d'urgence" column="2" />
            <block id="4" label="Autorisation de participation aux sorties" />
            <block id="5" label="Autorisation d'hospitalisation" />
            <block id="6" label="Règlement intérieur" />
            <block id="7" label="Autorisation d'exploitation de la photo de l'enfant" />
          </blocks-def>
          <element blockId="2" line="0" column="0" link="MeansOfContact"
            prefixLabel="Comment souhaitez-vous être informé ?">
            <complexTemplate />
          </element>
          <element blockId="0" line="0" column="0" columnSpan="2" link="Subject">
            <complexTemplate />
          </element>
        </xslfo>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="cvq:RequestType">
          <xs:sequence>
            <xs:element name="RecreationActivity" type="cvq:LocalReferentialDataType"
              maxOccurs="unbounded">
              <xs:annotation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
                  Informations relatives aux activités de l'enfant au centre
                </xs:documentation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
                  Activités de l'enfant au centre
                </xs:documentation>
                <xs:appinfo>
                  <model namespace="users" isTiedToRequest="true" />
                  <common>
                    <step name="subject" />
                  </common>
                  <fo />
                  <bo column="1" />
                  <xslfo>
                    <element blockId="1" line="0" column="0" usePrefixLabel="false">
                      <localReferential />
                    </element>
                  </xslfo>
                </xs:appinfo>
              </xs:annotation>
            </xs:element>
            <xs:element name="UrgencyPhone" type="cvq:PhoneType">
              <xs:annotation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
                  Numéro de Téléphone (Syntaxe: 10 chiffres)
                </xs:documentation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
                  Téléphone
                </xs:documentation>
                <xs:appinfo>
                  <common>
                    <step name="subject" />
                  </common>
                  <fo />
                  <bo column="1" />
                  <xslfo>
                    <element blockId="0" line="2" column="0" columnSpan="1">
                      <string />
                    </element>
                  </xslfo>
                </xs:appinfo>
              </xs:annotation>
            </xs:element>
            <xs:element name="RecreationCenter" type="cvq:RecreationCenterType" minOccurs="0">
              <xs:annotation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
                  Le centre de loisirs dans lequel est inscrit l'enfant
                </xs:documentation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
                  Centre de loisirs
                </xs:documentation>
                <xs:documentation xml:lang="en" source="http://www.cg95.fr/cvq/schema/longdesc">
                  The recreation center in which the child is registered
                </xs:documentation>
                <xs:appinfo>
                  <model namespace="authority" />
                  <common>
                    <step name="subject" />
                  </common>
                  <bo column="2" />
                  <xslfo>
                    <element blockId="0" line="1" column="0" columnSpan="2"
                      prefixLabel="Inscription dans le centre de loisirs">
                      <string selectXPath="cvq:Name" valueWeight="3"/>
                    </element>
                  </xslfo>
                </xs:appinfo>
              </xs:annotation>
            </xs:element>
            <xs:element name="OtherIndividual" type="cse:OtherIndividualType" minOccurs="0"
              maxOccurs="unbounded">
              <xs:annotation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
                  Liste des personne à contacter en cas de problème
                </xs:documentation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
                  Personne à contacter
                </xs:documentation>
                <xs:appinfo>
                  <model namespace="school" isTiedToRequest="true" />
                  <common>
                    <step name="contact" />
                    <step name="authorization" />
                  </common>
                  <fo />
                  <bo column="1" />
                  <xslfo>
                    <element blockId="3" line="0" column="0" columnSpan="2">
                      <complexTemplate />
                    </element>
                  </xslfo>
                </xs:appinfo>
              </xs:annotation>
            </xs:element>
            <xs:element name="RulesAndRegulationsAcceptance" type="cvq:AcceptanceType"
              default="false">
              <xs:annotation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
                  Prise en compte et acceptation du règlement intérieur
                </xs:documentation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
                  J'accepte et je m'engage à respecter le règlement
                </xs:documentation>
                <xs:appinfo>
                  <common>
                    <step name="rules" />
                  </common>
                  <fo />
                  <bo column="1" />
                  <xslfo>
                    <element blockId="6" line="0" column="0">
                      <signature>
                        <acceptMessage index="0">
                          J'ai pris parfaite connaissance du règlement intérieur de la restauration
                          scolaire qui accompagne cette fiche.
                        </acceptMessage>
                        <rejectMessage index="0">
                          Vous n'avez pas accepté le règlement intérieur
                        </rejectMessage>
                      </signature>
                    </element>
                  </xslfo>
                </xs:appinfo>
              </xs:annotation>
            </xs:element>
            <xs:element name="ClassTripPermission" type="cvq:AcceptanceType" default="false">
              <xs:annotation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
                  Autorisation de l'enfant à participer aux sorties organisées
                </xs:documentation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
                  J'autorise les sorties à mon enfant
                </xs:documentation>
                <xs:appinfo>
                  <common>
                    <step name="rules" />
                  </common>
                  <fo />
                  <bo column="1" />
                  <xslfo>
                    <element blockId="4" line="0" column="0">
                      <signature>
                        <acceptMessage index="0">
                          J'autorise la participation de mon enfant aux sorties organisées
                        </acceptMessage>
                        <rejectMessage index="0">
                          Vous n'avez pas autorisé votre enfant à participer aux sorties organisées
                        </rejectMessage>
                      </signature>
                    </element>
                  </xslfo>
                </xs:appinfo>
              </xs:annotation>
            </xs:element>
            <xs:element name="ChildPhotoExploitationPermission" type="cvq:AcceptanceType"
              default="false">
              <xs:annotation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
                  Autorisation accordée à l'école concernant l'exposition et 
                  la diffusion des photographies de l'enfant 
                </xs:documentation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
                  J'autorise l'exposition et la diffusion des photographies de mon enfant
                </xs:documentation>
                <xs:appinfo>
                  <common>
                    <step name="rules" />
                  </common>
                  <fo />
                  <bo column="1" />
                  <xslfo>
                    <element blockId="7" line="0" column="0">
                      <signature>
                        <acceptMessage index="0">
                          J'autorise l'exposition et la diffusion des photographies de mon enfant.
                        </acceptMessage>
                        <rejectMessage index="0">
                          Vous n'avez pas autorisé l'exposition et la diffusion des photographies de
                          votre enfant.
                        </rejectMessage>
                      </signature>
                    </element>
                  </xslfo>
                </xs:appinfo>
              </xs:annotation>
            </xs:element>
            <xs:element name="HospitalizationPermission" type="cvq:AcceptanceType"
              default="false">
              <xs:annotation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
                  Autorisation de l'enfant à être soigné, hospitalisé et opéré si nécessaire
                </xs:documentation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
                  J'autorise l'hospitalisation de mon enfant
                </xs:documentation>
                <xs:appinfo>
                  <common>
                    <step name="rules" />
                  </common>
                  <fo />
                  <bo column="1" />
                  <xslfo>
                    <element blockId="5" line="0" column="0">
                      <signature>
                        <acceptMessage index="0">
                          En inscrivant mon enfant (ci-dessus désigné) aux activités péri-scolaires,
                          j'autorise les responsables à prendre toutes les mesures pour le faire
                          soigner, hospitaliser, opérer si nécessaire.
                        </acceptMessage>
                        <acceptMessage index="1">
                          JE CERTIFIE que tous les renseignements portés sur la présente fiche sont
                          exacts, je m'engage à signaler sans retard tous les changements qui
                          interviendraient.
                        </acceptMessage>
                        <rejectMessage index="0">
                          Vous n'avez pas accepté l'autorisation d'hospitalisation
                        </rejectMessage>
                      </signature>
                    </element>
                  </xslfo>
                </xs:appinfo>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>

</xs:schema>
