Generator/src/xml/schemas/request/RemoteSupportRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="http://www.cg95.fr/cvq/schema/rsr"
  xmlns:rsr="http://www.cg95.fr/cvq/schema/rsr" 
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns:cvq="http://www.cg95.fr/cvq/schema/common" 
  elementFormDefault="qualified"
  attributeFormDefault="unqualified">

  <xs:import namespace="http://www.cg95.fr/cvq/schema/common"
    schemaLocation="../common/CVQCommonElements.xsd" />

  <xs:element name="RemoteSupportRequest">
    <xs:annotation>
      <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
        Demande de téléassistance
      </xs:documentation>
      <xs:documentation xml:lang="en" source="http://www.cg95.fr/cvq/schema/longdesc">
        Remote support request
      </xs:documentation>
      <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
        Demande de téléassistance
      </xs:documentation>
      <xs:documentation xml:lang="en" source="http://www.cg95.fr/cvq/schema/shortdesc">
        Remote support request
      </xs:documentation>
      <xs:appinfo>
        <model namespace="social" />
        <common>
          <namespace name="social"/>
          <steps>
            <step index="0" name="subject"/>
            <step index="1" name="contact"/>
            <step index="2" ref="document"/>
            <step index="3" ref="validation"/>
          </steps>
          <conditions>
            <condition name="isEmergency"/>
            <condition name="isFlat"/>
            <condition name="isCoupleRequest"/>
            <condition name="isOtherContact"/>
          </conditions>
        </common>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="cvq:RequestType">
          <xs:sequence>

            <xs:element name="RsrRequestKind" type="rsr:RsrRequestKindType" default="Individual">
              <xs:annotation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
                  Type de la demande
                </xs:documentation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
                  Type de la demande
                </xs:documentation>
                <xs:appinfo>
                  <common>
                    <step name="subject"/>
                    <conditions>
                      <condition name="isCoupleRequest" type="trigger"/>
                    </conditions>
                  </common>
                  <fo>
                    <radio/>
                  </fo>
                </xs:appinfo>
              </xs:annotation>
            </xs:element>

            <xs:element name="RsrEmergency" type="rsr:RsrEmergencyType">
              <xs:annotation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
                  Urgence (Obligatoire)
                </xs:documentation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
                  Urgence (Obligatoire)
                </xs:documentation>
                <xs:appinfo>
                  <common>
                    <step name="subject"/>
                  </common>
                  <fo>
                    <label/>
                  </fo>
                </xs:appinfo>
              </xs:annotation>
            </xs:element>

            <xs:element name="RsrRequester" type="rsr:RsrRequesterType">
              <xs:annotation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
                  Demandeur
                </xs:documentation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
                  Demandeur
                </xs:documentation>
                <xs:appinfo>
                  <common>
                    <step name="subject"/>
                  </common>
                  <fo>
                    <label/>
                  </fo>
                </xs:appinfo>
              </xs:annotation>
            </xs:element>

            <xs:element name="RsrSpouse" type="rsr:RsrSpouseType">
              <xs:annotation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
                  Conjoint
                </xs:documentation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
                  Conjoint
                </xs:documentation>
                <xs:appinfo>
                  <common>
                    <step name="subject"/>
                    <conditions>
                      <condition name="isCoupleRequest" type="filled" required="true"/>
                    </conditions>
                  </common>
                  <fo>
                    <label/>
                  </fo>
                </xs:appinfo>
              </xs:annotation>
            </xs:element>

            <xs:element name="RsrContactKind" type="rsr:RsrContactKindType">
              <xs:annotation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
                  Personne à contacter pour prendre rendez-vous pour l'installation
                </xs:documentation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
                  Type contact
                </xs:documentation>
                <xs:appinfo>
                  <common>
                    <step name="contact"/>
                    <conditions>
                      <condition name="isOtherContact" type="trigger"/>
                    </conditions>
                  </common>
                  <fo>
                    <radio/>
                  </fo>
                </xs:appinfo>
              </xs:annotation>
            </xs:element>

            <xs:element name="RsrFirstContact" type="rsr:RsrContactType">
              <xs:annotation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
                  Premier contact
                </xs:documentation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
                  Premier contact
                </xs:documentation>
                <xs:appinfo>
                  <common>
                    <step name="contact"/>
                    <conditions>
                      <condition name="isOtherContact" type="filled" required="true"/>
                    </conditions>
                  </common>
                  <fo>
                    <label/>
                  </fo>
                </xs:appinfo>
              </xs:annotation>
            </xs:element>

            <xs:element name="RsrSecondContact" type="rsr:RsrSecondContactType">
              <xs:annotation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
                  Second contact
                </xs:documentation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
                  Second contact
                </xs:documentation>
                <xs:appinfo>
                  <common>
                    <step name="contact"/>
                    <conditions>
                      <condition name="isOtherContact" type="filled"/>
                    </conditions>
                  </common>
                  <fo>
                    <label/>
                  </fo>
                </xs:appinfo>
              </xs:annotation>
            </xs:element>

            <xs:element name="RsrTrustee" type="rsr:RsrTrusteeType">
              <xs:annotation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
                  Coordonnées de la personne dépositaire de vos clés
                </xs:documentation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
                  Dépositaire des clés (Optionnel - Fortement recommandé)
                </xs:documentation>
                <xs:appinfo>
                  <common>
                    <step name="contact"/>
                  </common>
                  <fo>
                    <label/>
                  </fo>
                </xs:appinfo>
              </xs:annotation>
            </xs:element>

          </xs:sequence>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>

  <xs:simpleType name="RsrRequestKindType">
    <xs:annotation>
      <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
        Type de la demande
      </xs:documentation>
      <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
        Type de la demande
      </xs:documentation>
      <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/translation/enum">
        <enum key="Individual" value="Individuelle"/>
        <enum key="Couple" value="Couple"/>
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="Individual"/>
      <xs:enumeration value="Couple"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="RsrEmergencyType">
    <xs:annotation>
      <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
        Urgence
      </xs:documentation>
      <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
        Urgence
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>

      <xs:element name="RsrIsEmergency" type="xs:boolean" default="false">
        <xs:annotation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
            Demande nécessitant une intervention urgente
          </xs:documentation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
            Demande urgente
          </xs:documentation>
          <xs:appinfo>
            <common>
              <step name="subject"/>
              <conditions>
                <condition name="isEmergency" type="trigger"/>
              </conditions>
            </common>
            <fo/>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>

      <xs:element name="RsrEmergencyMotive" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
            Motif de l'urgence
          </xs:documentation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
            Motif
          </xs:documentation>
          <xs:appinfo>
            <common>
              <step name="subject"/>
              <conditions>
                <condition name="isEmergency" type="filled" required="true"/>
              </conditions>
            </common>
            <fo>
              <textarea rows="3"/>
            </fo>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>

    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="RsrRequesterType">
    <xs:annotation>
      <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
        Demandeur
      </xs:documentation>
      <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
        Demandeur
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>

      <xs:element name="RsrRequesterName" type="cvq:LastNameType">
        <xs:annotation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
            Nom
          </xs:documentation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
            Nom
          </xs:documentation>
          <xs:appinfo>
            <model namespace="users"/>
            <common>
              <step name="subject"/>
            </common>
            <fo/>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>

      <xs:element name="RsrRequesterFirstName" type="cvq:FirstNameType">
        <xs:annotation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
            Prénom
          </xs:documentation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
            Prénom
          </xs:documentation>
          <xs:appinfo>
            <model namespace="users"/>
            <common>
              <step name="subject"/>
            </common>
            <fo/>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>

      <xs:element name="RsrSecondRequesterFirstName" type="cvq:FirstNameType" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
            2d prénom
          </xs:documentation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
            2d prénom
          </xs:documentation>
          <xs:appinfo>
            <model namespace="users"/>
            <common>
              <step name="subject"/>
            </common>
            <fo/>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>

      <xs:element name="RsrRequesterGender" type="cvq:SexType">
        <xs:annotation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
            Sexe
          </xs:documentation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
            Sexe
          </xs:documentation>
          <xs:appinfo>
            <model namespace="users"/>
            <common>
              <step name="subject"/>
            </common>
            <fo>
              <radio/>
            </fo>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>

      <xs:element name="RsrRequesterBirthDate" type="xs:date">
        <xs:annotation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
            Date naissance
          </xs:documentation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
            Date naissance
          </xs:documentation>
          <xs:appinfo>
            <common>
              <step name="subject"/>
            </common>
            <fo/>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>

      <xs:element name="RsrRequesterMaritalStatus" type="rsr:RsrMaritalStatusType">
        <xs:annotation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
            Résidez-vous
          </xs:documentation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
            Résidez-vous
          </xs:documentation>
          <xs:appinfo>
            <common>
              <step name="subject"/>
            </common>
            <fo>
              <radio/>
            </fo>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>

      <xs:element name="RsrRequesterAddress" type="cvq:AddressType">
        <xs:annotation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
            Adresse
          </xs:documentation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
            Adresse
          </xs:documentation>
          <xs:appinfo>
            <model namespace="users"/>
            <common>
              <step name="subject"/>
            </common>
            <fo>
            	<label/>
            </fo>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>

      <xs:element name="RsrRequesterResidenceKind" type="rsr:RsrResidenceKindType">
        <xs:annotation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
            Type résidence
          </xs:documentation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
            Type résidence
          </xs:documentation>
          <xs:appinfo>
            <common>
              <step name="subject"/>
              <conditions>
                <condition name="isFlat" type="trigger"/>
              </conditions>
            </common>
            <fo>
              <radio/>
            </fo>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>

      <xs:element name="RsrRequesterFlatNumber" type="xs:positiveInteger" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
            N° appartement
          </xs:documentation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
            N° appartement
          </xs:documentation>
          <xs:appinfo>
            <common>
              <step name="subject"/>
              <conditions>
                <condition name="isFlat" type="filled"/>
              </conditions>
            </common>
            <fo/>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>

      <xs:element name="RsrRequesterFloor" type="xs:positiveInteger" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
            Etage
          </xs:documentation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
            Etage
          </xs:documentation>
          <xs:appinfo>
            <common>
              <step name="subject"/>
              <conditions>
                <condition name="isFlat" type="filled"/>
              </conditions>
            </common>
            <fo/>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>

      <xs:element name="RsrRequesterPersonalPhone" type="cvq:PhoneType">
        <xs:annotation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
            Téléphone personnel
          </xs:documentation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
            Téléphone personnel
          </xs:documentation>
          <xs:appinfo>
            <model namespace="users"/>
            <common>
              <step name="subject"/>
            </common>
            <fo/>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>

      <xs:element name="RsrRequesterIsTaxable" type="xs:boolean" default="false">
        <xs:annotation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
            Quelle est votre situation au regard de l'impôt sur le revenu ?
          </xs:documentation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
            Imposable
          </xs:documentation>
          <xs:appinfo>
            <common>
              <step name="subject"/>
            </common>
            <fo/>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>

      <xs:element name="RsrRequesterIsAPABeneficiary" type="xs:boolean" default="false">
        <xs:annotation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
            Etes-vous bénéficiaire de l'APA ?
          </xs:documentation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
            Bénéficiaire APA
          </xs:documentation>
          <xs:appinfo>
            <common>
              <step name="subject"/>
            </common>
            <fo/>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>

      <xs:element name="RsrRequesterIsDisabledPerson" type="xs:boolean" default="false">
        <xs:annotation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
            Etes-vous titulaire d'une Carte d'Invalidité ? 
(Si oui, n'oubliez pas de joindre une copie de la carte d'invalidité)
          </xs:documentation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
            Personne handicapée
          </xs:documentation>
          <xs:appinfo>
            <common>
              <step name="subject"/>
            </common>
            <fo/>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>

    </xs:sequence>
  </xs:complexType>
  
  <xs:simpleType name="RsrMaritalStatusType">
    <xs:annotation>
      <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
        Situation de famille
      </xs:documentation>
      <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
        Situation de famille
      </xs:documentation>
      <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/translation/enum">
        <enum key="Alone" value="Seul(e)"/>
        <enum key="Couple" value="Couple"/>
        <enum key="Family" value="Chez un membre de votre famille"/>
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="Alone"/>
      <xs:enumeration value="Couple"/>
      <xs:enumeration value="Family"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="RsrResidenceKindType">
    <xs:annotation>
      <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
        Type de résidence
      </xs:documentation>
      <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
        Type de résidence
      </xs:documentation>
      <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/translation/enum">
        <enum key="flat" value="Appartement"/>
        <enum key="house" value="Pavillon"/>
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="flat"/>
      <xs:enumeration value="house"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="RsrSpouseType">
    <xs:annotation>
      <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
        Conjoint
      </xs:documentation>
      <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
        Conjoint
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>

      <xs:element name="RsrSpouseName" type="cvq:LastNameType">
        <xs:annotation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
            Nom
          </xs:documentation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
            Nom
          </xs:documentation>
          <xs:appinfo>
            <model namespace="users"/>
            <common>
              <step name="subject"/>
            </common>
            <fo/>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>

      <xs:element name="RsrSpouseFirstName" type="cvq:FirstNameType">
        <xs:annotation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
            Prénom
          </xs:documentation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
            Prénom
          </xs:documentation>
          <xs:appinfo>
            <model namespace="users"/>
            <common>
              <step name="subject"/>
            </common>
            <fo/>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>

      <xs:element name="RsrSecondSpouseFirstName" type="cvq:FirstNameType" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
            2d prénom
          </xs:documentation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
            2d prénom
          </xs:documentation>
          <xs:appinfo>
            <model namespace="users"/>
            <common>
              <step name="subject"/>
            </common>
            <fo/>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>

      <xs:element name="RsrSpouseGender" type="cvq:SexType">
        <xs:annotation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
            Sexe
          </xs:documentation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
            Sexe
          </xs:documentation>
          <xs:appinfo>
            <model namespace="users"/>
            <common>
              <step name="subject"/>
            </common>
            <fo>
              <radio/>
            </fo>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>

      <xs:element name="RsrSpouseBirthDate" type="xs:date">
        <xs:annotation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
            Date naissance
          </xs:documentation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
            Date naissance
          </xs:documentation>
          <xs:appinfo>
            <common>
              <step name="subject"/>
            </common>
            <fo/>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>

      <xs:element name="RsrSpouseIsDisabledPerson" type="xs:boolean" default="false">
        <xs:annotation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
            Etes-vous titulaire d'une Carte d'Invalidité ? 
(Si oui, n'oubliez pas de joindre une copie de la carte d'invalidité)
          </xs:documentation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
            Personne handicapée
          </xs:documentation>
          <xs:appinfo>
            <common>
              <step name="subject"/>
            </common>
            <fo/>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>

    </xs:sequence>
  </xs:complexType>

  <xs:simpleType name="RsrContactKindType">
    <xs:annotation>
      <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
        Personne à contacter pour prendre rendez-vous pour l'installation
      </xs:documentation>
      <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
        Type contact
      </xs:documentation>
      <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/translation/enum">
        <enum key="requester" value="Demandeur"/>
        <enum key="other" value="Autre"/>
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="requester"/>
      <xs:enumeration value="other"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="RsrContactType">
    <xs:annotation>
      <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
        Contact
      </xs:documentation>
      <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
        Contact
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>

      <xs:element name="RsrContactName" type="cvq:LastNameType">
        <xs:annotation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
            Nom de la personne
          </xs:documentation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
            Nom
          </xs:documentation>
          <xs:appinfo>
            <model namespace="users"/>
            <common>
              <step name="contact"/>
            </common>
            <fo/>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>

      <xs:element name="RsrContactFirstName" type="cvq:FirstNameType">
        <xs:annotation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
            Prénom de la personne
          </xs:documentation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
            Prénom
          </xs:documentation>
          <xs:appinfo>
            <model namespace="users"/>
            <common>
              <step name="contact"/>
            </common>
            <fo/>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>

      <xs:element name="RsrContactPhone" type="cvq:PhoneType">
        <xs:annotation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
            N° de téléphone de la personne
          </xs:documentation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
            N° Téléphone
          </xs:documentation>
          <xs:appinfo>
            <model namespace="users"/>
            <common>
              <step name="contact"/>
            </common>
            <fo/>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>

    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="RsrSecondContactType">
    <xs:annotation>
      <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
        Second contact
      </xs:documentation>
      <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
        Second contact
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>

      <xs:element name="RsrSecondContactName" type="cvq:LastNameType" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
            Nom de la personne
          </xs:documentation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
            Nom
          </xs:documentation>
          <xs:appinfo>
            <model namespace="users"/>
            <common>
              <step name="contact"/>
            </common>
            <fo/>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>

      <xs:element name="RsrSecondContactFirstName" type="cvq:FirstNameType" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
            Prénom de la personne
          </xs:documentation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
            Prénom
          </xs:documentation>
          <xs:appinfo>
            <model namespace="users"/>
            <common>
              <step name="contact"/>
            </common>
            <fo/>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>

      <xs:element name="RsrSecondContactPhone" type="cvq:PhoneType" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
            N° de téléphone de la personne
          </xs:documentation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
            N° Téléphone
          </xs:documentation>
          <xs:appinfo>
            <model namespace="users"/>
            <common>
              <step name="contact"/>
            </common>
            <fo/>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>

    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="RsrTrusteeType">
    <xs:annotation>
      <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
        Coordonnées de la personne dépositaire de vos clés
Note : GTS refuse l'installation s'il n'y a pas de dépositaire des clés.
Le dépositaire des clés doit résider à moins de 15 minutes du lieu d’habitation du demandeur.
      </xs:documentation>
      <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
        Dépositaire des clés (Optionnel - Fortement recommendé)
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>

      <xs:element name="RsrTrusteeName" type="cvq:LastNameType">
        <xs:annotation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
            Nom
          </xs:documentation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
            Nom Dépositaire
          </xs:documentation>
          <xs:appinfo>
            <model namespace="users"/>
            <common>
              <step name="contact"/>
            </common>
            <fo/>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>

      <xs:element name="RsrTrusteeFirstName" type="cvq:FirstNameType">
        <xs:annotation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
            Prénom
          </xs:documentation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
            Prénom Dépositaire
          </xs:documentation>
          <xs:appinfo>
            <model namespace="users"/>
            <common>
              <step name="contact"/>
            </common>
            <fo/>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>

      <xs:element name="RsrTrusteePhone" type="cvq:PhoneType">
        <xs:annotation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
            N° de téléphone
          </xs:documentation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
            N° Téléphone Dépositaire
          </xs:documentation>
          <xs:appinfo>
            <model namespace="users"/>
            <common>
              <step name="contact"/>
            </common>
            <fo/>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>

    </xs:sequence>
  </xs:complexType>

</xs:schema>