Generator/src/xml/schemas/request/RemoteSupportRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="http://www.cg95.fr/cvq/schema/rsr"
  xmlns:rsr="http://www.cg95.fr/cvq/schema/rsr" 
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns:cvq="http://www.cg95.fr/cvq/schema/common" 
  elementFormDefault="qualified"
  attributeFormDefault="unqualified">

  <xs:import namespace="http://www.cg95.fr/cvq/schema/common"
    schemaLocation="../common/CVQCommonElements.xsd" />

  <xs:element name="RemoteSupportRequest">
    <xs:annotation>
      <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
        Demande de téléassistance
      </xs:documentation>
      <xs:documentation xml:lang="en" source="http://www.cg95.fr/cvq/schema/longdesc">
        Remote support request
      </xs:documentation>
      <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
        Téléassistance
      </xs:documentation>
      <xs:documentation xml:lang="en" source="http://www.cg95.fr/cvq/schema/shortdesc">
        Remote support
      </xs:documentation>
      <xs:appinfo>
        <model namespace="social" />
        <common>
          <namespace name="social" />
          <steps>
            <step index="0" name="subject">
              <conditions>
                <condition name="isEmergency" />
                <condition name="isCoupleRequest" />
              </conditions>
            </step>
            <step index="1" name="contact">
              <conditions>
               <condition name="isOtherContact" />
              </conditions>                
            </step>
            <step index="2" ref="document" />
            <step index="3" ref="validation" />
          </steps>
        </common>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="cvq:RequestType">
          <xs:sequence>

            <xs:element name="RsrSubject" type="rsr:RsrSubjectType">
              <xs:annotation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
                  Informations conçernant le demandeur
                </xs:documentation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
                  Demandeur
                </xs:documentation>
                <xs:appinfo>
                  <common>
                    <step name="subject" />
                  </common>
                  <fo>
                    <label />
                  </fo>
                  <bo column="1" />
                </xs:appinfo>
              </xs:annotation>
            </xs:element>

            <xs:element name="RequestInformation" type="rsr:RsrRequestInformationType">
              <xs:annotation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
                  Objet de la demande
                </xs:documentation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
                  Objet de la demande
                </xs:documentation>
                <xs:appinfo>
                  <common>
                    <step name="subject" />
                  </common>
                  <fo>
                    <label />
                  </fo>
                  <bo column="1" />
                </xs:appinfo>
              </xs:annotation>
            </xs:element>

            <xs:element name="Spouse" type="rsr:RsrSpouseType">
              <xs:annotation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
                  Informations conçernant le conjoint du demandeur
                </xs:documentation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
                  Conjoint
                </xs:documentation>
                <xs:appinfo>
                  <common>
                    <step name="subject" />
                    <conditions>
                      <condition name="isCoupleRequest" type="filled" required="true" />
                    </conditions>
                  </common>
                  <fo>
                    <label />
                  </fo>
                  <bo column="2" />
                </xs:appinfo>
              </xs:annotation>
            </xs:element>
            
            <xs:element name="ContactKind" type="rsr:RsrContactKindType" default="Requester">
              <xs:annotation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
                  Informations conçernant la personne à contacter pour prendre rendez-vous pour l'installation
                </xs:documentation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
                  Personne à contacter pour prendre rendez-vous pour l'installation
                </xs:documentation>
                <xs:appinfo>
                  <common>
                    <step name="contact" />
                    <conditions>
                      <condition name="isOtherContact" type="trigger" />
                    </conditions>
                  </common>
                  <fo>
                    <radio />
                  </fo>
                  <bo column="1" />
                </xs:appinfo>
              </xs:annotation>
            </xs:element>

            <xs:element name="FirstContact" type="rsr:RsrContactType">
              <xs:annotation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
                  Informations conçernant le premier contact
                </xs:documentation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
                  Premier contact
                </xs:documentation>
                <xs:appinfo>
                  <common>
                    <step name="contact" />
                    <conditions>
                      <condition name="isOtherContact" type="filled" required="true" />
                    </conditions>
                  </common>
                  <fo>
                    <label />
                  </fo>
                  <bo column="1" />
                </xs:appinfo>
              </xs:annotation>
            </xs:element>

            <xs:element name="SecondContact" type="rsr:RsrSecondContactType">
              <xs:annotation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
                  Informations conçernant le second contact
                </xs:documentation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
                  Second contact
                </xs:documentation>
                <xs:appinfo>
                  <common>
                    <step name="contact" />
                    <conditions>
                      <condition name="isOtherContact" type="filled" />
                    </conditions>
                  </common>
                  <fo>
                    <label />
                  </fo>
                  <bo column="2" />
                </xs:appinfo>
              </xs:annotation>
            </xs:element>

            <xs:element name="Trustee" type="rsr:RsrTrusteeType">
              <xs:annotation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
                  Informations conçernant les coordonnées de la personne dépositaire des clés du demandeur
                </xs:documentation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
                  Dépositaire des clés (Optionnel - Fortement recommandé)
                </xs:documentation>
                <xs:appinfo>
                  <common>
                    <step name="contact" />
                  </common>
                  <fo>
                    <label />
                  </fo>
                  <bo column="2" />
                </xs:appinfo>
              </xs:annotation>
            </xs:element>

          </xs:sequence>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>

  <xs:complexType name="RsrRequestInformationType">
    <xs:annotation>
      <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
        Objet de la demande
      </xs:documentation>
      <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
        Objet de la demande
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>

      <xs:element name="RequestInformationRequestKind" type="rsr:RsrRequestInformationRequestKindType" default="Individual">
        <xs:annotation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
            Le type de la demande
          </xs:documentation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
            Type de la demande
          </xs:documentation>
          <xs:appinfo>
            <common>
              <step name="subject" />
              <conditions>
                <condition name="isCoupleRequest" type="trigger" />
              </conditions>
            </common>
            <fo>
              <radio />
            </fo>
            <bo column="1" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>

      <xs:element name="RequestInformationEmergency" type="xs:boolean" default="false">
        <xs:annotation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
            Demande nécessitant une intervention urgente
          </xs:documentation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
            Demande urgente
          </xs:documentation>
          <xs:appinfo>
            <common>
              <step name="subject" />
              <conditions>
                <condition name="isEmergency" type="trigger" />
              </conditions>
            </common>
            <fo />
            <bo />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>

      <xs:element name="RequestInformationEmergencyMotive" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
            Motif de l'urgence
          </xs:documentation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
            Motif
          </xs:documentation>
          <xs:appinfo>
            <common>
              <step name="subject" />
              <conditions>
                <condition name="isEmergency" type="filled" required="true" />
              </conditions>
            </common>
            <fo>
              <textarea rows="3" />
            </fo>
            <bo />
          </xs:appinfo>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="180" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>

    </xs:sequence>
  </xs:complexType>

  <xs:simpleType name="RsrRequestInformationRequestKindType">
    <xs:annotation>
      <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
        Type de la demande
      </xs:documentation>
      <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
        Type de la demande
      </xs:documentation>
      <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/translation/enum">
        <enum key="Individual" value="Individuelle" />
        <enum key="Couple" value="Couple" />
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="Individual" />
      <xs:enumeration value="Couple" />
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="RsrSubjectType">
    <xs:annotation>
      <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
        Informations conçernant le demandeur
      </xs:documentation>
      <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
        Demandeur
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
		  <!-- Must be readonly -->
      <xs:element name="SubjectTitle" type="cvq:TitleType">
        <xs:annotation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
            Civilité
          </xs:documentation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
            Civilité
          </xs:documentation>
          <xs:appinfo>
            <model namespace="users" />
            <common>
              <step name="subject" />
            </common>
            <fo />
            <bo />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>

      <xs:element name="SubjectBirthDate" type="xs:date">
        <xs:annotation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
            Date naissance du demandeur
          </xs:documentation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
            Date naissance
          </xs:documentation>
          <xs:appinfo>
            <common>
              <step name="subject" />
            </common>
            <fo />
            <bo />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>

      <xs:element name="SubjectResideWith" type="rsr:RsrSubjectResideWithType" default="Alone">
        <xs:annotation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
            Résidence du demandeur
          </xs:documentation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
            Résidez-vous
          </xs:documentation>
          <xs:appinfo>
            <common>
              <step name="subject" />
            </common>
            <fo>
              <radio />
            </fo>
            <bo />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>

      <xs:element name="SubjectIsTaxable" type="xs:boolean" default="false">
        <xs:annotation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
            Quelle est votre situation au regard de l'impôt sur le revenu ?
          </xs:documentation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
            Imposable
          </xs:documentation>
          <xs:appinfo>
            <common>
              <step name="subject" />
            </common>
            <fo />
            <bo />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>

      <xs:element name="SubjectIsAPABeneficiary" type="xs:boolean" default="false">
        <xs:annotation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
            Etes-vous bénéficiaire de l'APA ?
          </xs:documentation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
            Bénéficiaire APA
          </xs:documentation>
          <xs:appinfo>
            <common>
              <step name="subject" />
            </common>
            <fo />
            <bo />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>

      <xs:element name="SubjectIsDisabledPerson" type="xs:boolean" default="false">
        <xs:annotation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
            Etes-vous titulaire d'une Carte d'Invalidité ? 
            (Si oui, n'oubliez pas de joindre une copie de la carte d'invalidité)
          </xs:documentation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
            Personne handicapée
          </xs:documentation>
          <xs:appinfo>
            <common>
              <step name="subject" />
            </common>
            <fo />
            <bo />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>

    </xs:sequence>
  </xs:complexType>
  
  <xs:simpleType name="RsrSubjectResideWithType">
    <xs:annotation>
      <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
        Situation de famille du demandeur
      </xs:documentation>
      <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
        Situation de famille
      </xs:documentation>
      <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/translation/enum">
        <enum key="Alone" value="Seul(e)" />
        <enum key="Couple" value="Couple" />
        <enum key="Family" value="Chez un membre de votre famille" />
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="Alone" />
      <xs:enumeration value="Couple" />
      <xs:enumeration value="Family" />
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="RsrSpouseType">
    <xs:annotation>
      <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
        Informations conçernant le conjoint
      </xs:documentation>
      <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
        Conjoint
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <!-- A selectionner dans la liste des adultes du foyer -->
      <xs:element name="SpouseLastName" type="cvq:LastNameType">
        <xs:annotation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
            Nom du conjoint
          </xs:documentation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
            Nom
          </xs:documentation>
          <xs:appinfo>
            <model namespace="users" />
            <common>
              <step name="subject" />
            </common>
            <fo />
            <bo />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>

      <xs:element name="SpouseFirstName" type="cvq:FirstNameType">
        <xs:annotation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
            Prénom du conjoint
          </xs:documentation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
            Prénom
          </xs:documentation>
          <xs:appinfo>
            <model namespace="users" />
            <common>
              <step name="subject" />
            </common>
            <fo />
            <bo />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
		  <!-- Must be readonly -->
      <xs:element name="SpouseTitle" type="cvq:TitleType">
        <xs:annotation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
            Civilité
          </xs:documentation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
            Civilité
          </xs:documentation>
          <xs:appinfo>
            <model namespace="users" />
            <common>
              <step name="subject" />
            </common>
            <fo />
            <bo />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>

      <xs:element name="SpouseBirthDate" type="xs:date">
        <xs:annotation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
            Date naissance du conjoint
          </xs:documentation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
            Date naissance
          </xs:documentation>
          <xs:appinfo>
            <common>
              <step name="subject" />
            </common>
            <fo />
            <bo />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>

      <xs:element name="SpouseIsDisabledPerson" type="xs:boolean" default="false">
        <xs:annotation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
            Etes-vous titulaire d'une Carte d'Invalidité ? 
            (Si oui, n'oubliez pas de joindre une copie de la carte d'invalidité)
          </xs:documentation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
            Personne handicapée
          </xs:documentation>
          <xs:appinfo>
            <common>
              <step name="subject" />
            </common>
            <fo />
            <bo />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>

    </xs:sequence>
  </xs:complexType>

  <xs:simpleType name="RsrContactKindType">
    <xs:annotation>
      <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
        Personne à contacter pour prendre rendez-vous pour l'installation
      </xs:documentation>
      <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
        Type contact
      </xs:documentation>
      <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/translation/enum">
        <enum key="Requester" value="Demandeur" />
        <enum key="Other" value="Autre" />
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="Requester" />
      <xs:enumeration value="Other" />
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="RsrContactType">
    <xs:annotation>
      <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
        Informations conçernant le premier contact
      </xs:documentation>
      <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
        Contact
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>

      <xs:element name="ContactLastName" type="cvq:LastNameType">
        <xs:annotation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
            Nom du premier contact
          </xs:documentation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
            Nom
          </xs:documentation>
          <xs:appinfo>
            <model namespace="users" />
            <common>
              <step name="contact" />
            </common>
            <fo />
            <bo />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>

      <xs:element name="ContactFirstName" type="cvq:FirstNameType">
        <xs:annotation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
            Prénom du premier contact
          </xs:documentation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
            Prénom
          </xs:documentation>
          <xs:appinfo>
            <model namespace="users" />
            <common>
              <step name="contact" />
            </common>
            <fo />
            <bo />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>

      <xs:element name="ContactPhone" type="cvq:PhoneType">
        <xs:annotation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
            N° de téléphone du premier contact
          </xs:documentation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
            N° Téléphone
          </xs:documentation>
          <xs:appinfo>
            <model namespace="users" />
            <common>
              <step name="contact" />
            </common>
            <fo />
            <bo />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>

    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="RsrSecondContactType">
    <xs:annotation>
      <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
        Informations conçernant le second contact
      </xs:documentation>
      <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
        Second contact
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>

      <xs:element name="SecondContactLastName" type="cvq:LastNameType" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
            Nom du second contact
          </xs:documentation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
            Nom
          </xs:documentation>
          <xs:appinfo>
            <model namespace="users" />
            <common>
              <step name="contact" />
            </common>
            <fo />
            <bo />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>

      <xs:element name="SecondContactFirstName" type="cvq:FirstNameType" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
            Prénom du second contact
          </xs:documentation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
            Prénom
          </xs:documentation>
          <xs:appinfo>
            <model namespace="users" />
            <common>
              <step name="contact" />
            </common>
            <fo />
            <bo />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>

      <xs:element name="SecondContactPhone" type="cvq:PhoneType" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
            N° de téléphone du second contact
          </xs:documentation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
            N° Téléphone
          </xs:documentation>
          <xs:appinfo>
            <model namespace="users" />
            <common>
              <step name="contact" />
            </common>
            <fo />
            <bo />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>

    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="RsrTrusteeType">
    <xs:annotation>
      <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
        Coordonnées de la personne dépositaire de vos clés
        Note : GTS refuse l'installation s'il n'y a pas de dépositaire des clés.
        Le dépositaire des clés doit résider à moins de 15 minutes du lieu d’habitation du demandeur.
      </xs:documentation>
      <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
        Dépositaire des clés (Optionnel - Fortement recommendé)
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>

      <xs:element name="TrusteeLastName" type="cvq:LastNameType" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
            Nom du dépositaire
          </xs:documentation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
            Nom
          </xs:documentation>
          <xs:appinfo>
            <model namespace="users" />
            <common>
              <step name="contact" />
            </common>
            <fo />
            <bo />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>

      <xs:element name="TrusteeFirstName" type="cvq:FirstNameType" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
            Prénom du dépositaire
          </xs:documentation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
            Prénom
          </xs:documentation>
          <xs:appinfo>
            <model namespace="users" />
            <common>
              <step name="contact" />
            </common>
            <fo />
            <bo />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>

      <xs:element name="TrusteePhone" type="cvq:PhoneType" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
            N° de téléphone du dépositaire
          </xs:documentation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
            N° Téléphone
          </xs:documentation>
          <xs:appinfo>
            <model namespace="users" />
            <common>
              <step name="contact" />
            </common>
            <fo />
            <bo />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>

    </xs:sequence>
  </xs:complexType>

</xs:schema>
