Generator/src/xml/schemas/request/SaintouenCommunalStudiesScholarshipRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="http://www.cg95.fr/cvq/schema/scssr"
  xmlns:scssr="http://www.cg95.fr/cvq/schema/scssr"
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns:cvq="http://www.cg95.fr/cvq/schema/common"
  elementFormDefault="qualified"
  attributeFormDefault="unqualified">
  
  <xs:import namespace="http://www.cg95.fr/cvq/schema/common"
    schemaLocation="../common/CVQCommonElements.xsd" />
    
  <xs:element name="SaintouenCommunalStudiesScholarshipRequest">
    <xs:annotation>
      <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
        Demande de bourse communale d'études pour l'enseignement supérieur public
      </xs:documentation>
      <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
        Demande de bourse communale d'etudes
      </xs:documentation>
      <xs:appinfo>
        <model namespace="school" />
        <common>
          <namespace name="school" />
          <steps>
            <step index="-1" ref="homeFolder" />
            <step index="0" name="subject">
              <widgets>
                <subject />
              </widgets>
              <conditions>
                <condition name="isOtherSituation" />
              </conditions>
            </step>
            <step index="1" name="schoolingInformation">
              <conditions>
                <condition name="saintOuenIsInOtherStudies"/>
              </conditions>
            </step>
            <step index="2" name="compositionFamille">
              <conditions>
                <condition name="vousVivezAvecAutre"/>
              </conditions>
            </step>
            <step index="3" ref="document" />
            <step index="4" ref="validation" />
            <step index="5" ref="administration" />
          </steps>
        </common>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="cvq:RequestType">
          <xs:sequence>

      <xs:element name="SubjectBirthDate" type="xs:date">
        <xs:annotation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
            Date de naissance
          </xs:documentation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
            Date de naissance
          </xs:documentation>
          <xs:appinfo>
            <common>
              <step name="subject" />
            </common>
            <pdf />
            <fo />
            <bo column="1" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>

      <xs:element name="SubjectDomiciliationDate" type="xs:date">
        <xs:annotation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
            Date de domiciliation à Saint-Ouen
          </xs:documentation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
            Date de domiciliation à Saint-Ouen
          </xs:documentation>
          <xs:appinfo>
            <common>
              <step name="subject" />
            </common>
            <pdf />
            <fo />
            <bo column="1" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="IsOtherSituation" type="scssr:SaintOuenSituationLogementType" default="tenant">
        <xs:annotation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
            Logement
          </xs:documentation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
            Logement
          </xs:documentation>
          <xs:appinfo>
            <common>
              <step name="subject" />
              <conditions>
                <condition name="isOtherSituation" type="trigger" />
              </conditions>
            </common>
            <pdf />
            <fo>
                <radio/>
            </fo>
            <bo column="1" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>

      <xs:element name="SaintOuenOtherSituationDetails" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
            Précisez
          </xs:documentation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
            Précisez
          </xs:documentation>
          <xs:appinfo>
            <common>
              <step name="subject" />
              <conditions>
                <condition name="isOtherSituation" type="filled" required="true"/>
              </conditions>
            </common>
            <pdf />
            <fo />
            <bo column="1" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>

     <xs:element name="SaintOuenEstablishmentLabel" type="xs:string">
        <xs:annotation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
            Etablissement d'enseignement supérieur fréquenté pour l'année universitaire
          </xs:documentation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
            Etablissement d'enseignement supérieur fréquenté pour l'année universitaire
          </xs:documentation>
          <xs:appinfo>
            <common>
              <step name="schoolingInformation" />
            </common>
            <fo />
            <bo column="1" />
            <pdf />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="SaintOuenEtablissementTelephone" type="cvq:PhoneType">
        <xs:annotation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
            Téléphone de l'établissement fréquenté
          </xs:documentation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
            Téléphone de l'établissement fréquenté
          </xs:documentation>
          <xs:appinfo>
            <common>
              <step name="schoolingInformation" />
            </common>
            <fo />
            <bo column="1" />
            <pdf />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="SaintOuenIsInOtherStudies" type="scssr:SaintOuenCurrentStudiesType">
        <xs:annotation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
            Diplôme préparé
          </xs:documentation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
            Diplôme préparé
          </xs:documentation>
          <xs:appinfo>
            <common>
              <step name="schoolingInformation" />
              <conditions>
                <condition name="saintOuenIsInOtherStudies" type="trigger" />
              </conditions>
            </common>
            <pdf />
            <fo />
            <bo column="1" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="SaintOuenOtherStudiesLabel" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
            Précisez
          </xs:documentation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
            Précisez
          </xs:documentation>
          <xs:appinfo>
            <common>
              <step name="schoolingInformation" />
              <conditions>
                <condition name="saintOuenIsInOtherStudies" type="filled" required="true" />
              </conditions>
            </common>
            <pdf />
            <fo />
            <bo column="2" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="SaintOuenCurrentStudiesLevel" type="scssr:SaintOuenCurrentStudiesLevelType">
        <xs:annotation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
            Niveau d'étude
          </xs:documentation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
            Niveau d'étude
          </xs:documentation>
          <xs:appinfo>
            <common>
              <step name="schoolingInformation" />
            </common>
            <pdf />
            <fo />
            <bo column="1" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="VousVivezAvec" type="scssr:ScssrVousVivezAvezType" default="DeuxParents">
        <xs:annotation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
            Vous vivez avec vos :
          </xs:documentation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
            Vous vivez avec vos :
          </xs:documentation>
          <xs:appinfo>
            <common>
              <step name="compositionFamille" />
              <conditions>
                <condition name="vousVivezAvecAutre" type="trigger" />
              </conditions>
            </common>
            <pdf />
            <fo>
                <radio />
            </fo>
            <bo column="1" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="PrecisionsCompositionFamille">
        <xs:annotation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
            Précisez la composition de la famille
          </xs:documentation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
            Précisez la composition de la famille
          </xs:documentation>
          <xs:appinfo>
            <common>
              <step name="compositionFamille" />
              <conditions>
                <condition name="vousVivezAvecAutre" type="filled" required="true" />
              </conditions>
            </common>
            <pdf />
            <fo>
                <textarea rows="5" />
            </fo>
            <bo column="1">
                <textarea rows="5" />
            </bo>
          </xs:appinfo>
        </xs:annotation>
        <xs:simpleType>
           <xs:restriction base="xs:string">
             <xs:maxLength value="1024" />
           </xs:restriction>
         </xs:simpleType>
      </xs:element>
      
      <xs:element name="NombreIndividusFoyer" type="scssr:ScssrNombreIndividusFoyerType">
        <xs:annotation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
            Composition du foyer (en incluant le demandeur)
          </xs:documentation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
            Composition du foyer (en incluant le demandeur)
          </xs:documentation>
          <xs:appinfo>
            <common>
              <step name="compositionFamille" />
            </common>
            <pdf />
            <fo />
            <bo column="2" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>

      <xs:element name="MontantBourse" type="xs:string">
        <xs:annotation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
            Montant de la bourse
          </xs:documentation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
            Montant de la bourse
          </xs:documentation>
          <xs:appinfo>
            <common>
              <step ref="administration" />
            </common>
            <bo column="1" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
</xs:element>

  <xs:simpleType name="SaintOuenCurrentStudiesType">
    <xs:annotation>
      <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/translation/enum">
        <enum key="licence" value="Licence" />
        <enum key="licencePro" value="Licence Pro" />
        <enum key="master" value="Master" />
        <enum key="bts" value="BTS" />
        <enum key="dut" value="DUT" />
        <enum key="otherStudies" value="Autre" />
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="licence" />
      <xs:enumeration value="licencePro" />
      <xs:enumeration value="master" />
      <xs:enumeration value="bts" />
      <xs:enumeration value="dut" />
      <xs:enumeration value="otherStudies" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="SaintOuenCurrentStudiesLevelType">
    <xs:annotation>
      <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/translation/enum">
        <enum key="firstYear" value="1ère année" />
        <enum key="secondYear" value="2ème année" />
        <enum key="thirdYear" value="3ème année" />
        <enum key="fourthYear" value="4ème année" />
        <enum key="firthYear" value="5ème année" />
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="firstYear" />
      <xs:enumeration value="secondYear" />
      <xs:enumeration value="thirdYear" />
      <xs:enumeration value="fourthYear" />
      <xs:enumeration value="firthYear" />
    </xs:restriction>
  </xs:simpleType>
  
  <xs:simpleType name="SaintOuenSituationLogementType">
    <xs:annotation>
      <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/translation/enum">
        <enum key="tenant" value="Locataire" />
        <enum key="freeHoused" value="Logé gratuitement" />
        <enum key="otherSituation" value="Autre situation" />
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="tenant" />
      <xs:enumeration value="freeHoused" />
      <xs:enumeration value="otherSituation" />
    </xs:restriction>
  </xs:simpleType>
  
  <xs:simpleType name="ScssrVousVivezAvezType">
    <xs:annotation>
      <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/translation/enum">
        <enum key="DeuxParents" value="Deux parents" />
        <enum key="UnParent" value="Un parent" />
        <enum key="Autres" value="Autres" />
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="DeuxParents" />
      <xs:enumeration value="UnParent" />
      <xs:enumeration value="Autres" />
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="ScssrNombreIndividusFoyerType">
    <xs:sequence>
     <xs:element name="NombreAdultesMajeurs" type="xs:long" default="0">
         <xs:annotation>
           <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
             Nombre d'adultes majeurs dans le foyer (hors enfant)
           </xs:documentation>
           <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
             Nombre d'adultes majeurs dans le foyer (hors enfant)
           </xs:documentation>
           <xs:appinfo>
             <common>
               <step name="compositionFamille"/>
             </common>
             <fo />
             <bo column="2"/>
             <pdf />
           </xs:appinfo>
         </xs:annotation>
       </xs:element>
       <xs:element name="NombreEnfantsMineurs" type="xs:long" default="0">
         <xs:annotation>
           <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
             Nombre d'enfants mineurs dans le foyer
           </xs:documentation>
           <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
             Nombre d'enfants mineurs dans le foyer
           </xs:documentation>
           <xs:appinfo>
             <common>
               <step name="compositionFamille"/>
             </common>
             <fo />
             <bo column="2"/>
             <pdf />
           </xs:appinfo>
         </xs:annotation>
       </xs:element>
       </xs:sequence>
   </xs:complexType>
</xs:schema>