Generator/src/xml/schemas/request/SaintouenInscriptionScolaireGlobaleRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema targetNamespace="http://www.cg95.fr/cvq/schema/sisgr"
  xmlns:sisgr="http://www.cg95.fr/cvq/schema/sisgr"
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns:cvq="http://www.cg95.fr/cvq/schema/common"
  elementFormDefault="qualified" attributeFormDefault="unqualified">

  <xs:import namespace="http://www.cg95.fr/cvq/schema/common"
    schemaLocation="../common/CVQCommonElements.xsd"/>

  <xs:element name="SaintouenInscriptionScolaireGlobaleRequest">
    <xs:annotation>
      <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
        Inscription scolaire, périscolaire, restauration scolaire
      </xs:documentation>
      <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
        Inscription scolaire, périscolaire, restauration scolaire
      </xs:documentation>
      <xs:appinfo>
        <model namespace="school"/>
        <common>
          <namespace name="school"/>
          <steps>
            <step index="-1" ref="homeFolder" />
            <step index="0" name="enfant">
              <widgets>
                <subject />
              </widgets>
            </step>
            <step index="1" name="activites" />
            <step index="2" name="paiement" />
            <step index="3" ref="document" />
            <step index="4" ref="validation"/>
          </steps>
        </common>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="cvq:RequestType">
          <xs:sequence>
            <xs:element name="EcoleSecteur" type="sisgr:SisgrEcoleSecteurType">
              <xs:annotation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
                  Ecole de secteur 
                </xs:documentation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
                  Ecole de secteur 
                </xs:documentation>
                <xs:appinfo>
                  <common>
                    <step name="enfant"/>
                  </common>
                  <fo />
                  <bo column="1"/>
                  <pdf />
                </xs:appinfo>
              </xs:annotation>
            </xs:element>
            <xs:element name="EstAllergique" type="xs:boolean" default="false">
              <xs:annotation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
                  Votre enfant a-t-il une allergie ? 
                </xs:documentation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
                  Votre enfant a-t-il une allergie ? 
                </xs:documentation>
                <xs:appinfo>
                  <common>
                    <step name="enfant"/>
                  </common>
                  <fo />
                  <bo column="1"/>
                  <pdf />
                </xs:appinfo>
              </xs:annotation>
            </xs:element>
            <xs:element name="EstHandicapeInvalidant" type="xs:boolean" default="false">
              <xs:annotation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
                  Votre enfant souffre-t-il d'un handicap ou d'un trouble de santé invalidant ?
                </xs:documentation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
                  Votre enfant souffre-t-il d'un handicap ou d'un trouble de santé invalidant ?
                </xs:documentation>
                 <xs:appinfo>
                  <common>
                    <step name="enfant"/>
                  </common>
                  <fo />
                  <bo column="1"/>
                  <pdf />
                </xs:appinfo>
              </xs:annotation>
            </xs:element>
            <xs:element name="EstRestauration" type="xs:boolean" default="false">
              <xs:annotation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
                  Souhaitez-vous inscrire votre enfant à la restauration scolaire de l'école ? 
                </xs:documentation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
                  Souhaitez-vous inscrire votre enfant à la restauration scolaire de l'école ? 
                </xs:documentation>
                <xs:appinfo>
                  <common>
                    <step name="activites"/>
                  </common>
                  <fo />
                  <bo column="1"/>
                  <pdf />
                </xs:appinfo>
              </xs:annotation>
            </xs:element>
            <xs:element name="InscriptionPeriscolaire" type="sisgr:SisgrInscriptionPeriscolaireType">
              <xs:annotation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
                  Inscription à l'accueil périscolaire de l'école
                </xs:documentation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
                  Inscription à l'accueil périscolaire de l'école
                </xs:documentation>
                <xs:appinfo>
                  <common>
                    <step name="activites"/>
                  </common>
                  <fo />
                  <bo column="2"/>
                  <pdf />
                </xs:appinfo>
              </xs:annotation>
            </xs:element>
             <xs:element name="ReglementInterieur" type="cvq:AcceptanceType" default="false">
              <xs:annotation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
                  J'accepte le règlement intérieur. 
                </xs:documentation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
                  J'accepte le règlement intérieur.
                </xs:documentation>
                <xs:appinfo>
                  <common>
                    <step name="activites"/>
                  </common>
                  <fo>
                    <checkbox />
                  </fo>
                  <bo column="1"/>
                  <pdf />
                </xs:appinfo>
              </xs:annotation>
            </xs:element>
            <xs:element name="ModeReglement" type="cvq:LocalReferentialDataType" maxOccurs="unbounded">
              <xs:annotation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
                  Mode de règlement
                </xs:documentation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
                  Mode de règlement
                </xs:documentation>
                <xs:appinfo>
                  <model namespace="request" isTiedToRequest="true" />
                  <common>
                    <step name="paiement" />
                  </common>
                  <fo />
                  <bo column="1" />
                  <pdf />
                </xs:appinfo>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>

  <xs:complexType name="SisgrInscriptionPeriscolaireType">
    <xs:sequence>
     <xs:element name="AccueilMatin" type="xs:boolean" default="false">
         <xs:annotation>
           <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
             Accueil matin ?
           </xs:documentation>
           <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
             Accueil matin ?
           </xs:documentation>
           <xs:appinfo>
             <common>
               <step name="activites"/>
             </common>
             <fo />
             <bo column="2"/>
             <pdf />
           </xs:appinfo>
         </xs:annotation>
       </xs:element>
       <xs:element name="AccueilSoir" type="xs:boolean" default="false">
         <xs:annotation>
           <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
             Accueil soir ?
           </xs:documentation>
           <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
             Accueil soir ?
           </xs:documentation>
           <xs:appinfo>
             <common>
               <step name="activites"/>
             </common>
             <fo />
             <bo column="2"/>
             <pdf />
           </xs:appinfo>
         </xs:annotation>
       </xs:element>
       <xs:element name="AccueilMercrediEtVacances" type="xs:boolean" default="false">
         <xs:annotation>
           <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
             Accueil mercredi et Vacances ?
           </xs:documentation>
           <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
             Accueil mercredi et Vacances ?
           </xs:documentation>
           <xs:appinfo>
             <common>
               <step name="activites"/>
             </common>
             <fo />
             <bo column="2"/>
             <pdf />
           </xs:appinfo>
         </xs:annotation>
       </xs:element>
       <xs:element name="EtudesSurveillees" type="xs:boolean" default="false">
         <xs:annotation>
           <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
             Etudes surveillées ?
           </xs:documentation>
           <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
             Etudes surveillées ?
           </xs:documentation>
           <xs:appinfo>
             <common>
               <step name="activites"/>
             </common>
             <fo />
             <bo column="2"/>
             <pdf />
           </xs:appinfo>
         </xs:annotation>
       </xs:element>
    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="SisgrEcoleSecteurType">
    <xs:sequence>
      <xs:element name="IdEcoleSecteur" type="xs:string">
        <xs:annotation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
            Identifiant de l'école
          </xs:documentation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
            Identifiant de l'école
          </xs:documentation>
          <xs:appinfo>
            <common>
              <step name="enfant" />
            </common>
            <fo />
            <bo />
            <pdf />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="LabelEcoleSecteur" type="xs:string">
        <xs:annotation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
            Label de l'école
          </xs:documentation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
            Label de l'école
          </xs:documentation>
          <xs:appinfo>
            <common>
              <step name="enfant" />
            </common>
            <fo />
            <bo />
            <pdf />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
