Generator/src/xml/schemas/request/SchoolTransportRegistrationRequest.xsd

<xs:schema targetNamespace="http://www.cg95.fr/cvq/schema/strr"
  xmlns:strr="http://www.cg95.fr/cvq/schema/strr" 
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns:cvq="http://www.cg95.fr/cvq/schema/common" 
  elementFormDefault="qualified"
  attributeFormDefault="unqualified">

  <xs:import namespace="http://www.cg95.fr/cvq/schema/common"
    schemaLocation="../common/CVQCommonElements.xsd" />

  <xs:element name="SchoolTransportRegistrationRequest">
    <xs:annotation>
      <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
        Demande d'inscription aux transports scolaires
      </xs:documentation>
      <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
        Inscription aux transports scolaires
      </xs:documentation>
      <xs:appinfo>
        <model namespace="school" />
        <common>
          <namespace name="school" />
          <steps>
            <step index="0" name="enfant" >
              <widgets>
                <subject />
              </widgets>
            </step>
            <step index="1" name="autorisations">
                <conditions>
                    <condition name="estMaternelleElementaire" />
                    <condition name="autoriseTiers" />
                    <condition name="autoriseFrereOuSoeur" />
                </conditions>
            </step>
            <step index="2" name="reglements" />
            <step index="3" ref="document" />
            <step index="4" ref="validation" />
          </steps>
        </common>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="cvq:RequestType">
          <xs:sequence>
             <xs:element name="Ligne" type="strr:LigneType">
              <xs:annotation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
                  Ligne de bus
                </xs:documentation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
                  Ligne de bus
                </xs:documentation>
                <xs:appinfo>
                  <common>
                    <step ref="enfant" />
                  </common>
                  <fo />
                  <bo column="1" />
                  <pdf />
                </xs:appinfo>
              </xs:annotation>
            </xs:element>
            <xs:element name="Arret" type="strr:ArretType">
              <xs:annotation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
                  Arrêt de montée et descente de l'enfant
                </xs:documentation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
                  Arrêt de montée et descente de l'enfant
                </xs:documentation>
                <xs:appinfo>
                  <common>
                    <step name="enfant" />
                  </common>
                  <fo />
                  <bo column="1" />
                  <pdf />
                </xs:appinfo>
              </xs:annotation>
            </xs:element>
            <xs:element name="EstMaternelleElementaireAutorisations" type="xs:boolean" default="false">
              <xs:annotation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
                  Votre enfant est en école maternelle ou élémentaire
                </xs:documentation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
                  Votre enfant est en école maternelle ou élémentaire
                </xs:documentation>
                <xs:appinfo>
                  <common>
                    <step name="autorisations" />
                    <conditions>
                        <condition name="estMaternelleElementaire" type="trigger" />
                    </conditions>
                  </common>
                  <fo />
                  <bo column="1" />
                  <pdf />
                </xs:appinfo>
              </xs:annotation>
            </xs:element>
            <xs:element name="Autorisation" type="strr:AutorisationType">
              <xs:annotation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
                  Vous autorisez
                </xs:documentation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
                  Vous autorisez
                </xs:documentation>
                <xs:appinfo>
                  <common>
                    <step name="autorisations" />
                    <conditions>
                        <condition name="estMaternelleElementaire" type="filled" />
                        <condition name="autoriseTiers" type="trigger" />
                        <condition name="autoriseFrereOuSoeur" type="trigger" />
                    </conditions>
                  </common>
                  <fo />
                  <bo column="1" />
                  <pdf />
                </xs:appinfo>
              </xs:annotation>
            </xs:element>
            <xs:element name="TiersAutorises" type="strr:TiersInformationsType" maxOccurs="unbounded">
              <xs:annotation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
                  Personnes tiers autorisées à venir récupérer l'enfant à l'arrêt de bus
                </xs:documentation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
                  Personnes tiers autorisées à venir récupérer l'enfant à l'arrêt de bus
                </xs:documentation>
                <xs:appinfo>
                  <common>
                    <step name="autorisations" />
                    <conditions>
                        <condition name="autoriseTiers" type="filled" />
                    </conditions>
                  </common>
                  <fo />
                  <bo column="2" />
                 <pdf />
                </xs:appinfo>
              </xs:annotation>
            </xs:element>
            <xs:element name="FrereOuSoeurAutorise" type="strr:FrereOuSoeurInformationsType">
              <xs:annotation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
                  Frère ou soeur autorisé à prendre la garde de l'enfant
                </xs:documentation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
                  Frère ou soeur autorisé à prendre la garde de l'enfant
                </xs:documentation>
                <xs:appinfo>
                  <common>
                    <step name="autorisations" />
                    <conditions>
                        <condition name="autoriseFrereOuSoeur" type="filled" />
                    </conditions>
                  </common>
                  <fo />
                  <bo column="2" />
                 <pdf />
                </xs:appinfo>
              </xs:annotation>
            </xs:element>
            <xs:element name="AcceptationReglementInterieur" type="cvq:AcceptanceType" default="false" minOccurs="0">
              <xs:annotation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
                  J'accepte et je m'engage à respecter le règlement
                </xs:documentation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
                  J'accepte et je m'engage à respecter le règlement
                </xs:documentation>
                <xs:appinfo>
                  <common>
                    <step name="reglements" />
                  </common>
                  <fo />
                  <bo column="1" />
                 <pdf />
                </xs:appinfo>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>

  <xs:simpleType name="AutorisationType">
    <xs:annotation>
      <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
        Autorisation
      </xs:documentation>
      <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
        Autorisation
      </xs:documentation>
      <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/translation/enum">
        <enum key="Seul" value="A rentrer seul à la maison (uniquement à partir du CE1)" />
        <enum key="AvecFrereSoeur" value="Son frère ou sa soeur scolarisé au CM1 ou CM2 à le prendre en charge" />
        <enum key="AvecTiers" value="Une ou plusieurs personnes à le récupérer à l'arrêt de bus" />
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="Seul" />
      <xs:enumeration value="AvecFrereSoeur" />
      <xs:enumeration value="AvecTiers" />
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="FrereOuSoeurInformationsType">
    <xs:sequence>
      <xs:element name="FrereOuSoeurNom" type="cvq:LastNameType">
        <xs:annotation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
            Nom
          </xs:documentation>
          <xs:appinfo>
            <common>
              <step name="autorisations" />
            </common>
            <fo />
            <bo />
            <pdf />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="FrereOuSoeurPrenom" type="cvq:FirstNameType">
        <xs:annotation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
            Prénom
          </xs:documentation>
          <xs:appinfo>
            <common>
              <step name="autorisations" />
            </common>
            <fo />
            <bo />
            <pdf />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="FrereOuSoeurEcole" type="xs:string">
        <xs:annotation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
            Ecole
          </xs:documentation>
          <xs:appinfo>
            <common>
              <step name="autorisations" />
            </common>
            <fo />
            <bo />
            <pdf />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="FrereOuSoeurClasse" type="xs:string">
        <xs:annotation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
            Classe
          </xs:documentation>
          <xs:appinfo>
            <common>
              <step name="autorisations" />
            </common>
            <fo />
            <bo />
            <pdf />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="TiersInformationsType">
    <xs:sequence>
      <xs:element name="TiersNom" type="cvq:LastNameType">
        <xs:annotation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
            Nom
          </xs:documentation>
          <xs:appinfo>
            <common>
              <step name="autorisations" />
            </common>
            <fo />
            <bo />
            <pdf />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="TiersPrenom" type="cvq:FirstNameType">
        <xs:annotation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
            Prénom
          </xs:documentation>
          <xs:appinfo>
            <common>
              <step name="autorisations" />
            </common>
            <fo />
            <bo />
            <pdf />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="TiersTelephone" type="cvq:PhoneType">
        <xs:annotation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
            Téléphone
          </xs:documentation>
          <xs:appinfo>
            <common>
              <step name="autorisations" />
            </common>
            <fo />
            <bo />
            <pdf />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="LigneType">
    <xs:sequence>
      <xs:element name="IdLigne" type="xs:string">
        <xs:annotation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
            Identifiant
          </xs:documentation>
          <xs:appinfo>
            <common>
              <step name="enfant" />
            </common>
            <fo />
            <bo />
            <pdf />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="LabelLigne" type="xs:string">
        <xs:annotation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
            Label
          </xs:documentation>
          <xs:appinfo>
            <common>
              <step name="enfant" />
            </common>
            <fo />
            <bo />
            <pdf />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ArretType">
    <xs:sequence>
      <xs:element name="IdArret" type="xs:string">
        <xs:annotation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
            Identifiant
          </xs:documentation>
          <xs:appinfo>
            <common>
              <step name="enfant" />
            </common>
            <fo />
            <bo />
            <pdf />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="LabelArret" type="xs:string">
        <xs:annotation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
            Label
          </xs:documentation>
          <xs:appinfo>
            <common>
              <step name="enfant" />
            </common>
            <fo />
            <bo />
            <pdf />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
