Generator/src/xml/schemas/request/SchoolRegistrationRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="http://www.cg95.fr/cvq/schema/srr"
  xmlns:srr="http://www.cg95.fr/cvq/schema/srr" 
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns:cvq="http://www.cg95.fr/cvq/schema/common" 
  elementFormDefault="qualified"
  attributeFormDefault="unqualified">

  <xs:import namespace="http://www.cg95.fr/cvq/schema/common"
    schemaLocation="../common/CVQCommonElements.xsd" />

  <xs:element name="SchoolRegistrationRequest">
    <xs:annotation>
      <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
        Demande d'inscription scolaire
      </xs:documentation>
      <xs:documentation xml:lang="en" source="http://www.cg95.fr/cvq/schema/longdesc">
        School registration request
      </xs:documentation>
      <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
        Inscription scolaire
      </xs:documentation>
      <xs:documentation xml:lang="en" source="http://www.cg95.fr/cvq/schema/shortdesc">
        School Registration
      </xs:documentation>
      <xs:appinfo>
        <model namespace="school" />
        <common>
	      <namespace name="school" />
	      <steps>
	        <step index="0" name="registration" >
	          <widgets>
	            <subject />
	          </widgets>
	       	</step>
	        <step index="1" name="rules" />
	        <step index="2" ref="document" />
	        <step index="3" ref="validation" />
	      </steps>
	    </common>  
        <xslfo>
          <blocks-def>
            <block id="0" label="Enfant*" column="2" />
            <block id="1" label="Moyen de contact*" />
            <block id="2" label="Règlement intérieur" />
          </blocks-def>
          <element blockId="1" line="0" column="0" link="MeansOfContact"
            prefixLabel="Comment souhaitez-vous être informé ?">
            <complexTemplate />
          </element>
          <element blockId="0" line="3" column="0" columnSpan="2" link="Subject">
            <complexTemplate />
          </element>
        </xslfo>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="cvq:RequestType">
          <xs:sequence>
             <xs:element name="School" type="cvq:SchoolType" minOccurs="0">
              <xs:annotation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
                  L'école dans laquelle est inscrit l'enfant
                </xs:documentation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
                  Ecole
                </xs:documentation>
                <xs:documentation xml:lang="en" source="http://www.cg95.fr/cvq/schema/longdesc">
                  The school in which the child is registered
                </xs:documentation>
                <xs:appinfo>
                  <model namespace="authority" />
                  <common>
                    <step name="registration" />
                  </common>
                  <bo column="1" />
                  <xslfo>
                    <element blockId="0" line="2" column="0" prefixLabel="Inscription dans l'école">
                      <string selectXPath="cvq:Name" />
                    </element>
                  </xslfo>
                </xs:appinfo>
              </xs:annotation>
            </xs:element>
            <xs:element name="Section" type="cvq:SectionType" default="Unknown">
              <xs:annotation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
                  Inscription en classe
                </xs:documentation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
                  Classe dans laquelle l'enfent sera inscrit
                </xs:documentation>
                <xs:appinfo>
                  <model namespace="users" />
                  <common>
                    <step name="registration" />
                  </common>
                  <fo />
                  <bo column="1" />
                  <xslfo>
                    <element blockId="0" line="2" column="1">
                      <string referential="true" />
                    </element>
                  </xslfo>
                </xs:appinfo>
              </xs:annotation>
            </xs:element>
            <xs:element name="UrgencyPhone" type="cvq:PhoneType">
              <xs:annotation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
                  Téléphone en cas d'urgence
                </xs:documentation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
                  Numéro de téléphone à contacter en cas d'urgence
                </xs:documentation>
                <xs:appinfo>
                  <common>
                    <step name="registration" />
                  </common>
                  <fo />
                  <bo column="1" />
                  <xslfo>
                    <element blockId="0" line="4" column="0" columnSpan="1">
                      <string />
                    </element>
                  </xslfo>
                </xs:appinfo>
              </xs:annotation>
            </xs:element>
            <xs:element name="CurrentSchool" type="srr:CurrentSchoolType">
              <xs:annotation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
                  Informations conçernant l'école actuelle
                </xs:documentation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
                  Ecole actuelle
                </xs:documentation>
                <xs:appinfo>
                  <common>
                    <step name="registration" />
                  </common>
                  <fo />
                  <bo column="2" />
                  <xslfo>
                    <element blockId="0" line="0" column="0">
                      <localComplexElement />
                    </element>
                  </xslfo>    	  
                </xs:appinfo>
              </xs:annotation>
            </xs:element>
            <xs:element name="RulesAndRegulationsAcceptance" type="cvq:AcceptanceType"
              default="false">
              <xs:annotation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
                  Prise en compte et acceptation du règlement intérieur
                </xs:documentation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
                  J'accepte et je m'engage à respecter le règlement
                </xs:documentation>
                <xs:appinfo>
                  <common>
                    <step name="rules" />
                  </common>
                  <fo />
                  <bo column="1" />
                  <xslfo>
                    <element blockId="2" line="0" column="0">
                      <signature>
                        <acceptMessage index="0">
                          J'ai pris parfaite connaissance du règlement intérieur de
                          l'école qui accompagne cette fiche.
                        </acceptMessage>
                        <rejectMessage index="0">
                          Vous n'avez pas accepté le réglement intérieur
                        </rejectMessage>
                      </signature>
                    </element>
                  </xslfo>
                </xs:appinfo>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  
  <xs:complexType name="CurrentSchoolType">
    <xs:annotation>
      <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
        Informations conçernant le sujet de la demande
      </xs:documentation>
      <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
        Sujet
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="CurrentSchoolName" type="xs:string" minOccurs="0" default="">
        <xs:annotation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
            L'école dans laquelle est inscrit l'enfant
          </xs:documentation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
            Nom de l'école actuelle
          </xs:documentation>
          <xs:documentation xml:lang="en" source="http://www.cg95.fr/cvq/schema/longdesc">
            The school in which the child is registered
          </xs:documentation>
          <xs:appinfo>
           <common>
             <step name="registration" />
           </common>
           <fo />
           <bo column="2" />
           <xslfo>
             <element blockId="0" line="0" column="0">
               <string />
             </element>
           </xslfo>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="CurrentSchoolAddress" type="xs:string" minOccurs="0" default="">
        <xs:annotation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
            L'adresse de l'école dans laquelle est inscrit l'enfant
          </xs:documentation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
            Adresse de l'école actuelle
          </xs:documentation>
          <xs:documentation xml:lang="en" source="http://www.cg95.fr/cvq/schema/longdesc">
            The address of the school in which the child is registered
          </xs:documentation>
          <xs:appinfo>
            <common>
              <step name="registration" />
            </common>
            <fo>
              <textarea rows="3" />
            </fo>
            <bo column="2" />
            <xslfo>
              <element blockId="0" line="1" column="0">
                <string />
              </element>
            </xslfo>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="CurrentSection" type="cvq:SectionType" minOccurs="0"
        default="Unknown">
        <xs:annotation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
            Classe actuelle
          </xs:documentation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
            Classe dans laquelle l'enfant est actuellement inscrit
          </xs:documentation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
            Current section
          </xs:documentation>
          <xs:appinfo>
            <model namespace="users" />
            <common>
              <step name="registration" />
            </common>
            <fo />
            <bo column="2" />
            <xslfo>
              <element blockId="0" line="0" column="1">
                <string referential="true" />
              </element>
            </xslfo>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
