Generator/src/xml/schemas/request/SchoolCanteenRegistrationRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="http://www.cg95.fr/cvq/schema/scrr" 
  xmlns:scrr="http://www.cg95.fr/cvq/schema/scrr"
  xmlns:xs="http://www.w3.org/2001/XMLSchema" 
  xmlns:cvq="http://www.cg95.fr/cvq/schema/common"
  elementFormDefault="qualified" attributeFormDefault="unqualified">

  <xs:import namespace="http://www.cg95.fr/cvq/schema/common" 
    schemaLocation="../common/CVQCommonElements.xsd" />

  <xs:element name="SchoolCanteenRegistrationRequest">
    <xs:annotation>
      <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
        Demande d'inscription au restaurant scolaire</xs:documentation>
      <xs:documentation xml:lang="en" source="http://www.cg95.fr/cvq/schema/longdesc">
        School canteen registration request</xs:documentation>
      <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
        Inscription au restaurant scolaire</xs:documentation>
      <xs:documentation xml:lang="en" source="http://www.cg95.fr/cvq/schema/shortdesc">
        School canteen registration</xs:documentation>
      <xs:appinfo>
        <model namespace="school" />
        <common>
          <namespace name="school" />
          <steps>
            <step index="0" name="registration">
              <widgets>
                <subject />
              </widgets>
            </step>
            <step index="1" name="rules" />
            <step index="2" ref="document" />
            <step index="3" ref="validation" />
          </steps>
        </common>
        <xslfo>
          <blocks-def>
            <block id="0" label="Enfant*" column="2" />
            <block id="1" label="Régime alimentaire*" />
            <block id="2" label="Présence de l'enfant*" />
            <!--<block id="3" label="Frères et soeurs scolarisés*"/>-->
            <block id="4" label="Allergie - Médecin traitant" column="2" />
            <block id="5" label="Responsables légaux" />
            <block id="6" label="Moyen de contact" />
            <block id="7" label="Autorisation d'hospitalisation" />
            <block id="8" label="Règlement intérieur" />
          </blocks-def>
          <element blockId="6" line="0" column="0" link="MeansOfContact"
            prefixLabel="Comment souhaitez-vous être informé ?">
            <complexTemplate />
          </element>
          <element blockId="0" line="1" column="0" columnSpan="2" link="Subject">
            <complexTemplate />
          </element>
          <element blockId="5" line="0" column="0" link="Subject">
            <complexTemplate selectXPath="cvq:LegalResponsible" />
          </element>
        </xslfo>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="cvq:RequestType">
          <xs:sequence>
            <xs:element name="UrgencyPhone" type="cvq:PhoneType">
              <xs:annotation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
                  Téléphone en cas d'urgence
                </xs:documentation>
                <xs:appinfo>
                  <common>
                    <step name="registration" />
                  </common>
                  <fo />
                  <bo column="1" />
                  <xslfo>
                    <element blockId="0" line="2" column="0" columnSpan="1">
                      <string />
                    </element>
                  </xslfo>
                </xs:appinfo>
              </xs:annotation>
            </xs:element>
            <xs:element name="School" type="cvq:SchoolType" minOccurs="0">
              <xs:annotation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
                  L'école dans laquelle est inscrit l'enfant</xs:documentation>
                <xs:documentation xml:lang="en" source="http://www.cg95.fr/cvq/schema/longdesc">
                  The school in which the child is registered</xs:documentation>
                <xs:appinfo>
                  <model namespace="authority" />
                  <common>
                    <step name="registration" />
                  </common>
                  <bo column="2" />
                  <xslfo>
                    <element blockId="0" line="0" column="0">
                      <string selectXPath="cvq:Name" />
                    </element>
                  </xslfo>
                </xs:appinfo>
              </xs:annotation>
            </xs:element>
            <xs:element name="Section" type="cvq:SectionType" default="Unknown">
              <xs:annotation>
                <xs:appinfo>
                  <model namespace="users" />
                  <common>
                    <step name="registration" />
                  </common>
                  <bo column="2" />
                  <xslfo>
                    <element blockId="0" line="0" column="1">
                      <string referential="true" />
                    </element>
                  </xslfo>
                </xs:appinfo>
              </xs:annotation>
            </xs:element>
            <xs:element name="FoodDiet" type="cvq:LocalReferentialDataType" maxOccurs="unbounded">
              <xs:annotation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
                  Informations relatives au régime alimentaire de l'enfant
		        </xs:documentation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
                  Régime alimentaire
		        </xs:documentation>
                <xs:appinfo>
                  <model namespace="users" isTiedToRequest="true" />
                  <common>
                    <step name="registration" />
                  </common>
                  <fo />
                  <bo column="1" />
                  <xslfo>
                    <element blockId="1" line="0" column="0" usePrefixLabel="false">
                      <localReferential />
                    </element>
                  </xslfo>
                </xs:appinfo>
              </xs:annotation>
            </xs:element>
            <xs:element name="CanteenAttendingDays" type="cvq:LocalReferentialDataType"
              maxOccurs="unbounded">
              <xs:annotation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
                  Informations relatives aux jours de présence de l'enfant au restaurant scolaire
		        </xs:documentation>
                <xs:documentation xml:lang="fr"
                  source="http://www.cg95.fr/cvq/schema/shortdesc">
                  Jours de présence
		        </xs:documentation>
                <xs:appinfo>
                  <model namespace="users" isTiedToRequest="true" />
                  <common>
                    <step name="registration" />
                  </common>
                  <fo />
                  <bo column="1" />
                  <xslfo>
                    <element blockId="2" line="0" column="0" usePrefixLabel="false">
                      <localReferential />
                    </element>
                  </xslfo>
                </xs:appinfo>
              </xs:annotation>
            </xs:element>
            <xs:element name="FoodAllergy" type="xs:boolean" default="false">
              <xs:annotation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
                  Allergie
                </xs:documentation>
                <xs:appinfo>
                  <common>
                    <step name="registration" />
                  </common>
                  <fo />
                  <bo column="1" />
                  <xslfo>
                    <element blockId="4" line="0" column="0" columnSpan="2"
                      prefixLabel="Votre enfant présente-t-il une allergie alimentaire ?"
                      footNotice="Si oui, un certificat médical est obligatoire et il est
		              impératif de contacter le service Restaurants Scolaires.">
                      <yesnoCheckbox />
                    </element>
                  </xslfo>
                </xs:appinfo>
              </xs:annotation>
            </xs:element>
            <xs:element name="DoctorName" type="xs:string" minOccurs="0">
              <xs:annotation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
                  Nom du médecin traitant
		        </xs:documentation>
                <xs:appinfo>
                  <common>
                    <step name="registration" />
                  </common>
                  <fo />
                  <bo column="1" />
                  <xslfo>
                    <element blockId="4" line="1" column="0">
                      <string />
                    </element>
                  </xslfo>
                </xs:appinfo>
              </xs:annotation>
            </xs:element>
            <xs:element name="DoctorPhone" type="cvq:PhoneType" minOccurs="0">
              <xs:annotation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
                  Téléphone du médecin traitant
		        </xs:documentation>
                <xs:appinfo>
                  <common>
                    <step name="registration" />
                  </common>
                  <fo />
                  <bo column="1" />
                  <xslfo>
                    <element blockId="4" line="1" column="1">
                      <string />
                    </element>
                  </xslfo>
                </xs:appinfo>
              </xs:annotation>
            </xs:element>
            <xs:element name="HospitalizationPermission" type="cvq:AcceptanceType" default="false">
              <xs:annotation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
                  Autorisation d'hospitalisation de l'enfant
		        </xs:documentation>
                <xs:appinfo>
                  <common>
                    <step name="rules" />
                  </common>
                  <fo />
                  <bo column="1" />
                  <xslfo>
                    <element blockId="7" line="0" column="0">
                      <signature>
                        <acceptMessage index="0">En inscrivant mon enfant (ci-dessus d&#233;sign&#233;) en Restaurant Scolaire, j'autorise les responsables &#224;  prendre toutes les mesures pour le faire soigner, hospitaliser, op&#233;rer si n&#233;cessaire.</acceptMessage>
			            <acceptMessage index="1">JE CERTIFIE que tous les renseignements port&#233;s sur la pr&#233;sente fiche sont exacts, je m'engage &#224;  signaler sans retard tous les changements qui interviendraient.</acceptMessage>
			            <rejectMessage index="0">Vous n'avez pas accept&#233; l'autorisation d'hospitalisation</rejectMessage>
		              </signature>
		            </element>
		          </xslfo>
		        </xs:appinfo>
	          </xs:annotation>
	        </xs:element>
	        <xs:element name="RulesAndRegulationsAcceptance" type="cvq:AcceptanceType" default="false">
	          <xs:annotation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
                  Acceptation du règlement intérieur
		        </xs:documentation>
		        <xs:appinfo>
                  <common>
                    <step name="rules" />
                  </common>
                  <fo />
                  <bo column="1" />
                  <xslfo>
                    <element blockId="8" line="0" column="0">
                      <signature>
                        <acceptMessage index="0">J'ai pris parfaite connaissance du r&#232;glement int&#233;rieur de la restauration scolaire qui accompagne cette fiche.</acceptMessage>
                        <rejectMessage index="0">Vous n'avez pas accept&#233; le r&#233;glement int&#233;rieur</rejectMessage>
                      </signature>
                    </element>
                  </xslfo>
                </xs:appinfo>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>

</xs:schema>
