Generator/src/xml/schemas/request/StudyGrantRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="http://www.cg95.fr/cvq/schema/sgr"
  xmlns:sgr="http://www.cg95.fr/cvq/schema/sgr"
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns:cvq="http://www.cg95.fr/cvq/schema/common"
  elementFormDefault="qualified"
  attributeFormDefault="unqualified">
  
  <xs:import namespace="http://www.cg95.fr/cvq/schema/common"
    schemaLocation="../common/CVQCommonElements.xsd" />
    
  <xs:element name="StudyGrantRequest">
    <xs:annotation>
      <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
        Demande de bourse Mobil'Etudes
      </xs:documentation>
      <xs:documentation xml:lang="en" source="http://www.cg95.fr/cvq/schema/longdesc">
        Study grant request
      </xs:documentation>
      <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
        Bourse Mobil'Etudes
      </xs:documentation>
      <xs:documentation xml:lang="en" source="http://www.cg95.fr/cvq/schema/shortdesc">
        Study grant request
      </xs:documentation>
      <xs:appinfo>
        <model namespace="school" />
        <common>
          <namespace name="school" />
          <steps>
            <step index="0" name="subject">
              <widgets>
                <subject into="SubjectInformations">
                  <autofill name="subjectFilling" type="trigger" />
                </subject>
              </widgets>
            </step>
            <step index="1" name="taxHousehold">
              <conditions>
                <condition name="isTaxHouseholdCityOther" />
              </conditions>
            </step>
            <step index="2" name="otherHelps" />
            <step index="3" name="currentStudies">
              <conditions>
                <condition name="isCurrentSchoolNameOther" />
                <condition name="isInOtherStudies" />
                <condition name="makesAbroadInternship" />
              </conditions>
            </step>
            <step index="4" name="calculationElements" />
            <step index="5" name="bankReference">
              <conditions>
                <condition name="isSubjectAccountHolder" />
              </conditions>
            </step>
            <step index="6" ref="document" />
            <step index="7" ref="validation" />
          </steps>
        </common>
        <xslfo>
          <blocks-def>
            <block id="0" column="2" label="État civil de l'étudiant" />
            <block id="1" column="2" label="Foyer fiscal de référence" />
            <block id="2" column="2" label="Autres aides obtenues" />
            <block id="3" column="2" label="Établissement scolaire d'inscription" />
            <block id="4" column="2" label="Précisions sur le diplôme préparé" 
            	displayCondition="//sgr:CurrentStudies/text() = 'otherStudies'" />
            <block id="5" column="2" label="Renseignements sur le stage à l'étranger" 
            	displayCondition="//sgr:AbroadInternship" />
            <block id="6" column="2" label="Éléments de calcul de la bourse" />
            <block id="7" column="2" label="Références bancaires de l'étudiant" />
            <block id="8" label="Moyen de contact*" />
          </blocks-def>
          <element blockId="0" line="0" column="0" columnSpan="2" link="Subject">
            <complexTemplate />
          </element>
          <element blockId="8" line="0" column="0" link="MeansOfContact"
            prefixLabel="Comment souhaitez-vous être informé ?">
            <complexTemplate />
          </element>
        </xslfo>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="cvq:RequestType">
          <xs:sequence>
            <xs:element name="SubjectInformations" type="sgr:SubjectInformationsType">
              <xs:annotation>
                <xs:appinfo>
                  <common>
                    <step name="subject" />
                  </common>
                  <xslfo>
                    <element blockId="0" line="1" column="0">
                      <localComplexElement />
                    </element>
                  </xslfo>
                  <fo />
                  <bo column="1" />
                </xs:appinfo>
              </xs:annotation>
            </xs:element>
            <xs:element name="TaxHouseholdLastName" type="cvq:LastNameType">
              <xs:annotation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
                  Nom
                </xs:documentation>
                <xs:documentation xml:lang="en" source="http://www.cg95.fr/cvq/schema/longdesc">
                  Last name
                </xs:documentation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
                  Nom
                </xs:documentation>
                <xs:documentation xml:lang="en" source="http://www.cg95.fr/cvq/schema/shortdesc">
                  Last name
                </xs:documentation>
                <xs:appinfo>
                  <model namespace="users" />
                  <common>
                    <step name="taxHousehold" />
                  </common>
                  <xslfo>
                    <element blockId="1" line="0" column="0">
                      <string />
                    </element>
                  </xslfo>
                  <fo />
                  <bo column="1" />
                </xs:appinfo>
              </xs:annotation>
            </xs:element>
            <xs:element name="TaxHouseholdFirstName" type="cvq:FirstNameType">
              <xs:annotation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
                  Prénom
                </xs:documentation>
                <xs:documentation xml:lang="en" source="http://www.cg95.fr/cvq/schema/longdesc">
                  First name
                </xs:documentation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
                  Prénom
                </xs:documentation>
                <xs:documentation xml:lang="en" source="http://www.cg95.fr/cvq/schema/shortdesc">
                  First name
                </xs:documentation>
                <xs:appinfo>
                  <model namespace="users" />
                  <common>
                    <step name="taxHousehold" />
                  </common>
                  <xslfo>
                    <element blockId="1" line="0" column="1">
                      <string />
                    </element>
                  </xslfo>
                  <fo />
                  <bo column="1" />
                </xs:appinfo>
              </xs:annotation>
            </xs:element>
            <xs:element name="TaxHouseholdCity" type="cvq:LocalReferentialDataType" maxOccurs="unbounded">
              <xs:annotation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
                  Commune
                </xs:documentation>
                <xs:documentation xml:lang="en" source="http://www.cg95.fr/cvq/schema/longdesc">
                  City
                </xs:documentation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
                  Commune
                </xs:documentation>
                <xs:documentation xml:lang="en" source="http://www.cg95.fr/cvq/schema/shortdesc">
                  City
                </xs:documentation>
                <xs:appinfo>
                  <model namespace="users" isTiedToRequest="true" />
                  <common>
                    <step name="taxHousehold" />
                    <conditions>
                      <condition name="isTaxHouseholdCityOther" type="trigger" />
                    </conditions>
                  </common>
                  <xslfo>
                    <element blockId="1" line="1" column="0">
                      <localReferential />
                    </element>
                  </xslfo>
                  <fo />
                  <bo column="1" />
                </xs:appinfo>
              </xs:annotation>
            </xs:element>
            <xs:element name="TaxHouseholdCityPrecision" type="xs:string" minOccurs="0">
              <xs:annotation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
                  Précisez la commune
                </xs:documentation>
                <xs:documentation xml:lang="en" source="http://www.cg95.fr/cvq/schema/longdesc">
                  Specify city
                </xs:documentation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
                  Précisez la commune
                </xs:documentation>
                <xs:documentation xml:lang="en" source="http://www.cg95.fr/cvq/schema/shortdesc">
                  Specify city
                </xs:documentation>
                <xs:appinfo>
                  <model namespace="users" />
                  <common>
                    <step name="taxHousehold" />
                    <conditions>
                      <condition name="isTaxHouseholdCityOther" type="filled" required="true" />
                    </conditions>
                  </common>
                  <xslfo>
                    <element blockId="1" line="2" column="0">
                      <string />
                    </element>
                  </xslfo>
                  <fo />
                  <bo column="1" />
                </xs:appinfo>
              </xs:annotation>
            </xs:element>
            <xs:element name="TaxHouseholdIncome" type="xs:double">
              <xs:annotation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
                  Revenu brut global pour l'année 2007 et inférieur à 32 000 euros
                </xs:documentation>
                <xs:documentation xml:lang="en" source="http://www.cg95.fr/cvq/schema/longdesc">
                  Global gross income for 2007 and less than 32,000 euros
                </xs:documentation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
                  Revenu brut global pour l'année 2007 et inférieur à 32 000 euros
                </xs:documentation>
                <xs:documentation xml:lang="en" source="http://www.cg95.fr/cvq/schema/shortdesc">
                  Global gross income for 2007 and less than 32,000 euros
                </xs:documentation>
                <xs:appinfo>
                  <model namespace="users" />
                  <common>
                    <step name="taxHousehold" />
                    <validation jsregexp="^\d+(?:\.\d{1,2})?$" />
                  </common>
                  <xslfo>
                    <element blockId="1" line="3" column="0">
                      <string />
                    </element>
                  </xslfo>
                  <fo />
                  <bo column="1" />
                </xs:appinfo>
              </xs:annotation>
            </xs:element>
            <xs:element name="HasCROUSHelp" type="xs:boolean">
              <xs:annotation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
                  CROUS
                </xs:documentation>
                <xs:documentation xml:lang="en" source="http://www.cg95.fr/cvq/schema/longdesc">
                  CROUS
                </xs:documentation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
                  CROUS
                </xs:documentation>
                <xs:documentation xml:lang="en" source="http://www.cg95.fr/cvq/schema/shortdesc">
                  CROUS
                </xs:documentation>
                <xs:appinfo>
                  <common>
                    <step name="otherHelps" />
                  </common>
                  <xslfo>
                    <element blockId="2" line="0" column="0">
                      <yesnoCheckbox />
                    </element>
                  </xslfo>
                  <fo />
                  <bo column="1" />
                </xs:appinfo>
              </xs:annotation>
            </xs:element>
            <xs:element name="HasRegionalCouncilHelp" type="xs:boolean">
              <xs:annotation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
                  Conseil Régional
                </xs:documentation>
                <xs:documentation xml:lang="en" source="http://www.cg95.fr/cvq/schema/longdesc">
                  Regional Council
                </xs:documentation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
                  Conseil Régional
                </xs:documentation>
                <xs:documentation xml:lang="en" source="http://www.cg95.fr/cvq/schema/shortdesc">
                  Regional Council
                </xs:documentation>
                <xs:appinfo>
                  <common>
                    <step name="otherHelps" />
                  </common>
                  <xslfo>
                    <element blockId="2" line="1" column="0">
                      <yesnoCheckbox />
                    </element>
                  </xslfo>
                  <fo />
                  <bo column="1" />
                </xs:appinfo>
              </xs:annotation>
            </xs:element>
            <xs:element name="HasEuropeHelp" type="xs:boolean">
              <xs:annotation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
                  Europe
                </xs:documentation>
                <xs:documentation xml:lang="en" source="http://www.cg95.fr/cvq/schema/longdesc">
                  Europe
                </xs:documentation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
                  Europe
                </xs:documentation>
                <xs:documentation xml:lang="en" source="http://www.cg95.fr/cvq/schema/shortdesc">
                  Europe
                </xs:documentation>
                <xs:appinfo>
                  <common>
                    <step name="otherHelps" />
                  </common>
                  <xslfo>
                    <element blockId="2" line="2" column="0">
                      <yesnoCheckbox />
                    </element>
                  </xslfo>
                  <fo />
                  <bo column="2" />
                </xs:appinfo>
              </xs:annotation>
            </xs:element>
            <xs:element name="HasOtherHelp" type="xs:boolean">
              <xs:annotation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
                  Autres (Établissement...)
                </xs:documentation>
                <xs:documentation xml:lang="en" source="http://www.cg95.fr/cvq/schema/longdesc">
                  Others (School...)
                </xs:documentation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
                  Autres (Établissement ...)
                </xs:documentation>
                <xs:documentation xml:lang="en" source="http://www.cg95.fr/cvq/schema/shortdesc">
                  Others (School...)
                </xs:documentation>
                <xs:appinfo>
                  <common>
                    <step name="otherHelps" />
                  </common>
                  <xslfo>
                    <element blockId="2" line="3" column="0">
                      <yesnoCheckbox />
                    </element>
                  </xslfo>
                  <fo />
                  <bo column="2" />
                </xs:appinfo>
              </xs:annotation>
            </xs:element>
            <xs:element name="CurrentSchool" type="sgr:SgrCurrentSchoolType" minOccurs="0">
              <xs:annotation>
                <xs:appinfo>
                  <common>
                    <step name="currentStudies" />
                  </common>
                  <xslfo>
                    <element blockId="3" line="0" column="0">
                      <localComplexElement />
                    </element>
                  </xslfo>
                  <fo />
                  <bo column="1" />
                </xs:appinfo>
              </xs:annotation>
            </xs:element>
            <xs:element name="ALevelsInformations" type="sgr:ALevelsInformationsType">
              <xs:annotation>
                <xs:appinfo>
                  <common>
                    <step name="currentStudies" />
                  </common>
                  <xslfo>
                    <element blockId="3" line="5" column="0">
                      <localComplexElement />
                    </element>
                  </xslfo>
                  <fo />
                  <bo column="1" />
                </xs:appinfo>
              </xs:annotation>
            </xs:element>
            <xs:element name="CurrentStudiesInformations" type="sgr:CurrentStudiesInformationsType" minOccurs="0">
              <xs:annotation>
                <xs:appinfo>
                  <common>
                    <step name="currentStudies" />
                  </common>
                  <xslfo>
                    <element blockId="3" line="7" column="0">
                      <localComplexElement />
                    </element>
                  </xslfo>
                  <fo />
                  <bo column="2" />
                </xs:appinfo>
              </xs:annotation>
            </xs:element>
            <xs:element name="Distance" type="sgr:DistanceType">
              <xs:annotation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
                  Lieu d'études ou de stage situé à
                </xs:documentation>
                <xs:documentation xml:lang="en" source="http://www.cg95.fr/cvq/schema/longdesc">
                  Distance between home and school or internship
                </xs:documentation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
                  Lieu d'études ou de stage situé à
                </xs:documentation>
                <xs:documentation xml:lang="en" source="http://www.cg95.fr/cvq/schema/shortdesc">
                  Distance between home and school or internship
                </xs:documentation>
                <xs:appinfo>
                  <common>
                    <step name="calculationElements" />
                  </common>
                  <xslfo>
                    <element blockId="6" line="0" column="0">
                      <varargCheckbox displayModulo="2"/>
                    </element>
                  </xslfo>
                  <fo />
                  <bo column="1" />
                </xs:appinfo>
              </xs:annotation>
            </xs:element>
            <xs:element name="IsSubjectAccountHolder" type="xs:boolean" default="true">
              <xs:annotation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
                  Etes-vous titulaire du compte ?
                </xs:documentation>
                <xs:documentation xml:lang="en" source="http://www.cg95.fr/cvq/schema/longdesc">
                  Are you Account holder ?
                </xs:documentation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
                  Etes-vous titulaire du compte ?
                </xs:documentation>
                <xs:documentation xml:lang="en" source="http://www.cg95.fr/cvq/schema/shortdesc">
                  Are you Account holder ?
                </xs:documentation>
                <xs:appinfo>
                  <common>
                    <step name="bankReference" />
                    <conditions>
                      <condition name="isSubjectAccountHolder" type="trigger" />
                    </conditions>
                  </common>
                  <xslfo>
                    <element blockId="7" line="0" column="0">
                      <yesnoCheckbox />
                    </element>
                  </xslfo>
                  <fo />
                  <bo column="1" />
                </xs:appinfo>
              </xs:annotation>
            </xs:element>
            <xs:element name="AccountHolderTitle" type="cvq:TitleType" minOccurs="0">
              <xs:annotation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
                  Civilité du titulaire du compte
                </xs:documentation>
                <xs:documentation xml:lang="en" source="http://www.cg95.fr/cvq/schema/longdesc">
                  Account holder title
                </xs:documentation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
                  Civilité du titulaire du compte
                </xs:documentation>
                <xs:documentation xml:lang="en" source="http://www.cg95.fr/cvq/schema/shortdesc">
                  Account holder title
                </xs:documentation>
                <xs:appinfo>
                  <model namespace="users" />
                  <common>
                    <step name="bankReference" />
                    <conditions>
                      <condition name="isSubjectAccountHolder" type="unfilled" required="true" />
                    </conditions>
                  </common>
                  <xslfo>
                    <element blockId="7" line="1" column="0">
                      <varargCheckbox displayModulo="2"/>
                    </element>
                  </xslfo>
                  <fo />
                  <bo column="1" />
                </xs:appinfo>
              </xs:annotation>
            </xs:element>
            <xs:element name="AccountHolderLastName" type="cvq:LastNameType" minOccurs="0">
              <xs:annotation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
                  Nom du titulaire du compte
                </xs:documentation>
                <xs:documentation xml:lang="en" source="http://www.cg95.fr/cvq/schema/longdesc">
                  Account holder lastname
                </xs:documentation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
                  Nom du titulaire du compte
                </xs:documentation>
                <xs:documentation xml:lang="en" source="http://www.cg95.fr/cvq/schema/shortdesc">
                  Account holder lastname
                </xs:documentation>
                <xs:appinfo>
                  <model namespace="users" />
                  <common>
                    <step name="bankReference" />
                    <conditions>
                      <condition name="isSubjectAccountHolder" type="unfilled" required="true" />
                    </conditions>
                  </common>
                  <xslfo>
                    <element blockId="7" line="2" column="0">
                      <string />
                    </element>
                  </xslfo>
                  <fo />
                  <bo column="1" />
                </xs:appinfo>
              </xs:annotation>
            </xs:element>
            <xs:element name="AccountHolderFirstName" type="cvq:FirstNameType" minOccurs="0">
              <xs:annotation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
                  Prénom du titulaire du compte
                </xs:documentation>
                <xs:documentation xml:lang="en" source="http://www.cg95.fr/cvq/schema/longdesc">
                  Account holder firstname
                </xs:documentation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
                  Prénom du titulaire du compte
                </xs:documentation>
                <xs:documentation xml:lang="en" source="http://www.cg95.fr/cvq/schema/shortdesc">
                  Account holder firstname
                </xs:documentation>
                <xs:appinfo>
                  <model namespace="users" />
                  <common>
                    <step name="bankReference" />
                    <conditions>
                      <condition name="isSubjectAccountHolder" type="unfilled" required="true" />
                    </conditions>
                  </common>
                  <xslfo>
                    <element blockId="7" line="2" column="1">
                      <string />
                    </element>
                  </xslfo>
                  <fo />
                  <bo column="1" />
                </xs:appinfo>
              </xs:annotation>
            </xs:element>
            <xs:element name="AccountHolderBirthDate" type="xs:date" minOccurs="0">
              <xs:annotation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
                  Date de naissance du titulaire du compte
                </xs:documentation>
                <xs:documentation xml:lang="en" source="http://www.cg95.fr/cvq/schema/longdesc">
                  Account holder birth date
                </xs:documentation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
                  Date de naissance du titulaire du compte
                </xs:documentation>
                <xs:documentation xml:lang="en" source="http://www.cg95.fr/cvq/schema/shortdesc">
                  Account holder birth date
                </xs:documentation>
                <xs:appinfo>
                  <common>
                    <step name="bankReference" />
                    <conditions>
                      <condition name="isSubjectAccountHolder" type="unfilled" required="true" />
                    </conditions>
                  </common>
                  <xslfo>
                    <element blockId="7" line="3" column="0">
                      <simpleTemplate templateName="cvq:DisplayDate" templateParam="DateToDisplay" />
                    </element>
                  </xslfo>
                  <fo />
                  <bo column="1" />
                </xs:appinfo>
              </xs:annotation>
            </xs:element>
            <xs:element name="AccountHolderEdemandeId" type="xs:string">
              <xs:annotation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
                  Identifiant Edemande du titulaire du compte
                </xs:documentation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
                  Identifiant Edemande du titulaire du compte
                </xs:documentation>
                <xs:documentation xml:lang="en" source="http://www.cg95.fr/cvq/schema/longdesc">
                  Edemande account holder ID
                </xs:documentation>
                <xs:documentation xml:lang="en" source="http://www.cg95.fr/cvq/schema/shortdesc">
                  Edemande account holder ID
                </xs:documentation>
                <xs:appinfo>
                </xs:appinfo>
              </xs:annotation>
            </xs:element>
            <xs:element name="BankCode">
              <xs:annotation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
                  Code banque
                </xs:documentation>
                <xs:documentation xml:lang="en" source="http://www.cg95.fr/cvq/schema/longdesc">
                  Bank code
                </xs:documentation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
                  Code banque
                </xs:documentation>
                <xs:documentation xml:lang="en" source="http://www.cg95.fr/cvq/schema/shortdesc">
                  Bank code
                </xs:documentation>
                <xs:appinfo>
                  <common>
                    <step name="bankReference" />
                    <validation jsregexp="^\d{1,5}$" />
                  </common>
                  <xslfo>
                    <element blockId="7" line="4" column="0">
                      <string />
                    </element>
                  </xslfo>
                  <fo />
                  <bo column="1" />
                </xs:appinfo>
              </xs:annotation>
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:maxLength value="5" />
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element name="CounterCode">
              <xs:annotation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
                  Code guichet
                </xs:documentation>
                <xs:documentation xml:lang="en" source="http://www.cg95.fr/cvq/schema/longdesc">
                  Couter code
                </xs:documentation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
                  Code guichet
                </xs:documentation>
                <xs:documentation xml:lang="en" source="http://www.cg95.fr/cvq/schema/shortdesc">
                  Counter code
                </xs:documentation>
                <xs:appinfo>
                  <common>
                    <step name="bankReference" />
                    <validation jsregexp="^\d{1,5}$" />
                  </common>
                  <xslfo>
                    <element blockId="7" line="4" column="1">
                      <string />
                    </element>
                  </xslfo>
                  <fo />
                  <bo column="1" />
                </xs:appinfo>
              </xs:annotation>
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:maxLength value="5" />
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element name="AccountNumber">
              <xs:annotation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
                  Numéro de compte
                </xs:documentation>
                <xs:documentation xml:lang="en" source="http://www.cg95.fr/cvq/schema/longdesc">
                  Account number
                </xs:documentation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
                  Numéro de compte
                </xs:documentation>
                <xs:documentation xml:lang="en" source="http://www.cg95.fr/cvq/schema/shortdesc">
                  Account number
                </xs:documentation>
                <xs:appinfo>
                  <common>
                    <step name="bankReference" />
                    <validation jsregexp="^[a-zA-Z0-9]{1,11}$" />
                  </common>
                  <xslfo>
                    <element blockId="7" line="5" column="0">
                      <string />
                    </element>
                  </xslfo>
                  <fo />
                  <bo column="1" />
                </xs:appinfo>
              </xs:annotation>
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:maxLength value="11" />
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element name="AccountKey">
              <xs:annotation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
                  Clé RIB
                </xs:documentation>
                <xs:documentation xml:lang="en" source="http://www.cg95.fr/cvq/schema/longdesc">
                  Account key
                </xs:documentation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
                  Clé RIB
                </xs:documentation>
                <xs:documentation xml:lang="en" source="http://www.cg95.fr/cvq/schema/shortdesc">
                  Account key
                </xs:documentation>
                <xs:appinfo>
                  <common>
                    <step name="bankReference" />
                    <validation jsregexp="^\d{1,2}$" />
                  </common>
                  <xslfo>
                    <element blockId="7" line="5" column="1">
                      <string />
                    </element>
                  </xslfo>
                  <fo />
                  <bo column="1" />
                </xs:appinfo>
              </xs:annotation>
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:maxLength value="2" />
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element name="EdemandeId" type="xs:string">
              <xs:annotation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
                  Identifiant Edemande du téléservice
                </xs:documentation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
                  Identifiant Edemande du téléservice
                </xs:documentation>
                <xs:documentation xml:lang="en" source="http://www.cg95.fr/cvq/schema/longdesc">
                  Edemande request ID
                </xs:documentation>
                <xs:documentation xml:lang="en" source="http://www.cg95.fr/cvq/schema/shortdesc">
                  Edemande request ID
                </xs:documentation>
                <xs:appinfo>
                </xs:appinfo>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  
  <xs:simpleType name="DistanceType">
    <xs:annotation>
      <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/translation/enum">
        <enum key="lessThan30kms" value="Moins de 30 kms du domicile" />
        <enum key="between30and250kms" value="Entre 30 et 250 kms du domicile" />
        <enum key="moreThan250kmsAndAbroad" value="Plus de 250 kms du domicile et à l’international" />
      </xs:documentation>
      <xs:documentation xml:lang="en" source="http://www.cg95.fr/cvq/schema/translation/enum">
        <enum key="lessThan30kms" value="Less than 30 kms from home" />
        <enum key="between30and250kms" value="Between 30 and 250 kms from home" />
        <enum key="moreThan250kmsAndAbroad" value="More than 250 kms from home and abroad" />
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="lessThan30kms"></xs:enumeration>
      <xs:enumeration value="between30and250kms"></xs:enumeration>
      <xs:enumeration value="moreThan250kmsAndAbroad"></xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  
  <xs:simpleType name="ALevelsType">
    <xs:annotation>
      <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/translation/enum">
        <enum key="es" value="Économique et social (ES)" />
        <enum key="l" value="Littéraire (L)" />
        <enum key="s" value="Scientifique (S)" />
        <enum key="stg" value="Sciences et technologies de la gestion (S.T.G.)" />
        <enum key="sti" value="Sciences et technologies industrielles (S.T.I.)" />
        <enum key="stl" value="Sciences et technologies de laboratoire (S.T.L.)" />
        <enum key="st2s" value="Sciences et technologies de la santé et du social (ST2S)" />
        <enum key="stav" value="Sciences et technologies de l'agronomie et du vivant (S.T.A.V.)" />
        <enum key="tmd" value="Techniques de la musique et de la danse (T.M.D.)" />
        <enum key="h" value="Hôtellerie" />
        <enum key="p" value="Professionnel" />
      </xs:documentation>
      <xs:documentation xml:lang="en" source="http://www.cg95.fr/cvq/schema/translation/enum">
        <enum key="es" value="Economics and social sciences (ES)" />
        <enum key="l" value="Literature (L)" />
        <enum key="s" value="Sciences (S)" />
        <enum key="stg" value="Management sciences and technologies (S.T.G.)" />
        <enum key="sti" value="Industrial sciences and technologies (S.T.I.)" />
        <enum key="stl" value="Laboratory sciences and technologies (S.T.L.)" />
        <enum key="st2s" value="Health and social sciences and technologies (ST2S)" />
        <enum key="stav" value="Living and agronomye sciences and technologies (S.T.A.V.)" />
        <enum key="tmd" value="Music and dance techniques (T.M.D.)" />
        <enum key="h" value="Hotel management" />
        <enum key="p" value="Professional" />
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="es"></xs:enumeration>
      <xs:enumeration value="l"></xs:enumeration>
      <xs:enumeration value="s"></xs:enumeration>
      <xs:enumeration value="stg"></xs:enumeration>
      <xs:enumeration value="sti"></xs:enumeration>
      <xs:enumeration value="stl"></xs:enumeration>
      <xs:enumeration value="st2s"></xs:enumeration>
      <xs:enumeration value="stav"></xs:enumeration>
      <xs:enumeration value="tmd"></xs:enumeration>
      <xs:enumeration value="h"></xs:enumeration>
      <xs:enumeration value="p"></xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  
  <xs:simpleType name="CurrentStudiesType">
    <xs:annotation>
      <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/translation/enum">
        <enum key="licence" value="Licence" />
        <enum key="licencePro" value="Licence Pro" />
        <enum key="master" value="Master" />
        <enum key="bts" value="BTS" />
        <enum key="dut" value="DUT" />
        <enum key="otherStudies" value="Autre" />
      </xs:documentation>
      <xs:documentation xml:lang="en" source="http://www.cg95.fr/cvq/schema/translation/enum">
        <enum key="licence" value="Licence" />
        <enum key="licencePro" value="Licence Pro" />
        <enum key="master" value="Master" />
        <enum key="bts" value="BTS" />
        <enum key="dut" value="DUT" />
        <enum key="otherStudies" value="Other" />
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="licence"></xs:enumeration>
      <xs:enumeration value="licencePro"></xs:enumeration>
      <xs:enumeration value="master"></xs:enumeration>
      <xs:enumeration value="bts"></xs:enumeration>
      <xs:enumeration value="dut"></xs:enumeration>
      <xs:enumeration value="otherStudies"></xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  
  <xs:simpleType name="CurrentStudiesLevelType">
    <xs:annotation>
      <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/translation/enum">
        <enum key="firstYear" value="1ère année" />
        <enum key="secondYear" value="2ème année" />
        <enum key="thirdYear" value="3ème année" />
      </xs:documentation>
      <xs:documentation xml:lang="en" source="http://www.cg95.fr/cvq/schema/translation/enum">
        <enum key="firstYear" value="1st year" />
        <enum key="secondYear" value="2nd year" />
        <enum key="thirdYear" value="3rd year" />
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="firstYear"></xs:enumeration>
      <xs:enumeration value="secondYear"></xs:enumeration>
      <xs:enumeration value="thirdYear"></xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  
  <xs:complexType name="SubjectInformationsType">
    <xs:annotation>
      <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
        Informations concernant l'étudiant
      </xs:documentation>
      <xs:documentation xml:lang="en" source="http://www.cg95.fr/cvq/schema/longdesc">
        Information about student
      </xs:documentation>
      <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
        Informations concernant l'étudiant
      </xs:documentation>
      <xs:documentation xml:lang="en" source="http://www.cg95.fr/cvq/schema/shortdesc">
        Information about student
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="SubjectAddress" type="cvq:AddressType">
        <xs:annotation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
            Adresse
          </xs:documentation>
          <xs:documentation xml:lang="en" source="http://www.cg95.fr/cvq/schema/longdesc">
            Address
          </xs:documentation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
            Adresse
          </xs:documentation>
          <xs:documentation xml:lang="en" source="http://www.cg95.fr/cvq/schema/shortdesc">
            Address
          </xs:documentation>
          <xs:appinfo>
            <model namespace="users" isTiedToRequest="true" />
            <common>
              <step name="subject" />
              <autofill name="subjectFilling" type="listener" field="Adress" />
            </common>
            <xslfo>
              <element blockId="0" line="1" column="0">
                <complexTemplate />
              </element>
            </xslfo>
            <fo />
            <bo column="1" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="SubjectPhone" type="cvq:PhoneType"  minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
            Téléphone fixe
          </xs:documentation>
          <xs:documentation xml:lang="en" source="http://www.cg95.fr/cvq/schema/longdesc">
            Phone
          </xs:documentation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
            Téléphone fixe
          </xs:documentation>
          <xs:documentation xml:lang="en" source="http://www.cg95.fr/cvq/schema/shortdesc">
            Phone
          </xs:documentation>
          <xs:appinfo>
            <model namespace="users" />
            <common>
              <step name="subject" />
              <autofill name="subjectFilling" type="listener" field="HomePhone" />
            </common>
            <xslfo>
              <element blockId="0" line="1" column="0">
                <string />
              </element>
            </xslfo>
            <fo />
            <bo column="1" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="SubjectMobilePhone" type="cvq:PhoneType" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
            Téléphone mobile
          </xs:documentation>
          <xs:documentation xml:lang="en" source="http://www.cg95.fr/cvq/schema/longdesc">
            Mobile phone
          </xs:documentation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
            Téléphone mobile
          </xs:documentation>
          <xs:documentation xml:lang="en" source="http://www.cg95.fr/cvq/schema/shortdesc">
            Mobile phone
          </xs:documentation>
          <xs:appinfo>
            <model namespace="users" />
            <common>
              <step name="subject" />
              <autofill name="subjectFilling" type="listener" field="MobilePhone" />
            </common>
            <xslfo>
              <element blockId="0" line="1" column="1">
                <string />
              </element>
            </xslfo>
            <fo />
            <bo column="1" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="SubjectEmail" type="cvq:EmailType" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
            Courriel
          </xs:documentation>
          <xs:documentation xml:lang="en" source="http://www.cg95.fr/cvq/schema/longdesc">
            Email
          </xs:documentation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
            Courriel
          </xs:documentation>
          <xs:documentation xml:lang="en" source="http://www.cg95.fr/cvq/schema/shortdesc">
            Email
          </xs:documentation>
          <xs:appinfo>
            <model namespace="users" />
            <common>
              <step name="subject" />
              <autofill name="subjectFilling" type="listener" field="Email" />
            </common>
            <xslfo>
              <element blockId="0" line="2" column="0">
                <string />
              </element>
            </xslfo>
            <fo />
            <bo column="1" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="SubjectBirthDate" type="xs:date">
        <xs:annotation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
            Date de naissance
          </xs:documentation>
          <xs:documentation xml:lang="en" source="http://www.cg95.fr/cvq/schema/longdesc">
            Date of birth
          </xs:documentation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
            Date de naissance
          </xs:documentation>
          <xs:documentation xml:lang="en" source="http://www.cg95.fr/cvq/schema/shortdesc">
            Date of birth
          </xs:documentation>
          <xs:appinfo>
            <common>
              <step name="subject" />
              <autofill name="subjectFilling" type="listener" field="BirthDate" />
            </common>
            <xslfo>
              <element blockId="0" line="3" column="0">
                <simpleTemplate templateName="cvq:DisplayDate" templateParam="DateToDisplay" />
              </element>
            </xslfo>
            <fo />
            <bo column="1" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="SubjectFirstRequest" type="xs:boolean" default="true">
        <xs:annotation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
            Première demande
          </xs:documentation>
          <xs:documentation xml:lang="en" source="http://www.cg95.fr/cvq/schema/longdesc">
            First request
          </xs:documentation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
            Première demande
          </xs:documentation>
          <xs:documentation xml:lang="en" source="http://www.cg95.fr/cvq/schema/shortdesc">
            First request
          </xs:documentation>
          <xs:appinfo>
            <common>
              <step name="subject" />
            </common>
            <xslfo>
              <element blockId="0" line="4" column="0">
                <yesnoCheckbox />
              </element>
            </xslfo>
            <fo />
            <bo column="1" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="ALevelsInformationsType">
    <xs:annotation>
      <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
        Baccalauréat
      </xs:documentation>
      <xs:documentation xml:lang="en" source="http://www.cg95.fr/cvq/schema/longdesc">
        A Levels
      </xs:documentation>
      <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
        Baccalauréat
      </xs:documentation>
      <xs:documentation xml:lang="en" source="http://www.cg95.fr/cvq/schema/shortdesc">
        A Levels
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="AlevelsDate">
        <xs:annotation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
            Année d'obtention du baccalauréat
          </xs:documentation>
          <xs:documentation xml:lang="en" source="http://www.cg95.fr/cvq/schema/longdesc">
            A Levels obtaining year
          </xs:documentation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
            Année d'obtention du baccalauréat
          </xs:documentation>
          <xs:documentation xml:lang="en" source="http://www.cg95.fr/cvq/schema/shortdesc">
            A Levels obtaining year
          </xs:documentation>
          <xs:appinfo>
            <common>
              <step name="currentStudies" />
              <validation jsregexp="^\d{2,4}$" />
            </common>
            <xslfo>
              <element blockId="3" line="5" column="0">
                <string />
              </element>
            </xslfo>
            <fo />
            <bo column="1" />
          </xs:appinfo>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="4" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="Alevels" type="sgr:ALevelsType">
        <xs:annotation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
            Type de baccalauréat
          </xs:documentation>
          <xs:documentation xml:lang="en" source="http://www.cg95.fr/cvq/schema/longdesc">
            A Levels type
          </xs:documentation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
            Type de baccalauréat
          </xs:documentation>
          <xs:documentation xml:lang="en" source="http://www.cg95.fr/cvq/schema/shortdesc">
            A Levels type
          </xs:documentation>
          <xs:appinfo>
            <common>
              <step name="currentStudies" />
            </common>
            <xslfo>
              <element blockId="3" line="6" column="0">
                <varargCheckbox displayModulo="3"/>
              </element>
            </xslfo>
            <fo />
            <bo column="1" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="CurrentStudiesInformationsType">
    <xs:annotation>
      <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
        Études supérieures
      </xs:documentation>
      <xs:documentation xml:lang="en" source="http://www.cg95.fr/cvq/schema/longdesc">
        Higher education
      </xs:documentation>
      <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
        Études supérieures
      </xs:documentation>
      <xs:documentation xml:lang="en" source="http://www.cg95.fr/cvq/schema/shortdesc">
        Higher education
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="CurrentStudies" type="sgr:CurrentStudiesType">
        <xs:annotation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
            Diplôme préparé
          </xs:documentation>
          <xs:documentation xml:lang="en" source="http://www.cg95.fr/cvq/schema/longdesc">
            Prepared diploma
          </xs:documentation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
            Diplôme préparé
          </xs:documentation>
          <xs:documentation xml:lang="en" source="http://www.cg95.fr/cvq/schema/shortdesc">
            Prepared diploma
          </xs:documentation>
          <xs:appinfo>
            <common>
              <step name="currentStudies" />
              <conditions>
                <condition name="isInOtherStudies" type="trigger" />
              </conditions>
            </common>
            <xslfo>
              <element blockId="3" line="7" column="0">
                <varargCheckbox displayModulo="3"/>
              </element>
            </xslfo>
            <fo />
            <bo column="1" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="OtherStudiesLabel" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
            Précisez
          </xs:documentation>
          <xs:documentation xml:lang="en" source="http://www.cg95.fr/cvq/schema/longdesc">
            Specify
          </xs:documentation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
            Précisez
          </xs:documentation>
          <xs:documentation xml:lang="en" source="http://www.cg95.fr/cvq/schema/shortdesc">
            Specify
          </xs:documentation>
          <xs:appinfo>
            <common>
              <step name="currentStudies" />
              <conditions>
                <condition name="isInOtherStudies" type="filled" required="true" />
              </conditions>
            </common>
            <xslfo>
              <element blockId="4" line="0" column="0">
                <string />
              </element>
            </xslfo>
            <fo />
            <bo column="2" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="CurrentStudiesLevel" type="sgr:CurrentStudiesLevelType">
        <xs:annotation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
            Niveau
          </xs:documentation>
          <xs:documentation xml:lang="en" source="http://www.cg95.fr/cvq/schema/longdesc">
            Level
          </xs:documentation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
            Niveau
          </xs:documentation>
          <xs:documentation xml:lang="en" source="http://www.cg95.fr/cvq/schema/shortdesc">
            Level
          </xs:documentation>
          <xs:appinfo>
            <common>
              <step name="currentStudies" />
            </common>
            <xslfo>
              <element blockId="3" line="8" column="0">
                <varargCheckbox displayModulo="3"/>
              </element>
            </xslfo>
            <fo />
            <bo column="1" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="SandwichCourses" type="xs:boolean" default="false">
        <xs:annotation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
            Études en alternance
          </xs:documentation>
          <xs:documentation xml:lang="en" source="http://www.cg95.fr/cvq/schema/longdesc">
            Sandwich courses
          </xs:documentation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
            Études en alternance
          </xs:documentation>
          <xs:documentation xml:lang="en" source="http://www.cg95.fr/cvq/schema/shortdesc">
            Sandwich courses
          </xs:documentation>
          <xs:appinfo>
            <common>
              <step name="currentStudies" />
            </common>
            <xslfo>
              <element blockId="3" line="9" column="0">
                <yesnoCheckbox />
              </element>
            </xslfo>
            <fo />
            <bo column="2" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="AbroadInternship" type="xs:boolean" default="false">
        <xs:annotation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
            Stage à l'étranger
          </xs:documentation>
          <xs:documentation xml:lang="en" source="http://www.cg95.fr/cvq/schema/longdesc">
            Abroad internship
          </xs:documentation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
            Stage à l'étranger
          </xs:documentation>
          <xs:documentation xml:lang="en" source="http://www.cg95.fr/cvq/schema/shortdesc">
            Abroad internship
          </xs:documentation>
          <xs:appinfo>
            <common>
              <step name="currentStudies" />
              <conditions>
                <condition name="makesAbroadInternship" type="trigger" />
              </conditions>
            </common>
            <xslfo>
              <element blockId="3" line="10" column="0">
                <yesnoCheckbox />
              </element>
            </xslfo>
            <fo />
            <bo column="2" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="AbroadInternshipStartDate" type="xs:date" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
            Date de début
          </xs:documentation>
          <xs:documentation xml:lang="en" source="http://www.cg95.fr/cvq/schema/longdesc">
            Start date
          </xs:documentation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
            Date de début
          </xs:documentation>
          <xs:documentation xml:lang="en" source="http://www.cg95.fr/cvq/schema/shortdesc">
            Start date
          </xs:documentation>
          <xs:appinfo>
            <common>
              <step name="currentStudies" />
              <conditions>
                <condition name="makesAbroadInternship" type="filled" required="true" />
              </conditions>
            </common>
            <xslfo>
              <element blockId="5" line="0" column="0">
                <simpleTemplate templateName="cvq:DisplayDate" templateParam="DateToDisplay" />
              </element>
            </xslfo>
            <fo />
            <bo column="2" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="AbroadInternshipEndDate" type="xs:date" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
            Date de fin
          </xs:documentation>
          <xs:documentation xml:lang="en" source="http://www.cg95.fr/cvq/schema/longdesc">
            End date
          </xs:documentation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
            Date de fin
          </xs:documentation>
          <xs:documentation xml:lang="en" source="http://www.cg95.fr/cvq/schema/shortdesc">
            End date
          </xs:documentation>
          <xs:appinfo>
            <common>
              <step name="currentStudies" />
              <conditions>
                <condition name="makesAbroadInternship" type="filled" required="true" />
              </conditions>
            </common>
            <xslfo>
              <element blockId="5" line="0" column="1">
                <simpleTemplate templateName="cvq:DisplayDate" templateParam="DateToDisplay" />
              </element>
            </xslfo>
            <fo />
            <bo column="2" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="AbroadInternshipSchoolName" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
            Nom de l'établissement d'accueil
          </xs:documentation>
          <xs:documentation xml:lang="en" source="http://www.cg95.fr/cvq/schema/longdesc">
            Reception school name
          </xs:documentation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
            Nom de l'établissement d'accueil
          </xs:documentation>
          <xs:documentation xml:lang="en" source="http://www.cg95.fr/cvq/schema/shortdesc">
            Reception school name
          </xs:documentation>
          <xs:appinfo>
            <common>
              <step name="currentStudies" />
              <conditions>
                <condition name="makesAbroadInternship" type="filled" required="true" />
              </conditions>
            </common>
            <xslfo>
              <element blockId="5" line="1" column="0">
                <string />
              </element>
            </xslfo>
            <fo />
            <bo column="2" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="AbroadInternshipSchoolCountry" type="cvq:CountryType">
        <xs:annotation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
            Pays
          </xs:documentation>
          <xs:documentation xml:lang="en" source="http://www.cg95.fr/cvq/schema/longdesc">
            Country
          </xs:documentation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
            Pays
          </xs:documentation>
          <xs:documentation xml:lang="en" source="http://www.cg95.fr/cvq/schema/shortdesc">
            Country
          </xs:documentation>
          <xs:appinfo>
            <model namespace="users" />
            <common>
              <step name="currentStudies" />
              <conditions>
                <condition name="makesAbroadInternship" type="filled" required="true" />
              </conditions>
            </common>
            <xslfo>
              <element blockId="5" line="1" column="1">
                <string />
              </element>
            </xslfo>
            <fo />
            <bo column="2" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="SgrCurrentSchoolType">
    <xs:annotation>
      <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
        Établissement scolaire
      </xs:documentation>
      <xs:documentation xml:lang="en" source="http://www.cg95.fr/cvq/schema/longdesc">
        Current school
      </xs:documentation>
      <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
        Établissement scolaire
      </xs:documentation>
      <xs:documentation xml:lang="en" source="http://www.cg95.fr/cvq/schema/shortdesc">
        Current school
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="CurrentSchoolName" type="cvq:LocalReferentialDataType" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
            Nom de l'établissement
          </xs:documentation>
          <xs:documentation xml:lang="en" source="http://www.cg95.fr/cvq/schema/longdesc">
            School name
          </xs:documentation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
            Nom de l'établissement
          </xs:documentation>
          <xs:documentation xml:lang="en" source="http://www.cg95.fr/cvq/schema/shortdesc">
            School name
          </xs:documentation>
          <xs:appinfo>
            <model namespace="users" isTiedToRequest="true" />
            <common>
              <step name="currentStudies" />
              <conditions>
                <condition name="isCurrentSchoolNameOther" type="trigger" />
              </conditions>
            </common>
            <xslfo>
              <element blockId="3" line="0" column="0">
                <localReferential />
              </element>
            </xslfo>
            <fo />
            <bo column="1" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="CurrentSchoolNamePrecision" type="xs:string">
        <xs:annotation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
            Précisez le nom
          </xs:documentation>
          <xs:documentation xml:lang="en" source="http://www.cg95.fr/cvq/schema/longdesc">
            Specify school name
          </xs:documentation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
            Précisez le nom
          </xs:documentation>
          <xs:documentation xml:lang="en" source="http://www.cg95.fr/cvq/schema/shortdesc">
            Specify school name
          </xs:documentation>
          <xs:appinfo>
            <common>
              <step name="currentStudies" />
              <conditions>
                <condition name="isCurrentSchoolNameOther" type="filled" required="true" />
              </conditions>
            </common>
            <xslfo>
              <element blockId="3" line="1" column="0">
                <string />
              </element>
            </xslfo>
            <fo />
            <bo column="1" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="CurrentSchoolPostalCode" type="cvq:PostalCodeType">
        <xs:annotation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
            Code postal
          </xs:documentation>
          <xs:documentation xml:lang="en" source="http://www.cg95.fr/cvq/schema/longdesc">
            Postal code
          </xs:documentation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
            Code postal
          </xs:documentation>
          <xs:documentation xml:lang="en" source="http://www.cg95.fr/cvq/schema/shortdesc">
            Postal code
          </xs:documentation>
          <xs:appinfo>
            <model namespace="users" />
            <common>
              <step name="currentStudies" />
            </common>
            <xslfo>
              <element blockId="3" line="2" column="0">
                <string />
              </element>
            </xslfo>
            <fo />
            <bo column="1" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="CurrentSchoolCity" type="cvq:CityType">
        <xs:annotation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
            Ville
          </xs:documentation>
          <xs:documentation xml:lang="en" source="http://www.cg95.fr/cvq/schema/longdesc">
            City
          </xs:documentation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
            Ville
          </xs:documentation>
          <xs:documentation xml:lang="en" source="http://www.cg95.fr/cvq/schema/shortdesc">
            City
          </xs:documentation>
          <xs:appinfo>
            <model namespace="users" />
            <common>
              <step name="currentStudies" />
            </common>
            <xslfo>
              <element blockId="3" line="3" column="0">
                <string />
              </element>
            </xslfo>
            <fo />
            <bo column="1" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="CurrentSchoolCountry" type="cvq:CountryType" default="fr">
        <xs:annotation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
            Pays
          </xs:documentation>
          <xs:documentation xml:lang="en" source="http://www.cg95.fr/cvq/schema/longdesc">
            Country
          </xs:documentation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
            Pays
          </xs:documentation>
          <xs:documentation xml:lang="en" source="http://www.cg95.fr/cvq/schema/shortdesc">
            Country
          </xs:documentation>
          <xs:appinfo>
            <model namespace="users" />
            <common>
              <step name="currentStudies" />
            </common>
            <xslfo>
              <element blockId="3" line="4" column="0">
                <string />
              </element>
            </xslfo>
            <fo />
            <bo column="1" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
