Generator/src/xml/schemas/request/StudyGrantRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="http://www.cg95.fr/cvq/schema/sgr"
  xmlns:sgr="http://www.cg95.fr/cvq/schema/sgr"
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns:cvq="http://www.cg95.fr/cvq/schema/common"
  elementFormDefault="qualified"
  attributeFormDefault="unqualified">
  <xs:import namespace="http://www.cg95.fr/cvq/schema/common"
    schemaLocation="../common/CVQCommonElements.xsd" />
  <xs:element name="StudyGrantRequest">
    <xs:annotation>
      <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
        Dossier de demande de bourse
      </xs:documentation>
      <xs:documentation xml:lang="en" source="http://www.cg95.fr/cvq/schema/longdesc">
        Study grant request
      </xs:documentation>
      <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
        Demande de bourse
      </xs:documentation>
      <xs:documentation xml:lang="en" source="http://www.cg95.fr/cvq/schema/shortdesc">
        Study grant request
      </xs:documentation>
      <xs:appinfo>
        <model namespace="school" />
        <common>
          <namespace name="school" />
          <steps>
            <step index="0" name="subject">
              <conditions>
                <condition name="livesWithParents" />
              </conditions>
            </step>
            <step index="1" name="taxHousehold" />
            <step index="2" name="otherHelps">
              <conditions>
                <condition name="otherHelpObtained" />
              </conditions>
            </step>
            <step index="3" name="currentStudies">
              <conditions>
                <condition name="notInLastYear" />
                <condition name="isInSandwichCourses" />
                <condition name="isInAbroadInternship" />
                <condition name="isInOtherStudies" />
              </conditions>
            </step>
            <step index="4" name="futureSchool">
              <conditions>
                <condition name="willDoAbroadInternship" />
              </conditions>
            </step>
            <step index="5" name="calculationElements" />
            <step index="6" name="bankReference" />
            <step index="7" ref="validation" />
          </steps>
        </common>
        <xslfo>
          <blocks-def>
            <block id="0" column="2" label="Sujet" />
            <block id="1" column="2" label="Foyer fiscal" />
            <block id="2" column="2" label="Autres aides" />
            <block id="3" column="2" label="Études en cours" />
            <block id="4" column="2" label="Précisions" displayCondition="//sgr:CurrentStudies/text() = 'sandwichCourses'" />
            <block id="5" column="2" label="Précisions" displayCondition="//sgr:CurrentStudies/text() = 'abroadInternship'" />
            <block id="6" column="2" label="Précisions" displayCondition="//sgr:CurrentStudies/text() = 'otherStudies'" />
            <block id="7" column="2" label="Études futures" />
            <block id="8" column="2" label="Éléments de calcul" />
            <block id="9" column="2" label="Coordonnées bancaires" />
          </blocks-def>
          <element blockId="0" line="0" column="0" columnSpan="2" link="Subject">
            <complexTemplate />
          </element>
        </xslfo>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="cvq:RequestType">
          <xs:sequence>
            <xs:element name="SubjetInformations" type="sgr:SubjectInformationsType">
              <xs:annotation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
                  Informations concernant le demandeur
                </xs:documentation>
                <xs:documentation xml:lang="en" source="http://www.cg95.fr/cvq/schema/longdesc">
                  Information about requester
                </xs:documentation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
                  Informations concernant le demandeur
                </xs:documentation>
                <xs:documentation xml:lang="en" source="http://www.cg95.fr/cvq/schema/shortdesc">
                  Information about requester
                </xs:documentation>
                <xs:appinfo>
                  <common>
                    <step name="subject" />
                  </common>
                  <xslfo>
                    <element blockId="0" line="1" column="0">
                      <localComplexElement />
                    </element>
                  </xslfo>
                  <fo />
                  <bo column="1" />
                </xs:appinfo>
              </xs:annotation>
            </xs:element>
            <xs:element name="TaxHouseholdLastName" type="cvq:LastNameType">
              <xs:annotation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
                  Nom
                </xs:documentation>
                <xs:documentation xml:lang="en" source="http://www.cg95.fr/cvq/schema/longdesc">
                  Last name
                </xs:documentation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
                  Nom
                </xs:documentation>
                <xs:documentation xml:lang="en" source="http://www.cg95.fr/cvq/schema/shortdesc">
                  Last name
                </xs:documentation>
                <xs:appinfo>
                  <model namespace="users" />
                  <common>
                    <step name="taxHousehold" />
                  </common>
                  <xslfo>
                    <element blockId="1" line="0" column="0">
                      <string />
                    </element>
                  </xslfo>
                  <fo />
                  <bo column="1" />
                </xs:appinfo>
              </xs:annotation>
            </xs:element>
            <xs:element name="TaxHouseholdFirstName" type="cvq:FirstNameType">
              <xs:annotation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
                  Prénom
                </xs:documentation>
                <xs:documentation xml:lang="en" source="http://www.cg95.fr/cvq/schema/longdesc">
                  First name
                </xs:documentation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
                  Prénom
                </xs:documentation>
                <xs:documentation xml:lang="en" source="http://www.cg95.fr/cvq/schema/shortdesc">
                  First name
                </xs:documentation>
                <xs:appinfo>
                  <model namespace="users" />
                  <common>
                    <step name="taxHousehold" />
                  </common>
                  <xslfo>
                    <element blockId="1" line="0" column="1">
                      <string />
                    </element>
                  </xslfo>
                  <fo />
                  <bo column="1" />
                </xs:appinfo>
              </xs:annotation>
            </xs:element>
            <xs:element name="TaxHouseholdAddress" type="cvq:AddressType">
              <xs:annotation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
                  Adresse
                </xs:documentation>
                <xs:documentation xml:lang="en" source="http://www.cg95.fr/cvq/schema/longdesc">
                  Address
                </xs:documentation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
                  Adresse
                </xs:documentation>
                <xs:documentation xml:lang="en" source="http://www.cg95.fr/cvq/schema/shortdesc">
                  Address
                </xs:documentation>
                <xs:appinfo>
                  <model namespace="users" isTiedToRequest="true" />
                  <common>
                    <step name="taxHousehold" />
                  </common>
                  <xslfo>
                    <element blockId="1" line="1" column="0">
                      <complexTemplate />
                    </element>
                  </xslfo>
                  <fo />
                  <bo column="2" />
                </xs:appinfo>
              </xs:annotation>
            </xs:element>
            <xs:element name="TaxHouseholdPhone" type="cvq:PhoneType">
              <xs:annotation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
                  Téléphone
                </xs:documentation>
                <xs:documentation xml:lang="en" source="http://www.cg95.fr/cvq/schema/longdesc">
                  Phone
                </xs:documentation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
                  Téléphone
                </xs:documentation>
                <xs:documentation xml:lang="en" source="http://www.cg95.fr/cvq/schema/shortdesc">
                  Phone
                </xs:documentation>
                <xs:appinfo>
                  <model namespace="users" />
                  <common>
                    <step name="taxHousehold" />
                  </common>
                  <xslfo>
                    <element blockId="1" line="2" column="0">
                      <string />
                    </element>
                  </xslfo>
                  <fo />
                  <bo column="1" />
                </xs:appinfo>
              </xs:annotation>
            </xs:element>
            <xs:element name="TaxHouseholdIncome" type="xs:double">
              <xs:annotation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
                  Revenu brut global indiqué sur l’avis d’imposition pour l'année précédente (à joindre au dossier)
                </xs:documentation>
                <xs:documentation xml:lang="en" source="http://www.cg95.fr/cvq/schema/longdesc">
                  Global gross income as stated on previous year income tax declaration (attach a copy)
                </xs:documentation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
                  Revenu brut global indiqué sur l’avis d’imposition pour l'année précédente (à joindre au dossier)
                </xs:documentation>
                <xs:documentation xml:lang="en" source="http://www.cg95.fr/cvq/schema/shortdesc">
                  Global gross income as stated on previous year income tax declaration (attach a copy)
                </xs:documentation>
                <xs:appinfo>
                  <model namespace="users" />
                  <common>
                    <step name="taxHousehold" />
                    <validation jsregexp="^\d+(?:\.\d{1,2})?$" />
                  </common>
                  <xslfo>
                    <element blockId="1" line="3" column="0">
                      <string />
                    </element>
                  </xslfo>
                  <fo />
                  <bo column="1" />
                </xs:appinfo>
              </xs:annotation>
            </xs:element>
            <xs:element name="HasCROUSHelp" type="xs:boolean" default="false">
              <xs:annotation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
                  CROUS
                </xs:documentation>
                <xs:documentation xml:lang="en" source="http://www.cg95.fr/cvq/schema/longdesc">
                  CROUS
                </xs:documentation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
                  CROUS
                </xs:documentation>
                <xs:documentation xml:lang="en" source="http://www.cg95.fr/cvq/schema/shortdesc">
                  CROUS
                </xs:documentation>
                <xs:appinfo>
                  <common>
                    <step name="otherHelps" />
                  </common>
                  <xslfo>
                    <element blockId="2" line="0" column="0">
                      <yesnoCheckbox />
                    </element>
                  </xslfo>
                  <fo />
                  <bo column="1" />
                </xs:appinfo>
              </xs:annotation>
            </xs:element>
            <xs:element name="HasOtherHelp" type="xs:boolean" default="false">
              <xs:annotation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
                  Autres (Conseil Régional, Établissement...)
                </xs:documentation>
                <xs:documentation xml:lang="en" source="http://www.cg95.fr/cvq/schema/longdesc">
                  Others (Regional Council, School...)
                </xs:documentation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
                  Autres (Conseil Régional, Établissement ...)
                </xs:documentation>
                <xs:documentation xml:lang="en" source="http://www.cg95.fr/cvq/schema/shortdesc">
                  Others (Regional Council, School...)
                </xs:documentation>
                <xs:appinfo>
                  <common>
                    <step name="otherHelps" />
                    <conditions>
                      <condition name="otherHelpObtained" type="trigger" />
                    </conditions>
                  </common>
                  <xslfo>
                    <element blockId="2" line="1" column="0">
                      <yesnoCheckbox />
                    </element>
                  </xslfo>
                  <fo />
                  <bo column="2" />
                </xs:appinfo>
              </xs:annotation>
            </xs:element>
            <xs:element name="OtherHelpInformations" type="xs:string" minOccurs="0">
              <xs:annotation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
                  À préciser
                </xs:documentation>
                <xs:documentation xml:lang="en" source="http://www.cg95.fr/cvq/schema/longdesc">
                  Specify
                </xs:documentation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
                  À préciser
                </xs:documentation>
                <xs:documentation xml:lang="en" source="http://www.cg95.fr/cvq/schema/shortdesc">
                  Specify
                </xs:documentation>
                <xs:appinfo>
                  <common>
                    <step name="otherHelps" />
                    <conditions>
                      <condition name="otherHelpObtained" type="filled" required="true" />
                    </conditions>
                  </common>
                  <xslfo>
                    <element blockId="2" line="2" column="0">
                      <string />
                    </element>
                  </xslfo>
                  <fo />
                  <bo column="2" />
                </xs:appinfo>
              </xs:annotation>
            </xs:element>
            <xs:element name="ALevelsInformations" type="sgr:ALevelsInformationsType">
              <xs:annotation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
                  Baccalauréat
                </xs:documentation>
                <xs:documentation xml:lang="en" source="http://www.cg95.fr/cvq/schema/longdesc">
                  A Levels
                </xs:documentation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
                  Baccalauréat
                </xs:documentation>
                <xs:documentation xml:lang="en" source="http://www.cg95.fr/cvq/schema/shortdesc">
                  A Levels
                </xs:documentation>
                <xs:appinfo>
                  <common>
                    <step name="currentStudies" />
                  </common>
                  <xslfo>
                    <element blockId="3" line="0" column="0">
                      <localComplexElement />
                    </element>
                  </xslfo>
                  <fo />
                  <bo column="1" />
                </xs:appinfo>
              </xs:annotation>
            </xs:element>
            <xs:element name="CurrentStudiesInformations" type="sgr:CurrentStudiesInformationsType" minOccurs="0">
              <xs:annotation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
                  Études supérieures
                </xs:documentation>
                <xs:documentation xml:lang="en" source="http://www.cg95.fr/cvq/schema/longdesc">
                  Higher education
                </xs:documentation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
                  Études supérieures
                </xs:documentation>
                <xs:documentation xml:lang="en" source="http://www.cg95.fr/cvq/schema/shortdesc">
                  Higher education
                </xs:documentation>
                <xs:appinfo>
                  <common>
                    <step name="currentStudies" />
                    <conditions>
                      <condition name="notInLastYear" type="filled" required="true" />
                    </conditions>
                  </common>
                  <xslfo>
                    <element blockId="3" line="1" column="0">
                      <localComplexElement />
                    </element>
                  </xslfo>
                  <fo />
                  <bo column="2" />
                </xs:appinfo>
              </xs:annotation>
            </xs:element>
            <!--  -->
            <xs:element name="FutureSchoolName" type="xs:string">
              <xs:annotation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
                  Nom de l'établissement
                </xs:documentation>
                <xs:documentation xml:lang="en" source="http://www.cg95.fr/cvq/schema/longdesc">
                  School name
                </xs:documentation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
                  Nom de l'établissement
                </xs:documentation>
                <xs:documentation xml:lang="en" source="http://www.cg95.fr/cvq/schema/shortdesc">
                  School name
                </xs:documentation>
                <xs:appinfo>
                  <common>
                    <step name="futureSchool" />
                  </common>
                  <xslfo>
                    <element blockId="7" line="0" column="0">
                      <string />
                    </element>
                  </xslfo>
                  <fo />
                  <bo column="1" />
                </xs:appinfo>
              </xs:annotation>
            </xs:element>
            <xs:element name="FutureSchoolAddress" type="cvq:AddressType">
              <xs:annotation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
                  Adresse de l'établissement
                </xs:documentation>
                <xs:documentation xml:lang="en" source="http://www.cg95.fr/cvq/schema/longdesc">
                  School address
                </xs:documentation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
                  Adresse de l'établissement
                </xs:documentation>
                <xs:documentation xml:lang="en" source="http://www.cg95.fr/cvq/schema/shortdesc">
                  School address
                </xs:documentation>
                <xs:appinfo>
                  <model namespace="users" isTiedToRequest="true" />
                  <common>
                    <step name="futureSchool" />
                  </common>
                  <xslfo>
                    <element blockId="7" line="1" column="0">
                      <complexTemplate />
                    </element>
                  </xslfo>
                  <fo />
                  <bo column="1" />
                </xs:appinfo>
              </xs:annotation>
            </xs:element>
            <xs:element name="FutureSchoolPhone" type="cvq:PhoneType">
              <xs:annotation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
                  Téléphone de l'établissement
                </xs:documentation>
                <xs:documentation xml:lang="en" source="http://www.cg95.fr/cvq/schema/longdesc">
                  School phone
                </xs:documentation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
                  Téléphone de l'établissement
                </xs:documentation>
                <xs:documentation xml:lang="en" source="http://www.cg95.fr/cvq/schema/shortdesc">
                  School phone
                </xs:documentation>
                <xs:appinfo>
                  <model namespace="users" />
                  <common>
                    <step name="futureSchool" />
                  </common>
                  <xslfo>
                    <element blockId="7" line="2" column="0">
                      <string />
                    </element>
                  </xslfo>
                  <fo />
                  <bo column="1" />
                </xs:appinfo>
              </xs:annotation>
            </xs:element>
            <xs:element name="FutureDiplomaName" type="xs:string">
              <xs:annotation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
                  Diplôme préparé
                </xs:documentation>
                <xs:documentation xml:lang="en" source="http://www.cg95.fr/cvq/schema/longdesc">
                  Prepared diploma
                </xs:documentation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
                  Diplôme préparé
                </xs:documentation>
                <xs:documentation xml:lang="en" source="http://www.cg95.fr/cvq/schema/shortdesc">
                  Prepared diploma
                </xs:documentation>
                <xs:appinfo>
                  <common>
                    <step name="futureSchool" />
                  </common>
                  <xslfo>
                    <element blockId="7" line="3" column="0">
                      <string />
                    </element>
                  </xslfo>
                  <fo />
                  <bo column="1" />
                </xs:appinfo>
              </xs:annotation>
            </xs:element>
            <xs:element name="FutureDiplomaLevel" type="xs:string">
              <xs:annotation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
                  Niveau (1ère, 2ème année)
                </xs:documentation>
                <xs:documentation xml:lang="en" source="http://www.cg95.fr/cvq/schema/longdesc">
                  Year (1st, 2nd)
                </xs:documentation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
                  Niveau (1ère, 2ème année)
                </xs:documentation>
                <xs:documentation xml:lang="en" source="http://www.cg95.fr/cvq/schema/shortdesc">
                  Year (1st, 2nd)
                </xs:documentation>
                <xs:appinfo>
                  <common>
                    <step name="futureSchool" />
                  </common>
                  <xslfo>
                    <element blockId="7" line="3" column="1">
                      <string />
                    </element>
                  </xslfo>
                  <fo />
                  <bo column="1" />
                </xs:appinfo>
              </xs:annotation>
            </xs:element>
            <xs:element name="FutureSchoolIsAbroad" type="xs:boolean" default="false">
              <xs:annotation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
                  Stage à l'étranger
                </xs:documentation>
                <xs:documentation xml:lang="en" source="http://www.cg95.fr/cvq/schema/longdesc">
                  Abroad internship
                </xs:documentation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
                  Stage à l'étranger
                </xs:documentation>
                <xs:documentation xml:lang="en" source="http://www.cg95.fr/cvq/schema/shortdesc">
                  Abroad internship
                </xs:documentation>
                <xs:appinfo>
                  <common>
                    <step name="futureSchool" />
                    <conditions>
                      <condition name="willDoAbroadInternship" type="trigger" />
                    </conditions>
                  </common>
                  <xslfo>
                    <element blockId="7" line="4" column="0">
                      <yesnoCheckbox />
                    </element>
                  </xslfo>
                  <fo />
                  <bo column="2" />
                </xs:appinfo>
              </xs:annotation>
            </xs:element>
            <xs:element name="AbroadInternshipSchoolName" type="xs:string" minOccurs="0">
              <xs:annotation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
                  Nom de l'établissement d'accueil
                </xs:documentation>
                <xs:documentation xml:lang="en" source="http://www.cg95.fr/cvq/schema/longdesc">
                  Reception school name
                </xs:documentation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
                  Nom de l'établissement d'accueil
                </xs:documentation>
                <xs:documentation xml:lang="en" source="http://www.cg95.fr/cvq/schema/shortdesc">
                  Reception school name
                </xs:documentation>
                <xs:appinfo>
                  <common>
                    <step name="futureSchool" />
                    <conditions>
                      <condition name="willDoAbroadInternship" type="filled" required="true" />
                    </conditions>
                  </common>
                  <xslfo>
                    <element blockId="7" line="5" column="0">
                      <string />
                    </element>
                  </xslfo>
                  <fo />
                  <bo column="2" />
                </xs:appinfo>
              </xs:annotation>
            </xs:element>
            <xs:element name="AbroadInternshipSchoolAddress" type="xs:string" minOccurs="0">
              <xs:annotation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
                  Adresse complète
                </xs:documentation>
                <xs:documentation xml:lang="en" source="http://www.cg95.fr/cvq/schema/longdesc">
                  Complete address
                </xs:documentation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
                  Adresse complète
                </xs:documentation>
                <xs:documentation xml:lang="en" source="http://www.cg95.fr/cvq/schema/shortdesc">
                  Complete address
                </xs:documentation>
                <xs:appinfo>
                  <common>
                    <step name="futureSchool" />
                    <conditions>
                      <condition name="willDoAbroadInternship" type="filled" required="true" />
                    </conditions>
                  </common>
                  <xslfo>
                    <element blockId="7" line="6" column="0">
                      <string />
                    </element>
                  </xslfo>
                  <fo />
                  <bo column="2" />
                </xs:appinfo>
              </xs:annotation>
            </xs:element>
            <xs:element name="AbroadInternshipSchoolCountry" type="cvq:CountryType">
              <xs:annotation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
                  Pays
                </xs:documentation>
                <xs:documentation xml:lang="en" source="http://www.cg95.fr/cvq/schema/longdesc">
                  Country
                </xs:documentation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
                  Pays
                </xs:documentation>
                <xs:documentation xml:lang="en" source="http://www.cg95.fr/cvq/schema/shortdesc">
                  Country
                </xs:documentation>
                <xs:appinfo>
                  <model namespace="users" />
                  <common>
                    <step name="futureSchool" />
                    <conditions>
                      <condition name="willDoAbroadInternship" type="filled" required="true" />
                    </conditions>
                  </common>
                  <xslfo>
                    <element blockId="7" line="7" column="0">
                      <string />
                    </element>
                  </xslfo>
                  <fo />
                  <bo column="2" />
                </xs:appinfo>
              </xs:annotation>
            </xs:element>
            <xs:element name="Distance" type="sgr:DistanceType">
              <xs:annotation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
                  Lieu d'études situé à
                </xs:documentation>
                <xs:documentation xml:lang="en" source="http://www.cg95.fr/cvq/schema/longdesc">
                  Distance between home and school
                </xs:documentation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
                  Lieu d'études situé à
                </xs:documentation>
                <xs:documentation xml:lang="en" source="http://www.cg95.fr/cvq/schema/shortdesc">
                  Distance between home and school
                </xs:documentation>
                <xs:appinfo>
                  <common>
                    <step name="calculationElements" />
                  </common>
                  <xslfo>
                    <element blockId="8" line="0" column="0">
                      <string />
                    </element>
                  </xslfo>
                  <fo />
                  <bo column="1" />
                </xs:appinfo>
              </xs:annotation>
            </xs:element>
            <xs:element name="BankName" type="xs:string">
              <xs:annotation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
                  Banque
                </xs:documentation>
                <xs:documentation xml:lang="en" source="http://www.cg95.fr/cvq/schema/longdesc">
                  Bank
                </xs:documentation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
                  Banque
                </xs:documentation>
                <xs:documentation xml:lang="en" source="http://www.cg95.fr/cvq/schema/shortdesc">
                  Bank
                </xs:documentation>
                <xs:appinfo>
                  <common>
                    <step name="bankReference" />
                  </common>
                  <xslfo>
                    <element blockId="9" line="0" column="0">
                      <string />
                    </element>
                  </xslfo>
                  <fo />
                  <bo column="1" />
                </xs:appinfo>
              </xs:annotation>
            </xs:element>
            <xs:element name="BankCode">
              <xs:annotation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
                  Code banque
                </xs:documentation>
                <xs:documentation xml:lang="en" source="http://www.cg95.fr/cvq/schema/longdesc">
                  Bank code
                </xs:documentation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
                  Code banque
                </xs:documentation>
                <xs:documentation xml:lang="en" source="http://www.cg95.fr/cvq/schema/shortdesc">
                  Bank code
                </xs:documentation>
                <xs:appinfo>
                  <common>
                    <step name="bankReference" />
                    <validation jsregexp="^\d{1,5}$" />
                  </common>
                  <xslfo>
                    <element blockId="9" line="0" column="1">
                      <string />
                    </element>
                  </xslfo>
                  <fo />
                  <bo column="2" />
                </xs:appinfo>
              </xs:annotation>
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:maxLength value="5" />
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element name="BankAgency" type="xs:string">
              <xs:annotation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
                  Agence
                </xs:documentation>
                <xs:documentation xml:lang="en" source="http://www.cg95.fr/cvq/schema/longdesc">
                  Agency
                </xs:documentation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
                  Agence
                </xs:documentation>
                <xs:documentation xml:lang="en" source="http://www.cg95.fr/cvq/schema/shortdesc">
                  Agency
                </xs:documentation>
                <xs:appinfo>
                  <common>
                    <step name="bankReference" />
                  </common>
                  <xslfo>
                    <element blockId="9" line="1" column="0">
                      <string />
                    </element>
                  </xslfo>
                  <fo />
                  <bo column="1" />
                </xs:appinfo>
              </xs:annotation>
            </xs:element>
            <xs:element name="CounterCode">
              <xs:annotation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
                  Code guichet
                </xs:documentation>
                <xs:documentation xml:lang="en" source="http://www.cg95.fr/cvq/schema/longdesc">
                  Couter code
                </xs:documentation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
                  Code guichet
                </xs:documentation>
                <xs:documentation xml:lang="en" source="http://www.cg95.fr/cvq/schema/shortdesc">
                  Counter code
                </xs:documentation>
                <xs:appinfo>
                  <common>
                    <step name="bankReference" />
                    <validation jsregexp="^\d{1,5}$" />
                  </common>
                  <xslfo>
                    <element blockId="9" line="1" column="1">
                      <string />
                    </element>
                  </xslfo>
                  <fo />
                  <bo column="2" />
                </xs:appinfo>
              </xs:annotation>
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:maxLength value="5" />
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element name="AccountNumber">
              <xs:annotation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
                  Numéro de compte
                </xs:documentation>
                <xs:documentation xml:lang="en" source="http://www.cg95.fr/cvq/schema/longdesc">
                  Account number
                </xs:documentation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
                  Numéro de compte
                </xs:documentation>
                <xs:documentation xml:lang="en" source="http://www.cg95.fr/cvq/schema/shortdesc">
                  Account number
                </xs:documentation>
                <xs:appinfo>
                  <common>
                    <step name="bankReference" />
                    <validation jsregexp="^[a-zA-Z0-9]{1,11}$" />
                  </common>
                  <xslfo>
                    <element blockId="9" line="2" column="0">
                      <string />
                    </element>
                  </xslfo>
                  <fo />
                  <bo column="1" />
                </xs:appinfo>
              </xs:annotation>
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:maxLength value="11" />
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element name="AccountKey">
              <xs:annotation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
                  Clé RIB
                </xs:documentation>
                <xs:documentation xml:lang="en" source="http://www.cg95.fr/cvq/schema/longdesc">
                  Account key
                </xs:documentation>
                <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
                  Clé RIB
                </xs:documentation>
                <xs:documentation xml:lang="en" source="http://www.cg95.fr/cvq/schema/shortdesc">
                  Account key
                </xs:documentation>
                <xs:appinfo>
                  <common>
                    <step name="bankReference" />
                    <validation jsregexp="^(?:O[1-9])|(?:[1-8]\d)|(?:9[0-7])$" />
                  </common>
                  <xslfo>
                    <element blockId="9" line="2" column="1">
                      <string />
                    </element>
                  </xslfo>
                  <fo />
                  <bo column="2" />
                </xs:appinfo>
              </xs:annotation>
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:maxLength value="2" />
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
          </xs:sequence>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:simpleType name="DistanceType">
    <xs:annotation>
      <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/translation/enum">
        <enum key="lessThan30km" value="Moins de 30 km du domicile" />
        <enum key="between30and250km" value="Entre 30 et 250 km du domicile" />
        <enum key="moreThan250kmAndAbroad" value="Plus de 250 km du domicile et à l’international" />
      </xs:documentation>
      <xs:documentation xml:lang="en" source="http://www.cg95.fr/cvq/schema/translation/enum">
        <enum key="lessThan30km" value="Less than 30 km from home" />
        <enum key="between30and250km" value="Between 30 and 250 km from home" />
        <enum key="moreThan250kmAndAbroad" value="More than 250 km from home and abroad" />
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="lessThan30km"></xs:enumeration>
      <xs:enumeration value="between30and250km"></xs:enumeration>
      <xs:enumeration value="moreThan250kmAndAbroad"></xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="CurrentStudiesType">
    <xs:annotation>
      <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/translation/enum">
        <enum key="licence1" value="Licence 1" />
        <enum key="licence2" value="Licence 2" />
        <enum key="licence3" value="Licence 3" />
        <enum key="licencePro" value="Licence Pro" />
        <enum key="master" value="Master" />
        <enum key="master1" value="Master 1" />
        <enum key="master2" value="Master 2" />
        <enum key="bts1" value="BTS 1" />
        <enum key="bts2" value="BTS 2" />
        <enum key="dut1" value="DUT 1" />
        <enum key="dut2" value="DUT 2" />
        <enum key="sandwichCourses" value="Études en alternance" />
        <enum key="abroadInternship" value="Stage conventionné à l'étranger" />
        <enum key="otherStudies" value="Autre" />
      </xs:documentation>
      <xs:documentation xml:lang="en" source="http://www.cg95.fr/cvq/schema/translation/enum">
        <enum key="licence1" value="Licence 1" />
        <enum key="licence2" value="Licence 2" />
        <enum key="licence3" value="Licence 3" />
        <enum key="licencePro" value="Licence Pro" />
        <enum key="master" value="Master" />
        <enum key="master1" value="Master 1" />
        <enum key="master2" value="Master 2" />
        <enum key="bts1" value="BTS 1" />
        <enum key="bts2" value="BTS 2" />
        <enum key="dut1" value="DUT 1" />
        <enum key="dut2" value="DUT 2" />
        <enum key="sandwichCourses" value="Sandwich courses" />
        <enum key="abroadInternship" value="Abroad official internship" />
        <enum key="otherStudies" value="Other" />
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="licence1"></xs:enumeration>
      <xs:enumeration value="licence2"></xs:enumeration>
      <xs:enumeration value="licence3"></xs:enumeration>
      <xs:enumeration value="licencePro"></xs:enumeration>
      <xs:enumeration value="master"></xs:enumeration>
      <xs:enumeration value="master1"></xs:enumeration>
      <xs:enumeration value="master2"></xs:enumeration>
      <xs:enumeration value="bts1"></xs:enumeration>
      <xs:enumeration value="bts2"></xs:enumeration>
      <xs:enumeration value="dut1"></xs:enumeration>
      <xs:enumeration value="dut2"></xs:enumeration>
      <xs:enumeration value="sandwichCourses"></xs:enumeration>
      <xs:enumeration value="abroadInternship"></xs:enumeration>
      <xs:enumeration value="otherStudies"></xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="SubjectInformationsType">
    <xs:annotation>
      <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
        Informations sur le sujet
      </xs:documentation>
      <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
        Informations sur le sujet
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="SubjectPhone" type="cvq:PhoneType">
        <xs:annotation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
            Téléphone fixe
          </xs:documentation>
          <xs:documentation xml:lang="en" source="http://www.cg95.fr/cvq/schema/longdesc">
            Phone
          </xs:documentation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
            Téléphone fixe
          </xs:documentation>
          <xs:documentation xml:lang="en" source="http://www.cg95.fr/cvq/schema/shortdesc">
            Phone
          </xs:documentation>
          <xs:appinfo>
            <model namespace="users" />
            <common>
              <step name="subject" />
            </common>
            <xslfo>
              <element blockId="0" line="1" column="0">
                <string />
              </element>
            </xslfo>
            <fo />
            <bo column="1" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="SubjectMobilePhone" type="cvq:PhoneType">
        <xs:annotation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
            Téléphone mobile
          </xs:documentation>
          <xs:documentation xml:lang="en" source="http://www.cg95.fr/cvq/schema/longdesc">
            Mobile phone
          </xs:documentation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
            Téléphone mobile
          </xs:documentation>
          <xs:documentation xml:lang="en" source="http://www.cg95.fr/cvq/schema/shortdesc">
            Mobile phone
          </xs:documentation>
          <xs:appinfo>
            <model namespace="users" />
            <common>
              <step name="subject" />
            </common>
            <xslfo>
              <element blockId="0" line="1" column="1">
                <string />
              </element>
            </xslfo>
            <fo />
            <bo column="1" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="SubjectEmail" type="cvq:EmailType">
        <xs:annotation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
            Courriel
          </xs:documentation>
          <xs:documentation xml:lang="en" source="http://www.cg95.fr/cvq/schema/longdesc">
            Email
          </xs:documentation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
            Courriel
          </xs:documentation>
          <xs:documentation xml:lang="en" source="http://www.cg95.fr/cvq/schema/shortdesc">
            Email
          </xs:documentation>
          <xs:appinfo>
            <model namespace="users" />
            <common>
              <step name="subject" />
            </common>
            <xslfo>
              <element blockId="0" line="2" column="0">
                <string />
              </element>
            </xslfo>
            <fo />
            <bo column="1" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="SubjectBirthDate" type="xs:date">
        <xs:annotation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
            Date de naissance
          </xs:documentation>
          <xs:documentation xml:lang="en" source="http://www.cg95.fr/cvq/schema/longdesc">
            Date of birth
          </xs:documentation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
            Date de naissance
          </xs:documentation>
          <xs:documentation xml:lang="en" source="http://www.cg95.fr/cvq/schema/shortdesc">
            Date of birth
          </xs:documentation>
          <xs:appinfo>
            <common>
              <step name="subject" />
            </common>
            <xslfo>
              <element blockId="0" line="3" column="0">
                <string />
              </element>
            </xslfo>
            <fo />
            <bo column="1" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="SubjectBirthPlace" type="xs:string">
        <xs:annotation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
            Lieu de naissance
          </xs:documentation>
          <xs:documentation xml:lang="en" source="http://www.cg95.fr/cvq/schema/longdesc">
            Place of birth
          </xs:documentation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
            Lieu de naissance
          </xs:documentation>
          <xs:documentation xml:lang="en" source="http://www.cg95.fr/cvq/schema/shortdesc">
            Place of birth
          </xs:documentation>
          <xs:appinfo>
            <common>
              <step name="subject" />
            </common>
            <xslfo>
              <element blockId="0" line="3" column="1">
                <string />
              </element>
            </xslfo>
            <fo />
            <bo column="1" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="HasParentsAddress" type="xs:boolean" default="true">
        <xs:annotation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
            Réside au foyer familial
          </xs:documentation>
          <xs:documentation xml:lang="en" source="http://www.cg95.fr/cvq/schema/longdesc">
            Lives in parents household
          </xs:documentation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
            Réside au foyer familial
          </xs:documentation>
          <xs:documentation xml:lang="en" source="http://www.cg95.fr/cvq/schema/shortdesc">
            Lives in parents household
          </xs:documentation>
          <xs:appinfo>
            <common>
              <step name="subject" />
              <conditions>
                <condition name="livesWithParents" type="trigger" />
              </conditions>
            </common>
            <xslfo>
              <element blockId="0" line="4" column="0">
                <yesnoCheckbox />
              </element>
            </xslfo>
            <fo />
            <bo column="2" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="SubjectAddress" type="cvq:AddressType" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
            Adresse
          </xs:documentation>
          <xs:documentation xml:lang="en" source="http://www.cg95.fr/cvq/schema/longdesc">
            Address
          </xs:documentation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
            Adresse
          </xs:documentation>
          <xs:documentation xml:lang="en" source="http://www.cg95.fr/cvq/schema/shortdesc">
            Address
          </xs:documentation>
          <xs:appinfo>
            <model namespace="users" isTiedToRequest="true" />
            <common>
              <step name="subject" />
              <conditions>
                <condition name="livesWithParents" type="unfilled" required="true" />
              </conditions>
            </common>
            <xslfo>
              <element blockId="0" line="5" column="0">
                <complexTemplate />
              </element>
            </xslfo>
            <fo />
            <bo column="2" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ALevelsInformationsType">
    <xs:annotation>
      <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
        Baccalauréat
      </xs:documentation>
      <xs:documentation xml:lang="en" source="http://www.cg95.fr/cvq/schema/longdesc">
        A Levels
      </xs:documentation>
      <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
        Baccalauréat
      </xs:documentation>
      <xs:documentation xml:lang="en" source="http://www.cg95.fr/cvq/schema/shortdesc">
        A Levels
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="IsInLastYear" type="xs:boolean" default="false">
        <xs:annotation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
            Actuellement en Terminale
          </xs:documentation>
          <xs:documentation xml:lang="en" source="http://www.cg95.fr/cvq/schema/longdesc">
            Currently in last year
          </xs:documentation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
            Actuellement en Terminale
          </xs:documentation>
          <xs:documentation xml:lang="en" source="http://www.cg95.fr/cvq/schema/shortdesc">
            Currently in last year
          </xs:documentation>
          <xs:appinfo>
            <common>
              <step name="currentStudies" />
              <conditions>
                <condition name="notInLastYear" type="trigger" />
              </conditions>
            </common>
            <xslfo>
              <element blockId="3" line="0" column="0">
                <yesnoCheckbox />
              </element>
            </xslfo>
            <fo />
            <bo column="1" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="LastYearDate" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
            Année d'obtention du baccalauréat
          </xs:documentation>
          <xs:documentation xml:lang="en" source="http://www.cg95.fr/cvq/schema/longdesc">
            A Levels obtaining year
          </xs:documentation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
            Année d'obtention du baccalauréat
          </xs:documentation>
          <xs:documentation xml:lang="en" source="http://www.cg95.fr/cvq/schema/shortdesc">
            A Levels obtaining year
          </xs:documentation>
          <xs:appinfo>
            <common>
              <step name="currentStudies" />
              <validation jsregexp="^\d{2,4}$" />
              <conditions>
                <condition name="notInLastYear" type="filled" required="true" />
              </conditions>
            </common>
            <xslfo>
              <element blockId="3" line="1" column="0">
                <string />
              </element>
            </xslfo>
            <fo />
            <bo column="1" />
          </xs:appinfo>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="4" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="LastYearType" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
            Type de baccalauréat
          </xs:documentation>
          <xs:documentation xml:lang="en" source="http://www.cg95.fr/cvq/schema/longdesc">
            A Levels type
          </xs:documentation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
            Type de baccalauréat
          </xs:documentation>
          <xs:documentation xml:lang="en" source="http://www.cg95.fr/cvq/schema/shortdesc">
            A Levels type
          </xs:documentation>
          <xs:appinfo>
            <common>
              <step name="currentStudies" />
              <conditions>
                <condition name="notInLastYear" type="filled" required="true" />
              </conditions>
            </common>
            <xslfo>
              <element blockId="3" line="1" column="1">
                <string />
              </element>
            </xslfo>
            <fo />
            <bo column="1" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CurrentStudiesInformationsType">
    <xs:annotation>
      <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
        Études en cours
      </xs:documentation>
      <xs:documentation xml:lang="en" source="http://www.cg95.fr/cvq/schema/longdesc">
        Current studies
      </xs:documentation>
      <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
        Études en cours
      </xs:documentation>
      <xs:documentation xml:lang="en" source="http://www.cg95.fr/cvq/schema/shortdesc">
        Current studies
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="CurrentStudies" type="sgr:CurrentStudiesType">
        <xs:annotation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
            Études en cours
          </xs:documentation>
          <xs:documentation xml:lang="en" source="http://www.cg95.fr/cvq/schema/longdesc">
            Current studies
          </xs:documentation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
            Études en cours
          </xs:documentation>
          <xs:documentation xml:lang="en" source="http://www.cg95.fr/cvq/schema/shortdesc">
            Current studies
          </xs:documentation>
          <xs:appinfo>
            <common>
              <step name="currentStudies" />
              <conditions>
                <condition name="isInAbroadInternship" type="trigger" />
                <condition name="isInSandwichCourses" type="trigger" />
                <condition name="isInOtherStudies" type="trigger" />
              </conditions>
            </common>
            <xslfo>
              <element blockId="3" line="2" column="0">
                <string />
              </element>
            </xslfo>
            <fo />
            <bo column="1" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="SandwichCoursesLabel" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
            Études en alternance
          </xs:documentation>
          <xs:documentation xml:lang="en" source="http://www.cg95.fr/cvq/schema/longdesc">
            Sandwich courses
          </xs:documentation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
            Études en alternance
          </xs:documentation>
          <xs:documentation xml:lang="en" source="http://www.cg95.fr/cvq/schema/shortdesc">
            Sandwich courses
          </xs:documentation>
          <xs:appinfo>
            <common>
              <step name="currentStudies" />
              <conditions>
                <condition name="isInSandwichCourses" type="filled" required="true" />
              </conditions>
            </common>
            <xslfo>
              <element blockId="4" line="0" column="0">
                <string />
              </element>
            </xslfo>
            <fo />
            <bo column="2" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="AbroadInternshipStartDate" type="xs:date" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
            Date de début
          </xs:documentation>
          <xs:documentation xml:lang="en" source="http://www.cg95.fr/cvq/schema/longdesc">
            Start date
          </xs:documentation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
            Date de début
          </xs:documentation>
          <xs:documentation xml:lang="en" source="http://www.cg95.fr/cvq/schema/shortdesc">
            Start date
          </xs:documentation>
          <xs:appinfo>
            <common>
              <step name="currentStudies" />
              <conditions>
                <condition name="isInAbroadInternship" type="filled" required="true" />
              </conditions>
            </common>
            <xslfo>
              <element blockId="5" line="0" column="0">
                <string />
              </element>
            </xslfo>
            <fo />
            <bo column="2" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="AbroadInternshipEndDate" type="xs:date" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
            Date de fin
          </xs:documentation>
          <xs:documentation xml:lang="en" source="http://www.cg95.fr/cvq/schema/longdesc">
            End date
          </xs:documentation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
            Date de fin
          </xs:documentation>
          <xs:documentation xml:lang="en" source="http://www.cg95.fr/cvq/schema/shortdesc">
            End date
          </xs:documentation>
          <xs:appinfo>
            <common>
              <step name="currentStudies" />
              <conditions>
                <condition name="isInAbroadInternship" type="filled" required="true" />
              </conditions>
            </common>
            <xslfo>
              <element blockId="5" line="1" column="0">
                <string />
              </element>
            </xslfo>
            <fo />
            <bo column="2" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="OtherStudiesLabel" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/longdesc">
            Précisez
          </xs:documentation>
          <xs:documentation xml:lang="en" source="http://www.cg95.fr/cvq/schema/longdesc">
            Specify
          </xs:documentation>
          <xs:documentation xml:lang="fr" source="http://www.cg95.fr/cvq/schema/shortdesc">
            Précisez
          </xs:documentation>
          <xs:documentation xml:lang="en" source="http://www.cg95.fr/cvq/schema/shortdesc">
            Specify
          </xs:documentation>
          <xs:appinfo>
            <common>
              <step name="currentStudies" />
              <conditions>
                <condition name="isInOtherStudies" type="filled" required="true" />
              </conditions>
            </common>
            <xslfo>
              <element blockId="6" line="0" column="0">
                <string />
              </element>
            </xslfo>
            <fo />
            <bo column="2" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
