Model/src/xml/schemas/external/lab/RequestResponseMessage.xsd

<xs:schema targetNamespace="http://www.capwebct.fr/capdemat"
  xmlns:capdemat="http://www.capwebct.fr/capdemat"
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  elementFormDefault="qualified" 
  attributeFormDefault="unqualified">

  <xs:element name="RequestResponseMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Error" type="capdemat:ErrorType" minOccurs="0">
          <xs:annotation>
            <xs:documentation>
              The container type for error responses
            </xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="state" type="xs:string" />
      <xs:attribute name="timestamp" type="xs:dateTime" />
    </xs:complexType>
  </xs:element>

  <xs:complexType name="ErrorType">
    <xs:sequence>
      <xs:element name="Message" type="xs:long" />
    </xs:sequence>
    <xs:attribute name="code" type="xs:integer" />
  </xs:complexType>

</xs:schema>
